CHORD_LAYER(BSPCDOTSPCLSHIFT, &kp BSPC &kp DOT &kp SPC &sk LSHIFT, P_DOT, CHORDLAYER)
CHORD_LAYER(BSPCCOMMA,  &kp BSPC &kp COMMA &kp SPC, P_COMMA, CHORDLAYER)
CHORD_LAYER(BSPCQUESTION,  &kp BSPC &kp QUESTION &kp SPC, P_REP P_COMMA, CHORDLAYER)
CHORD_LAYER(BSPCnSQTt,  &kp BSPC &kp N &kp SQT &kp T &kp SPC, P_MINUS, CHORDLAYER)
CHORD_LAYER(BSPCSQTd,  &kp BSPC &kp SQT &kp D &kp SPC, P_MINUS P_D, CHORDLAYER)
CHORD_LAYER(BSPCSQTs,  &kp BSPC &kp SQT &kp S &kp SPC, P_MINUS P_S, CHORDLAYER)
CHORD_LAYER(BSPCSQTll,  &kp BSPC &kp SQT &kp L &kp L &kp SPC, P_MINUS P_L, CHORDLAYER)
CHORD_LAYER(BSPCSQTre,  &kp BSPC &kp SQT &kp R &kp E &kp SPC, P_MINUS P_R, CHORDLAYER)
CHORD_LAYER(BSPCSQTve,  &kp BSPC &kp SQT &kp V &kp E &kp SPC, P_MINUS P_V, CHORDLAYER)
CHORD_LAYER(BSPCSQTm,  &kp BSPC &kp SQT &kp M &kp SPC, P_MINUS P_M, CHORDLAYER)
CHORD_LAYER(BSPCing,  &kp BSPC &kp I &kp N &kp G &kp SPC, P_MINUS P_G, CHORDLAYER)
CHORD_LAYER(Patrick,  &sk LSHIFT &kp P &kp A &kp T &kp R &kp K &kp C &kp K &kp SPC, P_P P_A P_T, CHORDLAYER)
CHORD_LAYER(Mukherjee,  &sk LSHIFT &kp M &kp U &kp K &kp H &kp E &kp R &kp J &kp E &kp E &kp SPC, P_M P_U P_K, CHORDLAYER)
CHORD_LAYER(my_email,  &kp P &kp A &kp T &kp R &kp I &kp C &kp K &kp AT &kp M &kp U &kp K &kp H &kp E &kp R &kp J &kp E &kp E &kp DOT &kp D &kp E, P_M P_A P_I P_L, CHORDLAYER)
CHORD_LAYER(a,  &kp A &kp SPC, P_A, CHORDLAYER)
CHORD_LAYER(I,  &sk LSHIFT &kp I &kp SPC, P_I, CHORDLAYER)
CHORD_LAYER(an,  &kp A &kp N &kp SPC, P_A P_N, CHORDLAYER)
CHORD_LAYER(as,  &kp A &kp S &kp SPC, P_A P_S, CHORDLAYER)
CHORD_LAYER(at,  &kp A &kp T &kp SPC, P_A P_T, CHORDLAYER)
CHORD_LAYER(be,  &kp B &kp E &kp SPC, P_B P_E, CHORDLAYER)
CHORD_LAYER(by,  &kp B &kp Y &kp SPC, P_B P_Y, CHORDLAYER)
CHORD_LAYER(do,  &kp D &kp O &kp SPC, P_D P_O, CHORDLAYER)
CHORD_LAYER(did,  &kp D &kp I &kp D &kp SPC, P_D P_I, CHORDLAYER)
CHORD_LAYER(doing,  &kp D &kp O &kp I &kp N &kp G &kp SPC, P_D P_O P_G, CHORDLAYER)
CHORD_LAYER(go,  &kp G &kp O &kp SPC, P_G, CHORDLAYER)
CHORD_LAYER(went,  &kp W &kp E &kp N &kp T &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(going,  &kp G &kp O &kp I &kp N &kp G &kp SPC, P_G P_O, CHORDLAYER)
//  CHORD_LAYER(he,  &kp H &kp E &kp SPC, P_H P_E, CHORDLAYER)
//  CHORD_LAYER(hi,  &kp H &kp I &kp SPC, P_H 18, CHORDLAYER)
//  CHORD_LAYER(if,  &kp I &kp F &kp SPC, P_I 2, CHORDLAYER)
//  CHORD_LAYER(in,  &kp I &kp N &kp SPC, P_I 16, CHORDLAYER)
//  CHORD_LAYER(is,  &kp I &kp S &kp SPC, P_I 12, CHORDLAYER)
CHORD_LAYER(was,  &kp W &kp A &kp S &kp SPC, P_W, CHORDLAYER)
CHORD_LAYER(will,  &kp W &kp I &kp L &kp L &kp SPC, P_W P_L, CHORDLAYER)
//  CHORD_LAYER(it,  &kp I &kp T &kp SPC, P_I 13, CHORDLAYER)
//  CHORD_LAYER(its,  &kp I &kp T &kp S &kp SPC, P_I 13, CHORDLAYER)
//  CHORD_LAYER(me,  &kp M &kp E &kp SPC, P_M P_E, CHORDLAYER)
//  CHORD_LAYER(mine,  &kp M &kp I &kp N &kp E &kp SPC, P_M P_E, CHORDLAYER)
//  CHORD_LAYER(my,  &kp M &kp Y &kp SPC, P_M P_E, CHORDLAYER)
CHORD_LAYER(no,  &kp N &kp O &kp SPC, P_N, CHORDLAYER)
// CHORD_LAYER(of,  &kp O &kp F &kp SPC, P_O 2, CHORDLAYER)
// CHORD_LAYER(OK,  &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC, P_O 25, CHORDLAYER)
// CHORD_LAYER(on,  &kp O &kp N &kp SPC, P_O 16, CHORDLAYER)
// CHORD_LAYER(or,  &kp O &kp R &kp SPC, P_O 11, CHORDLAYER)
// CHORD_LAYER(so,  &kp S &kp O &kp SPC, P_S 19, CHORDLAYER)
// CHORD_LAYER(to,  &kp T &kp O &kp SPC, P_T 19, CHORDLAYER)
// CHORD_LAYER(up,  &kp U &kp P &kp SPC, P_U 3, CHORDLAYER)
// CHORD_LAYER(us,  &kp U &kp S &kp SPC, P_U 12, CHORDLAYER)
// CHORD_LAYER(we,  &kp W &kp E &kp SPC, P_W P_E, CHORDLAYER)
CHORD_LAYER(add,  &kp A &kp D &kp D &kp SPC, P_MINUS, CHORDLAYER)
CHORD_LAYER(added,  &kp A &kp D &kp D &kp E &kp D &kp SPC, P_MINUS P_E, CHORDLAYER)
CHORD_LAYER(adding,  &kp A &kp D &kp D &kp I &kp N &kp G &kp SPC, P_MINUS P_G, CHORDLAYER)
CHORD_LAYER(air,  &kp A &kp I &kp R &kp SPC, P_A P_R, CHORDLAYER)
CHORD_LAYER(all,  &kp A &kp L &kp L &kp SPC, P_A P_L, CHORDLAYER)
CHORD_LAYER(and,  &kp A &kp N &kp D &kp SPC, P_I, CHORDLAYER)
CHORD_LAYER(any,  &kp A &kp N &kp Y &kp SPC, P_A P_Y, CHORDLAYER)
CHORD_LAYER(are,  &kp A &kp R &kp E &kp SPC, P_A P_R, CHORDLAYER)
CHORD_LAYER(ask,  &kp A &kp S &kp K &kp SPC, P_A P_K, CHORDLAYER)
CHORD_LAYER(big,  &kp B &kp I &kp G &kp SPC, P_B P_G, CHORDLAYER)
CHORD_LAYER(boy,  &kp B &kp O &kp Y &kp SPC, P_B P_Y, CHORDLAYER)
CHORD_LAYER(but,  &kp B &kp U &kp T &kp SPC, P_B P_T, CHORDLAYER)
CHORD_LAYER(can,  &kp C &kp A &kp N &kp SPC, P_C P_N, CHORDLAYER)
CHORD_LAYER(could,  &kp C &kp O &kp U &kp L &kp D &kp SPC, P_C P_D, CHORDLAYER)
CHORD_LAYER(car,  &kp C &kp A &kp R &kp SPC, P_C P_R, CHORDLAYER)
CHORD_LAYER(cut,  &kp C &kp U &kp T &kp SPC, P_C P_T, CHORDLAYER)
CHORD_LAYER(day,  &kp D &kp A &kp Y &kp SPC, P_D P_Y, CHORDLAYER)
CHORD_LAYER(eat,  &kp E &kp A &kp T &kp SPC, P_E P_T , CHORDLAYER)
CHORD_LAYER(ate,  &kp A &kp T &kp E &kp SPC, P_A P_T, CHORDLAYER)
CHORD_LAYER(eating,  &kp E &kp A &kp T &kp I &kp N &kp G &kp SPC, P_E P_T P_G, CHORDLAYER)
CHORD_LAYER(end,  &kp E &kp N &kp D &kp SPC, P_E P_D, CHORDLAYER)
CHORD_LAYER(eye,  &kp E &kp Y &kp E &kp SPC, P_E P_Y, CHORDLAYER)
CHORD_LAYER(eyed,  &kp E &kp Y &kp E &kp D &kp SPC, P_E P_Y P_D, CHORDLAYER)
CHORD_LAYER(eying,  &kp E &kp Y &kp I &kp N &kp G &kp SPC, P_E P_Y P_G, CHORDLAYER)
CHORD_LAYER(far,  &kp F &kp A &kp R &kp SPC, P_F P_A, CHORDLAYER)
CHORD_LAYER(few,  &kp F &kp E &kp W &kp SPC, P_F P_W, CHORDLAYER)
CHORD_LAYER(for,  &kp F &kp O &kp R &kp SPC, P_F P_O, CHORDLAYER)
CHORD_LAYER(get,  &kp G &kp E &kp T &kp SPC, P_G P_T, CHORDLAYER)
CHORD_LAYER(got,  &kp G &kp O &kp T &kp SPC, P_G P_O, CHORDLAYER)
CHORD_LAYER(getting,  &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC, P_G P_E, CHORDLAYER)
CHORD_LAYER(has,  &kp H &kp A &kp S &kp SPC, P_H P_S, CHORDLAYER)
CHORD_LAYER(had,  &kp H &kp A &kp D &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(her,  &kp H &kp E &kp R &kp SPC, P_H P_R, CHORDLAYER)
CHORD_LAYER(hers,  &kp H &kp E &kp R &kp S &kp SPC, P_H P_R P_S, CHORDLAYER)
CHORD_LAYER(hey,  &kp H &kp E &kp Y &kp SPC, P_H P_Y, CHORDLAYER)
CHORD_LAYER(him,  &kp H &kp I &kp M &kp SPC, P_H P_M, CHORDLAYER)
CHORD_LAYER(his,  &kp H &kp I &kp S &kp SPC, P_H P_I, CHORDLAYER)
CHORD_LAYER(how,  &kp H &kp O &kp W &kp SPC, P_H P_W, CHORDLAYER)
CHORD_LAYER(let,  &kp L &kp E &kp T &kp SPC, P_L P_T, CHORDLAYER)
CHORD_LAYER(man,  &kp M &kp A &kp N &kp SPC, P_M P_N, CHORDLAYER)
CHORD_LAYER(men,  &kp M &kp E &kp N &kp SPC, P_M P_E, CHORDLAYER)
CHORD_LAYER(may,  &kp M &kp A &kp Y &kp SPC, P_M P_Y, CHORDLAYER)
CHORD_LAYER(new,  &kp N &kp E &kp W &kp SPC, P_N P_W, CHORDLAYER)
CHORD_LAYER(not,  &kp N &kp O &kp T &kp SPC, P_N P_T, CHORDLAYER)
CHORD_LAYER(now,  &kp N &kp O &kp W &kp SPC, P_N P_W, CHORDLAYER)
CHORD_LAYER(off,  &kp O &kp F &kp F &kp SPC, P_O P_F, CHORDLAYER)
CHORD_LAYER(oil,  &kp O &kp I &kp L &kp SPC, P_O P_L, CHORDLAYER)
CHORD_LAYER(old,  &kp O &kp L &kp D &kp SPC, P_O P_D, CHORDLAYER)
CHORD_LAYER(one,  &kp O &kp N &kp E &kp SPC, P_REP P_S, CHORDLAYER)
CHORD_LAYER(oneSQTs,  &kp O &kp N &kp E &kp SQT &kp S &kp SPC, P_O P_E P_S, CHORDLAYER)
CHORD_LAYER(our,  &kp O &kp U &kp R &kp SPC, P_O P_R, CHORDLAYER)
CHORD_LAYER(ours,  &kp O &kp U &kp R &kp S &kp SPC, P_O P_R P_S, CHORDLAYER)
CHORD_LAYER(out,  &kp O &kp U &kp T &kp SPC, P_O P_T, CHORDLAYER)
CHORD_LAYER(own,  &kp O &kp W &kp N &kp SPC, P_O P_N, CHORDLAYER)
CHORD_LAYER(owned,  &kp O &kp W &kp N &kp E &kp D &kp SPC, P_O P_N P_D, CHORDLAYER)
CHORD_LAYER(owning,  &kp O &kp W &kp N &kp I &kp N &kp G &kp SPC, P_O P_N P_G, CHORDLAYER)
CHORD_LAYER(put,  &kp P &kp U &kp T &kp SPC, P_P P_T, CHORDLAYER)
CHORD_LAYER(run,  &kp R &kp U &kp N &kp SPC, P_R P_N, CHORDLAYER)
CHORD_LAYER(ran,  &kp R &kp A &kp N &kp SPC, P_R P_A, CHORDLAYER)
CHORD_LAYER(running,  &kp R &kp U &kp N &kp N &kp I &kp N &kp G &kp SPC, P_R P_N P_G, CHORDLAYER)
CHORD_LAYER(say,  &kp S &kp A &kp Y &kp SPC, P_S P_Y, CHORDLAYER)
CHORD_LAYER(sea,  &kp S &kp E &kp A &kp SPC, P_S P_A, CHORDLAYER)
CHORD_LAYER(see,  &kp S &kp E &kp E &kp SPC, P_S P_E, CHORDLAYER)
CHORD_LAYER(saw,  &kp S &kp A &kp W &kp SPC, P_S P_W, CHORDLAYER)
CHORD_LAYER(seeing,  &kp S &kp E &kp E &kp I &kp N &kp G &kp SPC, P_S P_E P_G, CHORDLAYER)
CHORD_LAYER(set,  &kp S &kp E &kp T &kp SPC, P_S P_T, CHORDLAYER)
CHORD_LAYER(she,  &kp S &kp H &kp E &kp SPC, P_S P_H, CHORDLAYER)
CHORD_LAYER(the,  &kp T &kp H &kp E &kp SPC, P_T P_E, CHORDLAYER)
CHORD_LAYER(too,  &kp T &kp O &kp O &kp SPC, P_T P_O, CHORDLAYER)
CHORD_LAYER(try,  &kp T &kp R &kp Y &kp SPC, P_T P_Y, CHORDLAYER)
CHORD_LAYER(tried,  &kp T &kp R &kp I &kp E &kp D &kp SPC, P_T P_Y P_D, CHORDLAYER)
CHORD_LAYER(trying,  &kp T &kp R &kp Y &kp I &kp N &kp G &kp SPC, P_T P_Y P_G, CHORDLAYER)
CHORD_LAYER(two,  &kp T &kp W &kp O &kp SPC, P_REP P_N, CHORDLAYER)
CHORD_LAYER(use,  &kp U &kp S &kp E &kp SPC, P_U P_E, CHORDLAYER)
CHORD_LAYER(used,  &kp U &kp S &kp E &kp D &kp SPC, P_U P_E, CHORDLAYER)
CHORD_LAYER(using,  &kp U &kp S &kp I &kp N &kp G &kp SPC, P_U P_E, CHORDLAYER)
CHORD_LAYER(way,  &kp W &kp A &kp Y &kp SPC, P_W P_A, CHORDLAYER)
CHORD_LAYER(who,  &kp W &kp H &kp O &kp SPC, P_H P_O, CHORDLAYER)
CHORD_LAYER(why,  &kp W &kp H &kp Y &kp SPC, P_W P_Y, CHORDLAYER)
CHORD_LAYER(you,  &kp Y &kp O &kp U &kp SPC, P_U, CHORDLAYER)
CHORD_LAYER(yours,  &kp Y &kp O &kp U &kp R &kp S &kp SPC, P_U P_S, CHORDLAYER)
CHORD_LAYER(your,  &kp Y &kp O &kp U &kp R &kp SPC, P_U P_R, CHORDLAYER)
CHORD_LAYER(also,  &kp A &kp L &kp S &kp O &kp SPC, P_A P_O, CHORDLAYER)
CHORD_LAYER(away,  &kp A &kp W &kp A &kp Y &kp SPC, P_A P_W P_Y, CHORDLAYER)
CHORD_LAYER(back,  &kp B &kp A &kp C &kp K &kp SPC, P_B P_K, CHORDLAYER)
CHORD_LAYER(been,  &kp B &kp E &kp E &kp N &kp SPC, P_B P_N, CHORDLAYER)
CHORD_LAYER(book,  &kp B &kp O &kp O &kp K &kp SPC, P_B P_O P_K, CHORDLAYER)
CHORD_LAYER(booked,  &kp B &kp O &kp O &kp K &kp E &kp D &kp SPC, P_B P_O P_D, CHORDLAYER)
CHORD_LAYER(booking,  &kp B &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC, P_B P_O P_G, CHORDLAYER)
CHORD_LAYER(both,  &kp B &kp O &kp T &kp H &kp SPC, P_B P_H, CHORDLAYER)
CHORD_LAYER(call,  &kp C &kp A &kp L &kp L &kp SPC, P_C P_L, CHORDLAYER)
CHORD_LAYER(city,  &kp C &kp I &kp T &kp Y &kp SPC, P_C P_Y, CHORDLAYER)
CHORD_LAYER(come,  &kp C &kp O &kp M &kp E &kp SPC, P_C P_M, CHORDLAYER)
CHORD_LAYER(came,  &kp C &kp A &kp M &kp E &kp SPC, P_C P_A P_M, CHORDLAYER)
CHORD_LAYER(coming,  &kp C &kp O &kp M &kp I &kp N &kp G &kp SPC, P_C P_M P_G, CHORDLAYER)
CHORD_LAYER(does,  &kp D &kp O &kp E &kp S &kp SPC, P_D P_O P_S, CHORDLAYER)
CHORD_LAYER(down,  &kp D &kp O &kp W &kp N &kp SPC, P_D P_W, CHORDLAYER)
CHORD_LAYER(each,  &kp E &kp A &kp C &kp H &kp SPC, P_E P_C, CHORDLAYER)
CHORD_LAYER(even,  &kp E &kp V &kp E &kp N &kp SPC, P_E P_V, CHORDLAYER)
CHORD_LAYER(face,  &kp F &kp A &kp C &kp E &kp SPC, P_F P_A, CHORDLAYER)
CHORD_LAYER(faced,  &kp F &kp A &kp C &kp E &kp D &kp SPC, P_F P_A P_D, CHORDLAYER)
CHORD_LAYER(facing,  &kp F &kp A &kp C &kp I &kp N &kp G &kp SPC, P_F P_A P_G, CHORDLAYER)
CHORD_LAYER(fact,  &kp F &kp A &kp C &kp T &kp SPC, P_F P_C, CHORDLAYER)
CHORD_LAYER(feel,  &kp F &kp E &kp E &kp L &kp SPC, P_F P_L, CHORDLAYER)
CHORD_LAYER(felt,  &kp F &kp E &kp L &kp T &kp SPC, P_F P_L P_D, CHORDLAYER)
CHORD_LAYER(feeling,  &kp F &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC, P_F P_L P_G, CHORDLAYER)
CHORD_LAYER(feet,  &kp F &kp E &kp E &kp T &kp SPC, P_F P_T, CHORDLAYER)
CHORD_LAYER(find,  &kp F &kp I &kp N &kp D &kp SPC, P_F P_I P_N, CHORDLAYER)
CHORD_LAYER(found,  &kp F &kp O &kp U &kp N &kp D &kp SPC, P_F P_I P_N P_D, CHORDLAYER)
CHORD_LAYER(finding,  &kp F &kp I &kp N &kp D &kp I &kp N &kp G &kp SPC, P_F P_I P_N P_D, CHORDLAYER)
CHORD_LAYER(food,  &kp F &kp O &kp O &kp D &kp SPC, P_F P_O, CHORDLAYER)
CHORD_LAYER(form,  &kp F &kp O &kp R &kp M &kp SPC, P_F P_M, CHORDLAYER)
CHORD_LAYER(four,  &kp F &kp O &kp U &kp R &kp SPC, P_REP P_F, CHORDLAYER)
CHORD_LAYER(from,  &kp F &kp R &kp O &kp M &kp SPC, P_F P_R, CHORDLAYER)
CHORD_LAYER(girl,  &kp G &kp I &kp R &kp L &kp SPC, P_G P_L, CHORDLAYER)
CHORD_LAYER(give,  &kp G &kp I &kp V &kp E &kp SPC, P_G P_I, CHORDLAYER)
CHORD_LAYER(gave,  &kp G &kp A &kp V &kp E &kp SPC, P_G P_I P_D, CHORDLAYER)
CHORD_LAYER(giving,  &kp G &kp I &kp V &kp I &kp N &kp G &kp SPC, P_G P_I P_G, CHORDLAYER)
CHORD_LAYER(good,  &kp G &kp O &kp O &kp D &kp SPC, P_G P_D, CHORDLAYER)
CHORD_LAYER(grow,  &kp G &kp R &kp O &kp W &kp SPC, P_G P_R P_W, CHORDLAYER)
CHORD_LAYER(grew,  &kp G &kp R &kp E &kp W &kp SPC, P_G P_R P_W P_D, CHORDLAYER)
CHORD_LAYER(growing,  &kp G &kp R &kp O &kp W &kp I &kp N &kp G &kp SPC, P_G P_R P_W P_G, CHORDLAYER)
CHORD_LAYER(hand,  &kp H &kp A &kp N &kp D &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(handed,  &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(handing,  &kp H &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(hard,  &kp H &kp A &kp R &kp D &kp SPC, P_H P_A, CHORDLAYER)
CHORD_LAYER(have,  &kp H &kp A &kp V &kp E &kp SPC, P_H P_V, CHORDLAYER)
CHORD_LAYER(head,  &kp H &kp E &kp A &kp D &kp SPC, P_H P_V P_D, CHORDLAYER)
CHORD_LAYER(headed,  &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC, P_H P_A P_D, CHORDLAYER)
CHORD_LAYER(heading,  &kp H &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC, P_H P_A P_G, CHORDLAYER)
CHORD_LAYER(hear,  &kp H &kp E &kp A &kp R &kp SPC, P_H P_R, CHORDLAYER)
CHORD_LAYER(heard,  &kp H &kp E &kp A &kp R &kp D &kp SPC, P_H P_R P_D, CHORDLAYER)
CHORD_LAYER(hearing,  &kp H &kp E &kp A &kp R &kp I &kp N &kp G &kp SPC, P_H P_R P_G, CHORDLAYER)
CHORD_LAYER(help,  &kp H &kp E &kp L &kp P &kp SPC, P_H P_P, CHORDLAYER)
CHORD_LAYER(helped,  &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC, P_H P_P P_D, CHORDLAYER)
CHORD_LAYER(helping,  &kp H &kp E &kp L &kp P &kp I &kp N &kp G &kp SPC, P_H P_P P_G, CHORDLAYER)
CHORD_LAYER(here,  &kp H &kp E &kp R &kp E &kp SPC, P_H P_E P_R, CHORDLAYER)
CHORD_LAYER(high,  &kp H &kp I &kp G &kp H &kp SPC, P_H P_I, CHORDLAYER)
CHORD_LAYER(hold,  &kp H &kp O &kp L &kp D &kp SPC, P_H P_O P_L, CHORDLAYER)
CHORD_LAYER(held,  &kp H &kp E &kp L &kp D &kp SPC, P_H P_O P_L P_D, CHORDLAYER)
CHORD_LAYER(holding,  &kp H &kp O &kp L &kp D &kp I &kp N &kp G &kp SPC, P_H P_O P_L P_G, CHORDLAYER)
CHORD_LAYER(home,  &kp H &kp O &kp M &kp E &kp SPC, P_H P_M, CHORDLAYER)
CHORD_LAYER(idea,  &kp I &kp D &kp E &kp A &kp SPC, P_I P_D, CHORDLAYER)
CHORD_LAYER(into,  &kp I &kp N &kp T &kp O &kp SPC, P_I P_N, CHORDLAYER)
CHORD_LAYER(just,  &kp J &kp U &kp S &kp T &kp SPC, P_J P_T, CHORDLAYER)
CHORD_LAYER(keep,  &kp K &kp E &kp E &kp P &kp SPC, P_K P_P, CHORDLAYER)
CHORD_LAYER(kept,  &kp K &kp E &kp P &kp T &kp SPC, P_K P_P P_D, CHORDLAYER)
CHORD_LAYER(keeping,  &kp K &kp E &kp E &kp P &kp I &kp N &kp G &kp SPC, P_K P_P P_G, CHORDLAYER)
CHORD_LAYER(kind,  &kp K &kp I &kp N &kp D &kp SPC, P_K P_D, CHORDLAYER)
CHORD_LAYER(know,  &kp K &kp N &kp O &kp W &kp SPC, P_K P_N, CHORDLAYER)
CHORD_LAYER(knew,  &kp K &kp N &kp E &kp W &kp SPC, P_K P_N P_D, CHORDLAYER)
CHORD_LAYER(knowing,  &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC, P_K P_N P_G, CHORDLAYER)
CHORD_LAYER(land,  &kp L &kp A &kp N &kp D &kp SPC, P_L P_A, CHORDLAYER)
CHORD_LAYER(landed,  &kp L &kp A &kp N &kp D &kp E &kp D &kp SPC, P_L P_A P_D, CHORDLAYER)
CHORD_LAYER(landing,  &kp L &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC, P_L P_A P_G, CHORDLAYER)
CHORD_LAYER(last,  &kp L &kp A &kp S &kp T &kp SPC, P_L P_T, CHORDLAYER)
CHORD_LAYER(late,  &kp L &kp A &kp T &kp E &kp SPC, P_L P_A P_T, CHORDLAYER)
CHORD_LAYER(later,  &kp L &kp A &kp T &kp E &kp R &kp SPC, P_L P_T P_R, CHORDLAYER)
CHORD_LAYER(lead,  &kp L &kp E &kp A &kp D &kp SPC, P_L P_E P_D, CHORDLAYER)
CHORD_LAYER(led,  &kp L &kp E &kp D &kp SPC, P_L P_D, CHORDLAYER)
CHORD_LAYER(leading,  &kp L &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC, P_L P_E P_D P_G, CHORDLAYER)
CHORD_LAYER(left,  &kp L &kp E &kp F &kp T &kp SPC, P_L P_F P_T, CHORDLAYER)
CHORD_LAYER(life,  &kp L &kp I &kp F &kp E &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(like,  &kp L &kp I &kp K &kp E &kp SPC, P_L P_K, CHORDLAYER)
CHORD_LAYER(liked,  &kp L &kp I &kp K &kp E &kp D &kp SPC, P_L P_K P_D, CHORDLAYER)
CHORD_LAYER(liking,  &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC, P_L P_K P_G, CHORDLAYER)
CHORD_LAYER(line,  &kp L &kp I &kp N &kp E &kp SPC, P_L P_N, CHORDLAYER)
CHORD_LAYER(list,  &kp L &kp I &kp S &kp T &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(listed,  &kp L &kp I &kp S &kp T &kp E &kp D &kp SPC, P_L P_I P_D, CHORDLAYER)
CHORD_LAYER(listing,  &kp L &kp I &kp S &kp T &kp I &kp N &kp G &kp SPC, P_L P_I P_G, CHORDLAYER)
CHORD_LAYER(live,  &kp L &kp I &kp V &kp E &kp SPC, P_L P_V, CHORDLAYER)
CHORD_LAYER(lived,  &kp L &kp I &kp V &kp E &kp D &kp SPC, P_L P_V P_D, CHORDLAYER)
CHORD_LAYER(living,  &kp L &kp I &kp V &kp I &kp N &kp G &kp SPC, P_L P_V P_G, CHORDLAYER)
CHORD_LAYER(long,  &kp L &kp O &kp N &kp G &kp SPC, P_L P_O P_N, CHORDLAYER)
CHORD_LAYER(look,  &kp L &kp O &kp O &kp K &kp SPC, P_L P_U, CHORDLAYER)
CHORD_LAYER(looked,  &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC, P_L P_U P_D, CHORDLAYER)
CHORD_LAYER(looking,  &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC, P_L P_U P_G, CHORDLAYER)
CHORD_LAYER(make,  &kp M &kp A &kp K &kp E &kp SPC, P_M P_K, CHORDLAYER)
CHORD_LAYER(made,  &kp M &kp A &kp D &kp E &kp SPC, P_M  P_K P_D, CHORDLAYER)
CHORD_LAYER(making,  &kp M &kp A &kp K &kp I &kp N &kp G &kp SPC, P_M P_K P_G, CHORDLAYER)
CHORD_LAYER(many,  &kp M &kp A &kp N &kp Y &kp SPC, P_M P_Y, CHORDLAYER)
CHORD_LAYER(mean,  &kp M &kp E &kp A &kp N &kp SPC, P_M P_E, CHORDLAYER)
CHORD_LAYER(miss,  &kp M &kp I &kp S &kp S &kp SPC, P_M P_I, CHORDLAYER)
CHORD_LAYER(missed,  &kp M &kp I &kp S &kp S &kp E &kp D &kp SPC, P_M P_I P_D, CHORDLAYER)
CHORD_LAYER(missing,  &kp M &kp I &kp S &kp S &kp I &kp N &kp G &kp SPC, P_M P_I P_G, CHORDLAYER)
CHORD_LAYER(more,  &kp M &kp O &kp R &kp E &kp SPC, P_M P_R, CHORDLAYER)
CHORD_LAYER(most,  &kp M &kp O &kp S &kp T &kp SPC, P_M P_O, CHORDLAYER)
CHORD_LAYER(move,  &kp M &kp O &kp V &kp E &kp SPC, P_M P_V, CHORDLAYER)
CHORD_LAYER(moved,  &kp M &kp O &kp V &kp E &kp D &kp SPC, P_M P_V P_D, CHORDLAYER)
CHORD_LAYER(moving,  &kp M &kp O &kp V &kp I &kp N &kp G &kp SPC, P_M P_V P_G, CHORDLAYER)
CHORD_LAYER(much,  &kp M &kp U &kp C &kp H &kp SPC, P_M P_C, CHORDLAYER)
CHORD_LAYER(must,  &kp M &kp U &kp S &kp T &kp SPC, P_M P_T, CHORDLAYER)
CHORD_LAYER(name,  &kp N &kp A &kp M &kp E &kp SPC, P_N P_M, CHORDLAYER)
CHORD_LAYER(near,  &kp N &kp E &kp A &kp R &kp SPC, P_N P_R, CHORDLAYER)
CHORD_LAYER(neared,  &kp N &kp E &kp A &kp R &kp E &kp D &kp SPC, P_N P_R P_D, CHORDLAYER)
CHORD_LAYER(nearing,  &kp N &kp E &kp A &kp R &kp I &kp N &kp G &kp SPC, P_N P_R P_G, CHORDLAYER)
CHORD_LAYER(need,  &kp N &kp E &kp E &kp D &kp SPC, P_N P_E, CHORDLAYER)
CHORD_LAYER(needed,  &kp N &kp E &kp E &kp D &kp E &kp D &kp SPC, P_N P_E P_D, CHORDLAYER)
CHORD_LAYER(needing,  &kp N &kp E &kp E &kp D &kp I &kp N &kp G &kp SPC, P_N P_E P_G, CHORDLAYER)
CHORD_LAYER(next,  &kp N &kp E &kp X &kp T &kp SPC, P_N P_X, CHORDLAYER)
CHORD_LAYER(once,  &kp O &kp N &kp C &kp E &kp SPC, P_O P_C, CHORDLAYER)
CHORD_LAYER(only,  &kp O &kp N &kp L &kp Y &kp SPC, P_O P_Y, CHORDLAYER)
CHORD_LAYER(open,  &kp O &kp P &kp E &kp N &kp SPC, P_O P_P, CHORDLAYER)
CHORD_LAYER(opened,  &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC, P_O P_P P_D, CHORDLAYER)
CHORD_LAYER(opening,  &kp O &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC, P_O P_P P_G, CHORDLAYER)
CHORD_LAYER(over,  &kp O &kp V &kp E &kp R &kp SPC, P_O P_V, CHORDLAYER)
CHORD_LAYER(page,  &kp P &kp A &kp G &kp E &kp SPC, P_P P_E, CHORDLAYER)
CHORD_LAYER(part,  &kp P &kp A &kp R &kp T &kp SPC, P_P P_T, CHORDLAYER)
CHORD_LAYER(plan,  &kp P &kp L &kp A &kp N &kp SPC, P_P P_L, CHORDLAYER)
CHORD_LAYER(play,  &kp P &kp L &kp A &kp Y &kp SPC, P_P P_Y, CHORDLAYER)
CHORD_LAYER(played,  &kp P &kp L &kp A &kp Y &kp E &kp D &kp SPC, P_P P_Y P_D, CHORDLAYER)
CHORD_LAYER(playing,  &kp P &kp L &kp A &kp Y &kp I &kp N &kp G &kp SPC, P_P P_Y P_G, CHORDLAYER)
CHORD_LAYER(read,  &kp R &kp E &kp A &kp D &kp SPC, P_R P_D, CHORDLAYER)
CHORD_LAYER(real,  &kp R &kp E &kp A &kp L &kp SPC, P_R P_L, CHORDLAYER)
CHORD_LAYER(said,  &kp S &kp A &kp I &kp D &kp SPC, P_S P_D, CHORDLAYER)
CHORD_LAYER(same,  &kp S &kp A &kp M &kp E &kp SPC, P_S P_M, CHORDLAYER)
CHORD_LAYER(seem,  &kp S &kp E &kp E &kp M &kp SPC, P_S P_E P_M, CHORDLAYER)
CHORD_LAYER(seemed,  &kp S &kp E &kp E &kp M &kp E &kp D &kp SPC, P_S P_E P_M  P_D, CHORDLAYER)
CHORD_LAYER(seeming,  &kp S &kp E &kp E &kp M &kp I &kp N &kp G &kp SPC, P_S P_E P_M P_G, CHORDLAYER)
CHORD_LAYER(show,  &kp S &kp H &kp O &kp W &kp SPC, P_S P_W, CHORDLAYER)
CHORD_LAYER(showed,  &kp S &kp H &kp O &kp W &kp E &kp D &kp SPC, P_S P_W P_D, CHORDLAYER)
CHORD_LAYER(showing,  &kp S &kp H &kp O &kp W &kp I &kp N &kp G &kp SPC, P_S P_W P_G, CHORDLAYER)
CHORD_LAYER(side,  &kp S &kp I &kp D &kp E &kp SPC, P_S P_I P_D, CHORDLAYER)
CHORD_LAYER(some,  &kp S &kp O &kp M &kp E &kp SPC, P_S P_O P_M, CHORDLAYER)
CHORD_LAYER(song,  &kp S &kp O &kp N &kp G &kp SPC, P_S P_G, CHORDLAYER)
CHORD_LAYER(soon,  &kp S &kp O &kp O &kp N &kp SPC, P_S P_N, CHORDLAYER)
CHORD_LAYER(stop,  &kp S &kp T &kp O &kp P &kp SPC, P_S P_T, CHORDLAYER)
CHORD_LAYER(stopped,  &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC, P_S P_T P_D, CHORDLAYER)
CHORD_LAYER(stoping,  &kp S &kp T &kp O &kp P &kp I &kp N &kp G &kp SPC, P_S P_T P_G, CHORDLAYER)
CHORD_LAYER(such,  &kp S &kp U &kp C &kp H &kp SPC, P_S P_U, CHORDLAYER)
CHORD_LAYER(take,  &kp T &kp A &kp K &kp E &kp SPC, P_T P_K, CHORDLAYER)
CHORD_LAYER(took,  &kp T &kp O &kp O &kp K &kp SPC, P_T P_K P_D, CHORDLAYER)
CHORD_LAYER(taking,  &kp T &kp A &kp K &kp I &kp N &kp G &kp SPC, P_T P_K P_G, CHORDLAYER)
CHORD_LAYER(talk,  &kp T &kp A &kp L &kp K &kp SPC, P_T P_L P_K, CHORDLAYER)
CHORD_LAYER(tell,  &kp T &kp E &kp L &kp L &kp SPC, P_T P_L, CHORDLAYER)
CHORD_LAYER(told,  &kp T &kp O &kp L &kp D &kp SPC, P_T P_L P_D, CHORDLAYER)
CHORD_LAYER(telling,  &kp T &kp E &kp L &kp L &kp I &kp N &kp G &kp SPC, P_T P_L P_G, CHORDLAYER)
CHORD_LAYER(than,  &kp T &kp H &kp A &kp N &kp SPC, P_T P_A, CHORDLAYER)
CHORD_LAYER(that,  &kp T &kp H &kp A &kp T &kp SPC, P_T P_H P_A, CHORDLAYER)
CHORD_LAYER(them,  &kp T &kp H &kp E &kp M &kp SPC, P_T P_H P_M, CHORDLAYER)
CHORD_LAYER(then,  &kp T &kp H &kp E &kp N &kp SPC, P_T P_E, CHORDLAYER)
CHORD_LAYER(they,  &kp T &kp H &kp E &kp Y &kp SPC, P_T P_Y, CHORDLAYER)
CHORD_LAYER(theirs,  &kp T &kp H &kp E &kp I &kp R &kp S &kp SPC, P_T P_Y P_S, CHORDLAYER)
CHORD_LAYER(their,  &kp T &kp H &kp E &kp I &kp R &kp SPC, P_T P_R, CHORDLAYER)
CHORD_LAYER(this,  &kp T &kp H &kp I &kp S &kp SPC, P_T P_I, CHORDLAYER)
CHORD_LAYER(time,  &kp T &kp I &kp M &kp E &kp SPC, P_T P_M, CHORDLAYER)
CHORD_LAYER(timed,  &kp T &kp I &kp M &kp E &kp D &kp SPC, P_T P_M P_D, CHORDLAYER)
CHORD_LAYER(timing,  &kp T &kp I &kp M &kp I &kp N &kp G &kp SPC, P_T P_M P_G, CHORDLAYER)
CHORD_LAYER(tree,  &kp T &kp R &kp E &kp E &kp SPC, P_T P_R, CHORDLAYER)
CHORD_LAYER(turn,  &kp T &kp U &kp R &kp N &kp SPC, P_T P_U, CHORDLAYER)
CHORD_LAYER(very,  &kp V &kp E &kp R &kp Y &kp SPC, P_V, CHORDLAYER)
CHORD_LAYER(walk,  &kp W &kp A &kp L &kp K &kp SPC, P_W, CHORDLAYER)
CHORD_LAYER(walked,  &kp W &kp A &kp L &kp K &kp E &kp D &kp SPC, P_W P_D, CHORDLAYER)
CHORD_LAYER(walking,  &kp W &kp A &kp L &kp K &kp I &kp N &kp G &kp SPC, P_W P_G, CHORDLAYER)
CHORD_LAYER(want,  &kp W &kp A &kp N &kp T &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(wanted,  &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC, P_W P_T P_D, CHORDLAYER)
CHORD_LAYER(wanting,  &kp W &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC, P_W P_T P_G, CHORDLAYER)
CHORD_LAYER(week,  &kp W &kp E &kp E &kp K &kp SPC, P_W P_K, CHORDLAYER)
CHORD_LAYER(well,  &kp W &kp E &kp L &kp L &kp SPC, P_W P_L, CHORDLAYER)
CHORD_LAYER(were,  &kp W &kp E &kp R &kp E &kp SPC, P_W P_R, CHORDLAYER)
CHORD_LAYER(what,  &kp W &kp H &kp A &kp T &kp SPC, P_W P_H, CHORDLAYER)
CHORD_LAYER(when,  &kp W &kp H &kp E &kp N &kp SPC, P_W P_H P_E, CHORDLAYER)
CHORD_LAYER(with,  &kp W &kp I &kp T &kp H &kp SPC, P_W P_I, CHORDLAYER)
CHORD_LAYER(word,  &kp W &kp O &kp R &kp D &kp SPC, P_W P_R P_D, CHORDLAYER)
CHORD_LAYER(work,  &kp W &kp O &kp R &kp K &kp SPC, P_W P_R P_K, CHORDLAYER)
CHORD_LAYER(worked,  &kp W &kp O &kp R &kp K &kp E &kp D &kp SPC, P_W P_R P_K P_D, CHORDLAYER)
CHORD_LAYER(working,  &kp W &kp O &kp R &kp K &kp I &kp N &kp G &kp SPC, P_W P_R P_K P_G, CHORDLAYER)
CHORD_LAYER(year,  &kp Y &kp E &kp A &kp R &kp SPC, P_Y, CHORDLAYER)
CHORD_LAYER(about,  &kp A &kp B &kp O &kp U &kp T &kp SPC, P_A P_B, CHORDLAYER)
CHORD_LAYER(above,  &kp A &kp B &kp O &kp V &kp E &kp SPC, P_A P_V, CHORDLAYER)
CHORD_LAYER(after,  &kp A &kp F &kp T &kp E &kp R &kp SPC, P_A P_F, CHORDLAYER)
CHORD_LAYER(again,  &kp A &kp G &kp A &kp I &kp N &kp SPC, P_A P_G, CHORDLAYER)
CHORD_LAYER(along,  &kp A &kp L &kp O &kp N &kp G &kp SPC, P_A P_L, CHORDLAYER)
CHORD_LAYER(begin,  &kp B &kp E &kp G &kp I &kp N &kp SPC, P_B P_N, CHORDLAYER)
CHORD_LAYER(began,  &kp B &kp E &kp G &kp A &kp N &kp SPC, P_B P_N P_D, CHORDLAYER)
CHORD_LAYER(beginning,  &kp B &kp E &kp G &kp I &kp N &kp N &kp I &kp N &kp G &kp SPC, P_B P_N P_G, CHORDLAYER)
CHORD_LAYER(being,  &kp B &kp E &kp I &kp N &kp G &kp SPC, P_B P_G, CHORDLAYER)
CHORD_LAYER(below,  &kp B &kp E &kp L &kp O &kp W &kp SPC, P_B P_L, CHORDLAYER)
CHORD_LAYER(carry,  &kp C &kp A &kp R &kp R &kp Y &kp SPC, P_C P_R, CHORDLAYER)
CHORD_LAYER(carried,  &kp C &kp A &kp R &kp R &kp I &kp E &kp D &kp SPC, P_C P_R P_D, CHORDLAYER)
CHORD_LAYER(carrying,  &kp C &kp A &kp R &kp R &kp Y &kp I &kp N &kp G &kp SPC, P_C P_R P_G, CHORDLAYER)
CHORD_LAYER(child,  &kp C &kp H &kp I &kp L &kp D &kp SPC, P_C P_D, CHORDLAYER)
CHORD_LAYER(children,  &kp C &kp H &kp I &kp L &kp D &kp R &kp E &kp N &kp SPC, P_C P_D P_S, CHORDLAYER)
CHORD_LAYER(close,  &kp C &kp L &kp O &kp S &kp E &kp SPC, P_C P_S, CHORDLAYER)
CHORD_LAYER(closed,  &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC, P_C P_S P_D, CHORDLAYER)
CHORD_LAYER(closing,  &kp C &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC, P_C P_S P_G, CHORDLAYER)
CHORD_LAYER(early,  &kp E &kp A &kp R &kp L &kp Y &kp SPC, P_E P_Y, CHORDLAYER)
CHORD_LAYER(earth,  &kp E &kp A &kp R &kp T &kp H &kp SPC, P_E P_A, CHORDLAYER)
CHORD_LAYER(every,  &kp E &kp V &kp E &kp R &kp Y &kp SPC, P_E P_V, CHORDLAYER)
CHORD_LAYER(first,  &kp F &kp I &kp R &kp S &kp T &kp SPC, P_F P_S P_T, CHORDLAYER)
CHORD_LAYER(great,  &kp G &kp R &kp E &kp A &kp T &kp SPC, P_G P_R, CHORDLAYER)
CHORD_LAYER(group,  &kp G &kp R &kp O &kp U &kp P &kp SPC, P_G P_P, CHORDLAYER)
CHORD_LAYER(grouped,  &kp G &kp R &kp O &kp U &kp P &kp E &kp D &kp SPC, P_G P_P P_D, CHORDLAYER)
CHORD_LAYER(grouping,  &kp G &kp R &kp O &kp U &kp P &kp I &kp N &kp G &kp SPC, P_G P_P P_R, CHORDLAYER)
CHORD_LAYER(house,  &kp H &kp O &kp U &kp S &kp E &kp SPC, P_H P_S, CHORDLAYER)
CHORD_LAYER(large,  &kp L &kp A &kp R &kp G &kp E &kp SPC, P_L P_G, CHORDLAYER)
CHORD_LAYER(learn,  &kp L &kp E &kp A &kp R &kp N &kp SPC, P_L P_N, CHORDLAYER)
CHORD_LAYER(learnt,  &kp L &kp E &kp A &kp R &kp N &kp T &kp SPC, P_L P_N P_D, CHORDLAYER)
CHORD_LAYER(learning,  &kp L &kp E &kp A &kp R &kp N &kp I &kp N &kp G &kp SPC, P_L P_N P_G, CHORDLAYER)
CHORD_LAYER(leave,  &kp L &kp E &kp A &kp V &kp E &kp SPC, P_L P_V, CHORDLAYER)
CHORD_LAYER(light,  &kp L &kp I &kp G &kp H &kp T &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(lighted,  &kp L &kp I &kp G &kp H &kp T &kp E &kp D &kp SPC, P_L P_I P_D, CHORDLAYER)
CHORD_LAYER(lighting,  &kp L &kp I &kp G &kp H &kp T &kp I &kp N &kp G &kp SPC, P_L P_I P_G, CHORDLAYER)
CHORD_LAYER(might,  &kp M &kp I &kp G &kp H &kp T &kp SPC, P_M P_G, CHORDLAYER)
CHORD_LAYER(never,  &kp N &kp E &kp V &kp E &kp R &kp SPC, P_N P_V, CHORDLAYER)
CHORD_LAYER(night,  &kp N &kp I &kp G &kp H &kp T &kp SPC, P_N P_I, CHORDLAYER)
CHORD_LAYER(often,  &kp O &kp F &kp T &kp E &kp N &kp SPC, P_O P_F, CHORDLAYER)
CHORD_LAYER(order,  &kp O &kp R &kp D &kp E &kp R &kp SPC, P_O P_R, CHORDLAYER)
CHORD_LAYER(other,  &kp O &kp T &kp H &kp E &kp R &kp SPC, P_O P_T, CHORDLAYER)
CHORD_LAYER(paper,  &kp P &kp A &kp P &kp E &kp R &kp SPC, P_P P_A, CHORDLAYER)
CHORD_LAYER(place,  &kp P &kp L &kp A &kp C &kp E &kp SPC, P_P P_L, CHORDLAYER)
CHORD_LAYER(plant,  &kp P &kp L &kp A &kp N &kp T &kp SPC, P_P P_L P_T, CHORDLAYER)
CHORD_LAYER(planted,  &kp P &kp L &kp A &kp N &kp T &kp E &kp D &kp SPC, P_P P_L P_T P_D, CHORDLAYER)
CHORD_LAYER(planting,  &kp P &kp L &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC, P_P P_L P_T P_G, CHORDLAYER)
CHORD_LAYER(point,  &kp P &kp O &kp I &kp N &kp T &kp SPC, P_P P_T, CHORDLAYER)
CHORD_LAYER(pointed,  &kp P &kp O &kp I &kp N &kp T &kp E &kp D &kp SPC, P_P P_T P_D, CHORDLAYER)
CHORD_LAYER(pointing,  &kp P &kp O &kp I &kp N &kp T &kp I &kp N &kp G &kp SPC, P_P P_T P_G, CHORDLAYER)
CHORD_LAYER(right,  &kp R &kp I &kp G &kp H &kp T &kp SPC, P_R P_T, CHORDLAYER)
CHORD_LAYER(river,  &kp R &kp I &kp V &kp E &kp R &kp SPC, P_R P_V, CHORDLAYER)
CHORD_LAYER(since,  &kp S &kp I &kp N &kp C &kp E &kp SPC, P_S P_I, CHORDLAYER)
CHORD_LAYER(small,  &kp S &kp M &kp A &kp L &kp L &kp SPC, P_S P_M, CHORDLAYER)
CHORD_LAYER(sound,  &kp S &kp O &kp U &kp N &kp D &kp SPC, P_S P_N, CHORDLAYER)
CHORD_LAYER(sounded,  &kp S &kp O &kp U &kp N &kp D &kp E &kp D &kp SPC, P_S P_N P_D, CHORDLAYER)
CHORD_LAYER(sounding,  &kp S &kp O &kp U &kp N &kp D &kp I &kp N &kp G &kp SPC, P_S P_N P_D, CHORDLAYER)
CHORD_LAYER(spell,  &kp S &kp P &kp E &kp L &kp L &kp SPC, P_S P_P, CHORDLAYER)
CHORD_LAYER(spelled,  &kp S &kp P &kp E &kp L &kp L &kp E &kp D &kp SPC, P_S P_P P_D, CHORDLAYER)
CHORD_LAYER(spelling,  &kp S &kp P &kp E &kp L &kp L &kp I &kp N &kp G &kp SPC, P_S P_P P_G, CHORDLAYER)
CHORD_LAYER(standard,  &kp S &kp T &kp A &kp N &kp D &kp A &kp R &kp D &kp SPC, P_S P_T P_D, CHORDLAYER)
CHORD_LAYER(stand,  &kp S &kp T &kp A &kp N &kp D &kp SPC, P_S P_T P_A, CHORDLAYER)
CHORD_LAYER(stood,  &kp S &kp T &kp O &kp O &kp D &kp SPC, P_S P_T P_A P_D, CHORDLAYER)
CHORD_LAYER(standing,  &kp S &kp T &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC, P_S P_T P_A P_G, CHORDLAYER)
CHORD_LAYER(start,  &kp S &kp T &kp A &kp R &kp T &kp SPC, P_S P_R, CHORDLAYER)
CHORD_LAYER(started,  &kp S &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC, P_S P_R P_D, CHORDLAYER)
CHORD_LAYER(starting,  &kp S &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC, P_S P_R P_G, CHORDLAYER)
CHORD_LAYER(state,  &kp S &kp T &kp A &kp T &kp E &kp SPC, P_S P_T P_E, CHORDLAYER)
CHORD_LAYER(stated,  &kp S &kp T &kp A &kp T &kp E &kp D &kp SPC, P_S P_T P_E P_D, CHORDLAYER)
CHORD_LAYER(stating,  &kp S &kp T &kp A &kp T &kp I &kp N &kp G &kp SPC, P_S P_T P_E P_G, CHORDLAYER)
CHORD_LAYER(still,  &kp S &kp T &kp I &kp L &kp L &kp SPC, P_S P_L, CHORDLAYER)
CHORD_LAYER(story,  &kp S &kp T &kp O &kp R &kp Y &kp SPC, P_S P_O, CHORDLAYER)
CHORD_LAYER(study,  &kp S &kp T &kp U &kp D &kp Y &kp SPC, P_S P_U, CHORDLAYER)
CHORD_LAYER(studied,  &kp S &kp T &kp U &kp D &kp I &kp E &kp D &kp SPC, P_S P_U P_D, CHORDLAYER)
CHORD_LAYER(studying,  &kp S &kp T &kp U &kp D &kp Y &kp I &kp N &kp G &kp SPC, P_S P_U P_G, CHORDLAYER)
CHORD_LAYER(there,  &kp T &kp H &kp E &kp R &kp E &kp SPC, P_T P_H 11, CHORDLAYER)
CHORD_LAYER(these,  &kp T &kp H &kp E &kp S &kp E &kp SPC, P_T P_H 12, CHORDLAYER)
CHORD_LAYER(thing,  &kp T &kp H &kp I &kp N &kp G &kp SPC, P_T P_H 14, CHORDLAYER)
CHORD_LAYER(think,  &kp T &kp H &kp I &kp N &kp K &kp SPC, P_T P_H, CHORDLAYER)
CHORD_LAYER(thought,  &kp T &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC, P_T P_H, CHORDLAYER)
CHORD_LAYER(thinking,  &kp T &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC, P_T P_H, CHORDLAYER)
CHORD_LAYER(those,  &kp T &kp H &kp O &kp S &kp E &kp SPC, P_T P_H P_O, CHORDLAYER)
CHORD_LAYER(three,  &kp T &kp H &kp R &kp E &kp E &kp SPC, P_REP P_T, CHORDLAYER)
CHORD_LAYER(under,  &kp U &kp N &kp D &kp E &kp R &kp SPC, P_U P_N, CHORDLAYER)
CHORD_LAYER(until,  &kp U &kp N &kp T &kp I &kp L &kp SPC, P_U P_T, CHORDLAYER)
CHORD_LAYER(watch,  &kp W &kp A &kp T &kp C &kp H &kp SPC, P_W P_T P_C, CHORDLAYER)
CHORD_LAYER(watched,  &kp W &kp A &kp T &kp C &kp H &kp E &kp D &kp SPC, P_W P_T P_C P_D, CHORDLAYER)
CHORD_LAYER(watching,  &kp W &kp A &kp T &kp C &kp H &kp I &kp N &kp G &kp SPC, P_W P_T P_C P_G, CHORDLAYER)
CHORD_LAYER(water,  &kp W &kp A &kp T &kp E &kp R &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(watered,  &kp W &kp A &kp T &kp E &kp R &kp E &kp D &kp SPC, P_W P_T P_D, CHORDLAYER)
CHORD_LAYER(watering,  &kp W &kp A &kp T &kp E &kp R &kp I &kp N &kp G &kp SPC, P_W P_T P_G, CHORDLAYER)
CHORD_LAYER(where,  &kp W &kp H &kp E &kp R &kp E &kp SPC, P_W P_H P_R , CHORDLAYER)
CHORD_LAYER(which,  &kp W &kp H &kp I &kp C &kp H &kp SPC, P_W P_I P_C, CHORDLAYER)
CHORD_LAYER(while,  &kp W &kp H &kp I &kp L &kp E &kp SPC, P_W P_H P_L, CHORDLAYER)
CHORD_LAYER(white,  &kp W &kp H &kp I &kp T &kp E &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(world,  &kp W &kp O &kp R &kp L &kp D &kp SPC, P_W P_R P_L, CHORDLAYER)
CHORD_LAYER(would,  &kp W &kp O &kp U &kp L &kp D &kp SPC, P_W P_D, CHORDLAYER)
CHORD_LAYER(write,  &kp W &kp R &kp I &kp T &kp E &kp SPC, P_W P_R, CHORDLAYER)
CHORD_LAYER(wrote,  &kp W &kp R &kp O &kp T &kp E &kp SPC, P_W P_R P_D, CHORDLAYER)
CHORD_LAYER(writing,  &kp W &kp R &kp I &kp T &kp I &kp N &kp G &kp SPC, P_W P_R P_G, CHORDLAYER)
CHORD_LAYER(young,  &kp Y &kp O &kp U &kp N &kp G &kp SPC, P_Y P_G, CHORDLAYER)
CHORD_LAYER(almost,  &kp A &kp L &kp M &kp O &kp S &kp T &kp SPC, P_A P_M P_T, CHORDLAYER)
CHORD_LAYER(always,  &kp A &kp L &kp W &kp A &kp Y &kp S &kp SPC, P_A P_W P_Y, CHORDLAYER)
CHORD_LAYER(animal,  &kp A &kp N &kp I &kp M &kp A &kp L &kp SPC, P_A P_N P_M, CHORDLAYER)
CHORD_LAYER(answer,  &kp A &kp N &kp S &kp W &kp E &kp R &kp SPC, P_A P_W, CHORDLAYER)
CHORD_LAYER(answered,  &kp A &kp N &kp S &kp W &kp E &kp R &kp E &kp D &kp SPC, P_A P_W P_D, CHORDLAYER)
CHORD_LAYER(answering,  &kp A &kp N &kp S &kp W &kp E &kp R &kp I &kp N &kp G &kp SPC, P_A P_W P_G, CHORDLAYER)
CHORD_LAYER(around,  &kp A &kp R &kp O &kp U &kp N &kp D &kp SPC, P_A P_R P_D, CHORDLAYER)
CHORD_LAYER(become,  &kp B &kp E &kp C &kp O &kp M &kp E &kp SPC, P_B P_E P_M, CHORDLAYER)
CHORD_LAYER(before,  &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC, P_B P_F, CHORDLAYER)
CHORD_LAYER(change,  &kp C &kp H &kp A &kp N &kp G &kp E &kp SPC, P_C P_H, CHORDLAYER)
CHORD_LAYER(changed,  &kp C &kp H &kp A &kp N &kp G &kp E &kp D &kp SPC, P_C P_H P_D, CHORDLAYER)
CHORD_LAYER(changing,  &kp C &kp H &kp A &kp N &kp G &kp I &kp N &kp G &kp SPC, P_C P_H P_G, CHORDLAYER)
CHORD_LAYER(course,  &kp C &kp O &kp U &kp R &kp S &kp E &kp SPC, P_C P_R, CHORDLAYER)
CHORD_LAYER(during,  &kp D &kp U &kp R &kp I &kp N &kp G &kp SPC, P_D P_U, CHORDLAYER)
CHORD_LAYER(enough,  &kp E &kp N &kp O &kp U &kp G &kp H &kp SPC, P_E P_N P_G, CHORDLAYER)
CHORD_LAYER(family,  &kp F &kp A &kp M &kp I &kp L &kp Y &kp SPC, P_F P_M, CHORDLAYER)
CHORD_LAYER(father,  &kp F &kp A &kp T &kp H &kp E &kp R &kp SPC, P_F P_A, CHORDLAYER)
CHORD_LAYER(fathered,  &kp F &kp A &kp T &kp H &kp E &kp R &kp E &kp D &kp SPC, P_F P_A P_D, CHORDLAYER)
CHORD_LAYER(fathering,  &kp F &kp A &kp T &kp H &kp E &kp R &kp I &kp N &kp G &kp SPC, P_F P_A P_G, CHORDLAYER)
CHORD_LAYER(follow,  &kp F &kp O &kp L &kp L &kp O &kp W &kp SPC, P_F P_O L, CHORDLAYER)
CHORD_LAYER(followed,  &kp F &kp O &kp L &kp L &kp O &kp W &kp E &kp D &kp SPC, P_F P_O P_L P_D, CHORDLAYER)
CHORD_LAYER(following,  &kp F &kp O &kp L &kp L &kp O &kp W &kp I &kp N &kp G &kp SPC, P_F P_O P_L P_G, CHORDLAYER)
CHORD_LAYER(govern,  &kp G &kp O &kp V &kp E &kp R &kp N &kp SPC, P_G P_O P_V, CHORDLAYER)
CHORD_LAYER(governed,  &kp G &kp O &kp V &kp E &kp R &kp N &kp E &kp D &kp SPC, P_G P_O P_V P_D, CHORDLAYER)
CHORD_LAYER(governing,  &kp G &kp O &kp V &kp E &kp R &kp N &kp I &kp N &kp G &kp SPC, P_G P_O P_V P_I, CHORDLAYER)
CHORD_LAYER(letter,  &kp L &kp E &kp T &kp T &kp E &kp R &kp SPC, P_L P_T, CHORDLAYER)
CHORD_LAYER(little,  &kp L &kp I &kp T &kp T &kp L &kp E &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(mother,  &kp M &kp O &kp T &kp H &kp E &kp R &kp SPC, P_M P_A, CHORDLAYER)
CHORD_LAYER(mothered,  &kp M &kp O &kp T &kp H &kp E &kp R &kp E &kp D &kp SPC, P_M P_A P_D, CHORDLAYER)
CHORD_LAYER(mothering,  &kp M &kp O &kp T &kp H &kp E &kp R &kp I &kp N &kp G &kp SPC, P_M P_A P_G, CHORDLAYER)
CHORD_LAYER(nation,  &kp N &kp A &kp T &kp I &kp O &kp N &kp SPC, P_N P_A, CHORDLAYER)
CHORD_LAYER(number,  &kp N &kp U &kp M &kp B &kp E &kp R &kp SPC, P_N P_R, CHORDLAYER)
CHORD_LAYER(person,  &kp P &kp E &kp R &kp S &kp O &kp N &kp SPC, P_P P_E, CHORDLAYER)
CHORD_LAYER(people,  &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC, P_P P_O, CHORDLAYER)
CHORD_LAYER(public,  &kp P &kp U &kp B &kp L &kp I &kp C &kp SPC, P_P P_U, CHORDLAYER)
CHORD_LAYER(really,  &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC, P_R P_L P_Y, CHORDLAYER)
CHORD_LAYER(school,  &kp S &kp C &kp H &kp O &kp O &kp L &kp SPC, P_S P_C, CHORDLAYER)
CHORD_LAYER(second,  &kp S &kp E &kp C &kp O &kp N &kp D &kp SPC, P_REP P_N P_D, CHORDLAYER)
CHORD_LAYER(should,  &kp S &kp H &kp O &kp U &kp L &kp D &kp SPC, P_S P_D, CHORDLAYER)
CHORD_LAYER(system,  &kp S &kp Y &kp S &kp T &kp E &kp M &kp SPC, P_S P_Y, CHORDLAYER)
CHORD_LAYER(against,  &kp A &kp G &kp A &kp I &kp N &kp S &kp T &kp SPC, P_A P_G, CHORDLAYER)
CHORD_LAYER(another,  &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp SPC, P_A P_N P_O, CHORDLAYER)
CHORD_LAYER(because,  &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC, P_B P_C, CHORDLAYER)
CHORD_LAYER(between,  &kp B &kp E &kp T &kp W &kp E &kp E &kp N &kp SPC, P_B P_W, CHORDLAYER)
CHORD_LAYER(country,  &kp C &kp O &kp U &kp N &kp T &kp R &kp Y &kp SPC, P_C P_T, CHORDLAYER)
CHORD_LAYER(develop,  &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp SPC, P_D P_E P_V, CHORDLAYER)
CHORD_LAYER(developed,  &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp E &kp D &kp SPC, P_D P_V P_D, CHORDLAYER)
CHORD_LAYER(developing,  &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp I &kp N &kp G &kp SPC, P_D P_V P_G, CHORDLAYER)
CHORD_LAYER(example,  &kp E &kp X &kp A &kp M &kp P &kp L &kp E &kp SPC, P_E P_G, CHORDLAYER)
CHORD_LAYER(general,  &kp G &kp E &kp N &kp E &kp R &kp A &kp L &kp SPC, P_G P_E, CHORDLAYER)
CHORD_LAYER(however,  &kp H &kp O &kp W &kp E &kp V &kp E &kp R &kp SPC, P_H P_E, CHORDLAYER)
CHORD_LAYER(picture,  &kp P &kp I &kp C &kp T &kp U &kp R &kp E &kp SPC, P_P P_I P_C, CHORDLAYER)
CHORD_LAYER(pictured,  &kp P &kp I &kp C &kp T &kp U &kp R &kp E &kp D &kp SPC, P_P P_I P_C P_D, CHORDLAYER)
CHORD_LAYER(picturing,  &kp P &kp I &kp C &kp T &kp U &kp R &kp I &kp N &kp G &kp SPC, P_P P_I P_C P_G, CHORDLAYER)
CHORD_LAYER(present,  &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp SPC, P_P P_R, CHORDLAYER)
CHORD_LAYER(presented,  &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp E &kp D &kp SPC, P_P P_R P_D, CHORDLAYER)
CHORD_LAYER(presenting,  &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp I &kp N &kp G &kp SPC, P_P P_R P_G, CHORDLAYER)
CHORD_LAYER(problem,  &kp P &kp R &kp O &kp B &kp L &kp E &kp M &kp SPC, P_P P_B, CHORDLAYER)
CHORD_LAYER(program,  &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp SPC, P_P P_G, CHORDLAYER)
CHORD_LAYER(programmed,  &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp M &kp E &kp D &kp SPC, P_P P_G P_D, CHORDLAYER)
CHORD_LAYER(programming,  &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp M &kp I &kp N &kp G &kp SPC, P_P P_G P_N, CHORDLAYER)
CHORD_LAYER(through,  &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC, P_T P_H P_R, CHORDLAYER)
CHORD_LAYER(without,  &kp W &kp I &kp T &kp H &kp O &kp U &kp T &kp SPC, P_W P_O, CHORDLAYER)
CHORD_LAYER(consider,  &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp SPC, P_C P_S, CHORDLAYER)
CHORD_LAYER(considered,  &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp E &kp D &kp SPC, P_C P_S P_D, CHORDLAYER)
CHORD_LAYER(considering,  &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp I &kp N &kp G &kp SPC, P_C P_S P_G, CHORDLAYER)
CHORD_LAYER(increase,  &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp E &kp SPC, P_I P_C, CHORDLAYER)
CHORD_LAYER(increased,  &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp E &kp D &kp SPC, P_I P_C P_D, CHORDLAYER)
CHORD_LAYER(increasing,  &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp I &kp N &kp G &kp SPC, P_I P_C P_G, CHORDLAYER)
CHORD_LAYER(interest,  &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp SPC, P_I P_N P_T, CHORDLAYER)
CHORD_LAYER(interested,  &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp E &kp D &kp SPC, P_I P_N P_T P_D, CHORDLAYER)
CHORD_LAYER(interesting,  &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp I &kp N &kp G &kp SPC, P_I P_N P_T P_G, CHORDLAYER)
CHORD_LAYER(mountain,  &kp M &kp O &kp U &kp N &kp T &kp A &kp I &kp N &kp SPC, P_M P_T, CHORDLAYER)
CHORD_LAYER(possible,  &kp P &kp O &kp S &kp S &kp I &kp B &kp L &kp E &kp SPC, P_P P_O P_S, CHORDLAYER)
CHORD_LAYER(sentence,  &kp S &kp E &kp N &kp T &kp E &kp N &kp C &kp E &kp SPC, P_S P_E P_N, CHORDLAYER)
CHORD_LAYER(together,  &kp T &kp O &kp G &kp E &kp T &kp H &kp E &kp R &kp SPC, P_T P_G, CHORDLAYER)
CHORD_LAYER(different,  &kp D &kp I &kp F &kp F &kp E &kp R &kp E &kp N &kp T &kp SPC, P_D P_I P_F, CHORDLAYER)
CHORD_LAYER(important,  &kp I &kp M &kp P &kp O &kp R &kp T &kp A &kp N &kp T &kp SPC, P_I P_P, CHORDLAYER)
CHORD_LAYER(something,  &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC, P_S P_T, CHORDLAYER)
CHORD_LAYER(sometimes,  &kp S &kp O &kp M &kp E &kp T &kp I &kp M &kp E &kp S &kp SPC, P_S P_T P_I, CHORDLAYER)
CHORD_LAYER(kubernetes,  &kp K &kp U &kp B &kp E &kp R &kp N &kp E &kp T &kp E &kp S &kp SPC, P_K P_U P_B, CHORDLAYER)
CHORD_LAYER(function,  &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPC, P_F P_N, CHORDLAYER)
CHORD_LAYER(functioned,  &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp E &kp D &kp SPC, P_F P_N P_D, CHORDLAYER)
CHORD_LAYER(functioning,  &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp I &kp N &kp G &kp SPC, P_F P_N P_G, CHORDLAYER)
CHORD_LAYER(question,  &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp SPC, P_COMMA, CHORDLAYER)
CHORD_LAYER(questioned,  &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp E &kp D &kp SPC,  P_COMMA P_D, CHORDLAYER)
CHORD_LAYER(questioning,  &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp I &kp N &kp G &kp SPC,  P_COMMA P_G, CHORDLAYER)
CHORD_LAYER(thankSPCyou,  &kp T &kp H &kp A &kp N &kp K &kp SPC &kp Y &kp O &kp U &kp SPC, P_T P_U, CHORDLAYER)
CHORD_LAYER(somebody,  &kp S &kp O &kp M &kp E &kp B &kp O &kp D &kp Y &kp SPC, P_S P_B, CHORDLAYER)
CHORD_LAYER(somebodySQTs,  &kp S &kp O &kp M &kp E &kp B &kp O &kp D &kp Y &kp SQT &kp S &kp SPC, P_S P_B P_S, CHORDLAYER)
CHORD_LAYER(everybody,  &kp E &kp V &kp E &kp R &kp Y &kp B &kp O &kp D &kp Y &kp SPC, P_E P_B, CHORDLAYER)
CHORD_LAYER(everybodySQTs,  &kp E &kp V &kp E &kp R &kp Y &kp B &kp O &kp D &kp Y &kp SQT &kp S &kp SPC, P_E P_B P_S, CHORDLAYER)
CHORD_LAYER(low,  &kp L &kp O &kp W &kp SPC, P_L, CHORDLAYER)