#define CHORDLAYER 6

CHORD_LAYER(m_BSPCDOTSPCLSHIFT, &kp BSPC &kp DOT &kp SPC &sk LSHIFT, P_DOT, CHORDLAYER)
CHORD_LAYER(m_BSPCCOMMA,  &kp BSPC &kp COMMA &kp SPC, P_COMMA, CHORDLAYER)
CHORD_LAYER(m_BSPCQUESTION,  &kp BSPC &kp QUESTION &kp SPC, P_SHIFT P_COMMA, CHORDLAYER)
CHORD_LAYER(m_BSPCnSQTt,  &kp BSPC &kp N &kp SQT &kp T &kp SPC, P_MINUS, CHORDLAYER)
CHORD_LAYER(m_BSPCSQTd,  &kp BSPC &kp SQT &kp D &kp SPC, P_MINUS P_D, CHORDLAYER)
CHORD_LAYER(m_BSPCSQTs,  &kp BSPC &kp SQT &kp S &kp SPC, P_MINUS P_S, CHORDLAYER)
CHORD_LAYER(m_BSPCSQTll,  &kp BSPC &kp SQT &kp L &kp L &kp SPC, P_MINUS P_L, CHORDLAYER)
CHORD_LAYER(m_BSPCSQTre,  &kp BSPC &kp SQT &kp R &kp E &kp SPC, P_MINUS P_R, CHORDLAYER)
CHORD_LAYER(m_BSPCSQTve,  &kp BSPC &kp SQT &kp V &kp E &kp SPC, P_MINUS P_V, CHORDLAYER)
CHORD_LAYER(m_BSPCSQTm,  &kp BSPC &kp SQT &kp M &kp SPC, P_MINUS P_M, CHORDLAYER)
CHORD_LAYER(m_BSPCing,  &kp BSPC &kp I &kp N &kp G &kp SPC, P_MINUS P_G, CHORDLAYER)
CHORD_LAYER(m_Patrick,  &sk LSHIFT &kp P &kp A &kp T &kp R &kp K &kp C &kp K &kp SPC, P_P P_A P_T, CHORDLAYER)
CHORD_LAYER(m_Mukherjee,  &sk LSHIFT &kp M &kp U &kp K &kp H &kp E &kp R &kp J &kp E &kp E &kp SPC, P_M P_U P_K, CHORDLAYER)
CHORD_LAYER(m_my_email,  &kp P &kp A &kp T &kp R &kp I &kp C &kp K &kp AT &kp M &kp U &kp K &kp H &kp E &kp R &kp J &kp E &kp E &kp DOT &kp D &kp E, P_M P_A P_I P_L, CHORDLAYER)
CHORD_LAYER(m_a,  &kp A &kp SPC, P_A, CHORDLAYER)
CHORD_LAYER(m_I,  &sk LSHIFT &kp I &kp SPC, P_I, CHORDLAYER)
CHORD_LAYER(m_an,  &kp A &kp N &kp SPC, P_A P_N, CHORDLAYER)
CHORD_LAYER(m_as,  &kp A &kp S &kp SPC, P_A P_S, CHORDLAYER)
CHORD_LAYER(m_at,  &kp A &kp T &kp SPC, P_A P_T, CHORDLAYER)
CHORD_LAYER(m_be,  &kp B &kp E &kp SPC, P_B P_E, CHORDLAYER)
CHORD_LAYER(m_by,  &kp B &kp Y &kp SPC, P_B P_Y, CHORDLAYER)
CHORD_LAYER(m_do,  &kp D &kp O &kp SPC, P_D P_O, CHORDLAYER)
CHORD_LAYER(m_did,  &kp D &kp I &kp D &kp SPC, P_D P_I, CHORDLAYER)
CHORD_LAYER(m_doing,  &kp D &kp O &kp I &kp N &kp G &kp SPC, P_D P_O P_G, CHORDLAYER)
CHORD_LAYER(m_go,  &kp G &kp O &kp SPC, P_G, CHORDLAYER)
CHORD_LAYER(m_went,  &kp W &kp E &kp N &kp T &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(m_going,  &kp G &kp O &kp I &kp N &kp G &kp SPC, P_G P_O, CHORDLAYER)
//  CHORD_LAYER(m_he,  &kp H &kp E &kp SPC, P_H P_E, CHORDLAYER)
//  CHORD_LAYER(m_hi,  &kp H &kp I &kp SPC, P_H 18, CHORDLAYER)
//  CHORD_LAYER(m_if,  &kp I &kp F &kp SPC, P_I 2, CHORDLAYER)
//  CHORD_LAYER(m_in,  &kp I &kp N &kp SPC, P_I 16, CHORDLAYER)
//  CHORD_LAYER(m_is,  &kp I &kp S &kp SPC, P_I 12, CHORDLAYER)
CHORD_LAYER(m_was,  &kp W &kp A &kp S &kp SPC, P_W, CHORDLAYER)
CHORD_LAYER(m_will,  &kp W &kp I &kp L &kp L &kp SPC, P_W P_L, CHORDLAYER)
//  CHORD_LAYER(m_it,  &kp I &kp T &kp SPC, P_I 13, CHORDLAYER)
//  CHORD_LAYER(m_its,  &kp I &kp T &kp S &kp SPC, P_I 13, CHORDLAYER)
//  CHORD_LAYER(m_me,  &kp M &kp E &kp SPC, P_M P_E, CHORDLAYER)
//  CHORD_LAYER(m_mine,  &kp M &kp I &kp N &kp E &kp SPC, P_M P_E, CHORDLAYER)
//  CHORD_LAYER(m_my,  &kp M &kp Y &kp SPC, P_M P_E, CHORDLAYER)
CHORD_LAYER(m_no,  &kp N &kp O &kp SPC, P_N, CHORDLAYER)
// CHORD_LAYER(m_of,  &kp O &kp F &kp SPC, P_O 2, CHORDLAYER)
// CHORD_LAYER(m_OK,  &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC, P_O 25, CHORDLAYER)
// CHORD_LAYER(m_on,  &kp O &kp N &kp SPC, P_O 16, CHORDLAYER)
// CHORD_LAYER(m_or,  &kp O &kp R &kp SPC, P_O 11, CHORDLAYER)
// CHORD_LAYER(m_so,  &kp S &kp O &kp SPC, P_S 19, CHORDLAYER)
// CHORD_LAYER(m_to,  &kp T &kp O &kp SPC, P_T 19, CHORDLAYER)
// CHORD_LAYER(m_up,  &kp U &kp P &kp SPC, P_U 3, CHORDLAYER)
// CHORD_LAYER(m_us,  &kp U &kp S &kp SPC, P_U 12, CHORDLAYER)
// CHORD_LAYER(m_we,  &kp W &kp E &kp SPC, P_W P_E, CHORDLAYER)
CHORD_LAYER(m_add,  &kp A &kp D &kp D &kp SPC, P_MINUS, CHORDLAYER)
CHORD_LAYER(m_added,  &kp A &kp D &kp D &kp E &kp D &kp SPC, P_MINUS P_E, CHORDLAYER)
CHORD_LAYER(m_adding,  &kp A &kp D &kp D &kp I &kp N &kp G &kp SPC, P_MINUS P_G, CHORDLAYER)
CHORD_LAYER(m_air,  &kp A &kp I &kp R &kp SPC, P_A P_R, CHORDLAYER)
CHORD_LAYER(m_all,  &kp A &kp L &kp L &kp SPC, P_A P_L, CHORDLAYER)
CHORD_LAYER(m_and,  &kp A &kp N &kp D &kp SPC, P_I, CHORDLAYER)
CHORD_LAYER(m_any,  &kp A &kp N &kp Y &kp SPC, P_A P_Y, CHORDLAYER)
CHORD_LAYER(m_are,  &kp A &kp R &kp E &kp SPC, P_A P_R, CHORDLAYER)
CHORD_LAYER(m_ask,  &kp A &kp S &kp K &kp SPC, P_A P_K, CHORDLAYER)
CHORD_LAYER(m_big,  &kp B &kp I &kp G &kp SPC, P_B P_G, CHORDLAYER)
CHORD_LAYER(m_boy,  &kp B &kp O &kp Y &kp SPC, P_B P_Y, CHORDLAYER)
CHORD_LAYER(m_but,  &kp B &kp U &kp T &kp SPC, P_B P_T, CHORDLAYER)
CHORD_LAYER(m_can,  &kp C &kp A &kp N &kp SPC, P_C P_N, CHORDLAYER)
CHORD_LAYER(m_could,  &kp C &kp O &kp U &kp L &kp D &kp SPC, P_C P_D, CHORDLAYER)
CHORD_LAYER(m_car,  &kp C &kp A &kp R &kp SPC, P_C P_R, CHORDLAYER)
CHORD_LAYER(m_cut,  &kp C &kp U &kp T &kp SPC, P_C P_T, CHORDLAYER)
CHORD_LAYER(m_day,  &kp D &kp A &kp Y &kp SPC, P_D P_Y, CHORDLAYER)
CHORD_LAYER(m_eat,  &kp E &kp A &kp T &kp SPC, P_E P_T , CHORDLAYER)
CHORD_LAYER(m_ate,  &kp A &kp T &kp E &kp SPC, P_A P_T, CHORDLAYER)
CHORD_LAYER(m_eating,  &kp E &kp A &kp T &kp I &kp N &kp G &kp SPC, P_E P_T P_G, CHORDLAYER)
CHORD_LAYER(m_end,  &kp E &kp N &kp D &kp SPC, P_E P_D, CHORDLAYER)
CHORD_LAYER(m_eye,  &kp E &kp Y &kp E &kp SPC, P_E P_Y, CHORDLAYER)
CHORD_LAYER(m_eyed,  &kp E &kp Y &kp E &kp D &kp SPC, P_E P_Y P_D, CHORDLAYER)
CHORD_LAYER(m_eying,  &kp E &kp Y &kp I &kp N &kp G &kp SPC, P_E P_Y P_G, CHORDLAYER)
CHORD_LAYER(m_far,  &kp F &kp A &kp R &kp SPC, P_F P_A, CHORDLAYER)
CHORD_LAYER(m_few,  &kp F &kp E &kp W &kp SPC, P_F P_W, CHORDLAYER)
CHORD_LAYER(m_for,  &kp F &kp O &kp R &kp SPC, P_F P_O, CHORDLAYER)
CHORD_LAYER(m_get,  &kp G &kp E &kp T &kp SPC, P_G P_T, CHORDLAYER)
CHORD_LAYER(m_got,  &kp G &kp O &kp T &kp SPC, P_G P_O, CHORDLAYER)
CHORD_LAYER(m_getting,  &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC, P_G P_E, CHORDLAYER)
CHORD_LAYER(m_has,  &kp H &kp A &kp S &kp SPC, P_H P_S, CHORDLAYER)
CHORD_LAYER(m_had,  &kp H &kp A &kp D &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(m_her,  &kp H &kp E &kp R &kp SPC, P_H P_R, CHORDLAYER)
CHORD_LAYER(m_hers,  &kp H &kp E &kp R &kp S &kp SPC, P_H P_R P_S, CHORDLAYER)
CHORD_LAYER(m_hey,  &kp H &kp E &kp Y &kp SPC, P_H P_Y, CHORDLAYER)
CHORD_LAYER(m_him,  &kp H &kp I &kp M &kp SPC, P_H P_M, CHORDLAYER)
CHORD_LAYER(m_his,  &kp H &kp I &kp S &kp SPC, P_H P_I, CHORDLAYER)
CHORD_LAYER(m_how,  &kp H &kp O &kp W &kp SPC, P_H P_W, CHORDLAYER)
CHORD_LAYER(m_let,  &kp L &kp E &kp T &kp SPC, P_L P_T, CHORDLAYER)
CHORD_LAYER(m_man,  &kp M &kp A &kp N &kp SPC, P_M P_N, CHORDLAYER)
CHORD_LAYER(m_men,  &kp M &kp E &kp N &kp SPC, P_M P_E, CHORDLAYER)
CHORD_LAYER(m_may,  &kp M &kp A &kp Y &kp SPC, P_M P_Y, CHORDLAYER)
CHORD_LAYER(m_new,  &kp N &kp E &kp W &kp SPC, P_N P_W, CHORDLAYER)
CHORD_LAYER(m_not,  &kp N &kp O &kp T &kp SPC, P_N P_T, CHORDLAYER)
CHORD_LAYER(m_now,  &kp N &kp O &kp W &kp SPC, P_N P_W, CHORDLAYER)
CHORD_LAYER(m_off,  &kp O &kp F &kp F &kp SPC, P_O P_F, CHORDLAYER)
CHORD_LAYER(m_oil,  &kp O &kp I &kp L &kp SPC, P_O P_L, CHORDLAYER)
CHORD_LAYER(m_old,  &kp O &kp L &kp D &kp SPC, P_O P_D, CHORDLAYER)
CHORD_LAYER(m_one,  &kp O &kp N &kp E &kp SPC, P_SHIFT P_S, CHORDLAYER)
CHORD_LAYER(m_oneSQTs,  &kp O &kp N &kp E &kp SQT &kp S &kp SPC, P_O P_E P_S, CHORDLAYER)
CHORD_LAYER(m_our,  &kp O &kp U &kp R &kp SPC, P_O P_R, CHORDLAYER)
CHORD_LAYER(m_ours,  &kp O &kp U &kp R &kp S &kp SPC, P_O P_R P_S, CHORDLAYER)
CHORD_LAYER(m_out,  &kp O &kp U &kp T &kp SPC, P_O P_T, CHORDLAYER)
CHORD_LAYER(m_own,  &kp O &kp W &kp N &kp SPC, P_O P_N, CHORDLAYER)
CHORD_LAYER(m_owned,  &kp O &kp W &kp N &kp E &kp D &kp SPC, P_O P_N P_D, CHORDLAYER)
CHORD_LAYER(m_owning,  &kp O &kp W &kp N &kp I &kp N &kp G &kp SPC, P_O P_N P_G, CHORDLAYER)
CHORD_LAYER(m_put,  &kp P &kp U &kp T &kp SPC, P_P P_T, CHORDLAYER)
CHORD_LAYER(m_run,  &kp R &kp U &kp N &kp SPC, P_R P_N, CHORDLAYER)
CHORD_LAYER(m_ran,  &kp R &kp A &kp N &kp SPC, P_R P_A, CHORDLAYER)
CHORD_LAYER(m_running,  &kp R &kp U &kp N &kp N &kp I &kp N &kp G &kp SPC, P_R P_N P_G, CHORDLAYER)
CHORD_LAYER(m_say,  &kp S &kp A &kp Y &kp SPC, P_S P_Y, CHORDLAYER)
CHORD_LAYER(m_sea,  &kp S &kp E &kp A &kp SPC, P_S P_A, CHORDLAYER)
CHORD_LAYER(m_see,  &kp S &kp E &kp E &kp SPC, P_S P_E, CHORDLAYER)
CHORD_LAYER(m_saw,  &kp S &kp A &kp W &kp SPC, P_S P_W, CHORDLAYER)
CHORD_LAYER(m_seeing,  &kp S &kp E &kp E &kp I &kp N &kp G &kp SPC, P_S P_E P_G, CHORDLAYER)
CHORD_LAYER(m_set,  &kp S &kp E &kp T &kp SPC, P_S P_T, CHORDLAYER)
CHORD_LAYER(m_she,  &kp S &kp H &kp E &kp SPC, P_S P_H, CHORDLAYER)
CHORD_LAYER(m_the,  &kp T &kp H &kp E &kp SPC, P_T P_E, CHORDLAYER)
CHORD_LAYER(m_too,  &kp T &kp O &kp O &kp SPC, P_T P_O, CHORDLAYER)
CHORD_LAYER(m_try,  &kp T &kp R &kp Y &kp SPC, P_T P_Y, CHORDLAYER)
CHORD_LAYER(m_tried,  &kp T &kp R &kp I &kp E &kp D &kp SPC, P_T P_Y P_D, CHORDLAYER)
CHORD_LAYER(m_trying,  &kp T &kp R &kp Y &kp I &kp N &kp G &kp SPC, P_T P_Y P_G, CHORDLAYER)
CHORD_LAYER(m_two,  &kp T &kp W &kp O &kp SPC, P_SHIFT P_N, CHORDLAYER)
CHORD_LAYER(m_use,  &kp U &kp S &kp E &kp SPC, P_U P_E, CHORDLAYER)
CHORD_LAYER(m_used,  &kp U &kp S &kp E &kp D &kp SPC, P_U P_E, CHORDLAYER)
CHORD_LAYER(m_using,  &kp U &kp S &kp I &kp N &kp G &kp SPC, P_U P_E, CHORDLAYER)
CHORD_LAYER(m_way,  &kp W &kp A &kp Y &kp SPC, P_W P_A, CHORDLAYER)
CHORD_LAYER(m_who,  &kp W &kp H &kp O &kp SPC, P_H P_O, CHORDLAYER)
CHORD_LAYER(m_why,  &kp W &kp H &kp Y &kp SPC, P_W P_Y, CHORDLAYER)
CHORD_LAYER(m_you,  &kp Y &kp O &kp U &kp SPC, P_U, CHORDLAYER)
CHORD_LAYER(m_yours,  &kp Y &kp O &kp U &kp R &kp S &kp SPC, P_U P_S, CHORDLAYER)
CHORD_LAYER(m_your,  &kp Y &kp O &kp U &kp R &kp SPC, P_U P_R, CHORDLAYER)
CHORD_LAYER(m_also,  &kp A &kp L &kp S &kp O &kp SPC, P_A P_O, CHORDLAYER)
CHORD_LAYER(m_away,  &kp A &kp W &kp A &kp Y &kp SPC, P_A P_W P_Y, CHORDLAYER)
CHORD_LAYER(m_back,  &kp B &kp A &kp C &kp K &kp SPC, P_B P_K, CHORDLAYER)
CHORD_LAYER(m_been,  &kp B &kp E &kp E &kp N &kp SPC, P_B P_N, CHORDLAYER)
CHORD_LAYER(m_book,  &kp B &kp O &kp O &kp K &kp SPC, P_B P_O P_K, CHORDLAYER)
CHORD_LAYER(m_booked,  &kp B &kp O &kp O &kp K &kp E &kp D &kp SPC, P_B P_O P_D, CHORDLAYER)
CHORD_LAYER(m_booking,  &kp B &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC, P_B P_O P_G, CHORDLAYER)
CHORD_LAYER(m_both,  &kp B &kp O &kp T &kp H &kp SPC, P_B P_H, CHORDLAYER)
CHORD_LAYER(m_call,  &kp C &kp A &kp L &kp L &kp SPC, P_C P_L, CHORDLAYER)
CHORD_LAYER(m_city,  &kp C &kp I &kp T &kp Y &kp SPC, P_C P_Y, CHORDLAYER)
CHORD_LAYER(m_come,  &kp C &kp O &kp M &kp E &kp SPC, P_C P_M, CHORDLAYER)
CHORD_LAYER(m_came,  &kp C &kp A &kp M &kp E &kp SPC, P_C P_A P_M, CHORDLAYER)
CHORD_LAYER(m_coming,  &kp C &kp O &kp M &kp I &kp N &kp G &kp SPC, P_C P_M P_G, CHORDLAYER)
CHORD_LAYER(m_does,  &kp D &kp O &kp E &kp S &kp SPC, P_D P_O P_S, CHORDLAYER)
CHORD_LAYER(m_down,  &kp D &kp O &kp W &kp N &kp SPC, P_D P_W, CHORDLAYER)
CHORD_LAYER(m_each,  &kp E &kp A &kp C &kp H &kp SPC, P_E P_C, CHORDLAYER)
CHORD_LAYER(m_even,  &kp E &kp V &kp E &kp N &kp SPC, P_E P_V, CHORDLAYER)
CHORD_LAYER(m_face,  &kp F &kp A &kp C &kp E &kp SPC, P_F P_A, CHORDLAYER)
CHORD_LAYER(m_faced,  &kp F &kp A &kp C &kp E &kp D &kp SPC, P_F P_A P_D, CHORDLAYER)
CHORD_LAYER(m_facing,  &kp F &kp A &kp C &kp I &kp N &kp G &kp SPC, P_F P_A P_G, CHORDLAYER)
CHORD_LAYER(m_fact,  &kp F &kp A &kp C &kp T &kp SPC, P_F P_C, CHORDLAYER)
CHORD_LAYER(m_feel,  &kp F &kp E &kp E &kp L &kp SPC, P_F P_L, CHORDLAYER)
CHORD_LAYER(m_felt,  &kp F &kp E &kp L &kp T &kp SPC, P_F P_L P_D, CHORDLAYER)
CHORD_LAYER(m_feeling,  &kp F &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC, P_F P_L P_G, CHORDLAYER)
CHORD_LAYER(m_feet,  &kp F &kp E &kp E &kp T &kp SPC, P_F P_T, CHORDLAYER)
CHORD_LAYER(m_find,  &kp F &kp I &kp N &kp D &kp SPC, P_F P_I P_N, CHORDLAYER)
CHORD_LAYER(m_found,  &kp F &kp O &kp U &kp N &kp D &kp SPC, P_F P_I P_N P_D, CHORDLAYER)
CHORD_LAYER(m_finding,  &kp F &kp I &kp N &kp D &kp I &kp N &kp G &kp SPC, P_F P_I P_N P_D, CHORDLAYER)
CHORD_LAYER(m_food,  &kp F &kp O &kp O &kp D &kp SPC, P_F P_O, CHORDLAYER)
CHORD_LAYER(m_form,  &kp F &kp O &kp R &kp M &kp SPC, P_F P_M, CHORDLAYER)
CHORD_LAYER(m_four,  &kp F &kp O &kp U &kp R &kp SPC, P_SHIFT P_F, CHORDLAYER)
CHORD_LAYER(m_from,  &kp F &kp R &kp O &kp M &kp SPC, P_F P_R, CHORDLAYER)
CHORD_LAYER(m_girl,  &kp G &kp I &kp R &kp L &kp SPC, P_G P_L, CHORDLAYER)
CHORD_LAYER(m_give,  &kp G &kp I &kp V &kp E &kp SPC, P_G P_I, CHORDLAYER)
CHORD_LAYER(m_gave,  &kp G &kp A &kp V &kp E &kp SPC, P_G P_I P_D, CHORDLAYER)
CHORD_LAYER(m_giving,  &kp G &kp I &kp V &kp I &kp N &kp G &kp SPC, P_G P_I P_G, CHORDLAYER)
CHORD_LAYER(m_good,  &kp G &kp O &kp O &kp D &kp SPC, P_G P_D, CHORDLAYER)
CHORD_LAYER(m_grow,  &kp G &kp R &kp O &kp W &kp SPC, P_G P_R P_W, CHORDLAYER)
CHORD_LAYER(m_grew,  &kp G &kp R &kp E &kp W &kp SPC, P_G P_R P_W P_D, CHORDLAYER)
CHORD_LAYER(m_growing,  &kp G &kp R &kp O &kp W &kp I &kp N &kp G &kp SPC, P_G P_R P_W P_G, CHORDLAYER)
CHORD_LAYER(m_hand,  &kp H &kp A &kp N &kp D &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(m_handed,  &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(m_handing,  &kp H &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC, P_H P_D, CHORDLAYER)
CHORD_LAYER(m_hard,  &kp H &kp A &kp R &kp D &kp SPC, P_H P_A, CHORDLAYER)
CHORD_LAYER(m_have,  &kp H &kp A &kp V &kp E &kp SPC, P_H P_V, CHORDLAYER)
CHORD_LAYER(m_head,  &kp H &kp E &kp A &kp D &kp SPC, P_H P_V P_D, CHORDLAYER)
CHORD_LAYER(m_headed,  &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC, P_H P_A P_D, CHORDLAYER)
CHORD_LAYER(m_heading,  &kp H &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC, P_H P_A P_G, CHORDLAYER)
CHORD_LAYER(m_hear,  &kp H &kp E &kp A &kp R &kp SPC, P_H P_R, CHORDLAYER)
CHORD_LAYER(m_heard,  &kp H &kp E &kp A &kp R &kp D &kp SPC, P_H P_R P_D, CHORDLAYER)
CHORD_LAYER(m_hearing,  &kp H &kp E &kp A &kp R &kp I &kp N &kp G &kp SPC, P_H P_R P_G, CHORDLAYER)
CHORD_LAYER(m_help,  &kp H &kp E &kp L &kp P &kp SPC, P_H P_P, CHORDLAYER)
CHORD_LAYER(m_helped,  &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC, P_H P_P P_D, CHORDLAYER)
CHORD_LAYER(m_helping,  &kp H &kp E &kp L &kp P &kp I &kp N &kp G &kp SPC, P_H P_P P_G, CHORDLAYER)
CHORD_LAYER(m_here,  &kp H &kp E &kp R &kp E &kp SPC, P_H P_E P_R, CHORDLAYER)
CHORD_LAYER(m_high,  &kp H &kp I &kp G &kp H &kp SPC, P_H P_I, CHORDLAYER)
CHORD_LAYER(m_hold,  &kp H &kp O &kp L &kp D &kp SPC, P_H P_O P_L, CHORDLAYER)
CHORD_LAYER(m_held,  &kp H &kp E &kp L &kp D &kp SPC, P_H P_O P_L P_D, CHORDLAYER)
CHORD_LAYER(m_holding,  &kp H &kp O &kp L &kp D &kp I &kp N &kp G &kp SPC, P_H P_O P_L P_G, CHORDLAYER)
CHORD_LAYER(m_home,  &kp H &kp O &kp M &kp E &kp SPC, P_H P_M, CHORDLAYER)
CHORD_LAYER(m_idea,  &kp I &kp D &kp E &kp A &kp SPC, P_I P_D, CHORDLAYER)
CHORD_LAYER(m_into,  &kp I &kp N &kp T &kp O &kp SPC, P_I P_N, CHORDLAYER)
CHORD_LAYER(m_just,  &kp J &kp U &kp S &kp T &kp SPC, P_J P_T, CHORDLAYER)
CHORD_LAYER(m_keep,  &kp K &kp E &kp E &kp P &kp SPC, P_K P_P, CHORDLAYER)
CHORD_LAYER(m_kept,  &kp K &kp E &kp P &kp T &kp SPC, P_K P_P P_D, CHORDLAYER)
CHORD_LAYER(m_keeping,  &kp K &kp E &kp E &kp P &kp I &kp N &kp G &kp SPC, P_K P_P P_G, CHORDLAYER)
CHORD_LAYER(m_kind,  &kp K &kp I &kp N &kp D &kp SPC, P_K P_D, CHORDLAYER)
CHORD_LAYER(m_know,  &kp K &kp N &kp O &kp W &kp SPC, P_K P_N, CHORDLAYER)
CHORD_LAYER(m_knew,  &kp K &kp N &kp E &kp W &kp SPC, P_K P_N P_D, CHORDLAYER)
CHORD_LAYER(m_knowing,  &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC, P_K P_N P_G, CHORDLAYER)
CHORD_LAYER(m_land,  &kp L &kp A &kp N &kp D &kp SPC, P_L P_A, CHORDLAYER)
CHORD_LAYER(m_landed,  &kp L &kp A &kp N &kp D &kp E &kp D &kp SPC, P_L P_A P_D, CHORDLAYER)
CHORD_LAYER(m_landing,  &kp L &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC, P_L P_A P_G, CHORDLAYER)
CHORD_LAYER(m_last,  &kp L &kp A &kp S &kp T &kp SPC, P_L P_T, CHORDLAYER)
CHORD_LAYER(m_late,  &kp L &kp A &kp T &kp E &kp SPC, P_L P_A P_T, CHORDLAYER)
CHORD_LAYER(m_later,  &kp L &kp A &kp T &kp E &kp R &kp SPC, P_L P_T P_R, CHORDLAYER)
CHORD_LAYER(m_lead,  &kp L &kp E &kp A &kp D &kp SPC, P_L P_E P_D, CHORDLAYER)
CHORD_LAYER(m_led,  &kp L &kp E &kp D &kp SPC, P_L P_D, CHORDLAYER)
CHORD_LAYER(m_leading,  &kp L &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC, P_L P_E P_D P_G, CHORDLAYER)
CHORD_LAYER(m_left,  &kp L &kp E &kp F &kp T &kp SPC, P_L P_F P_T, CHORDLAYER)
CHORD_LAYER(m_life,  &kp L &kp I &kp F &kp E &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(m_like,  &kp L &kp I &kp K &kp E &kp SPC, P_L P_K, CHORDLAYER)
CHORD_LAYER(m_liked,  &kp L &kp I &kp K &kp E &kp D &kp SPC, P_L P_K P_D, CHORDLAYER)
CHORD_LAYER(m_liking,  &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC, P_L P_K P_G, CHORDLAYER)
CHORD_LAYER(m_line,  &kp L &kp I &kp N &kp E &kp SPC, P_L P_N, CHORDLAYER)
CHORD_LAYER(m_list,  &kp L &kp I &kp S &kp T &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(m_listed,  &kp L &kp I &kp S &kp T &kp E &kp D &kp SPC, P_L P_I P_D, CHORDLAYER)
CHORD_LAYER(m_listing,  &kp L &kp I &kp S &kp T &kp I &kp N &kp G &kp SPC, P_L P_I P_G, CHORDLAYER)
CHORD_LAYER(m_live,  &kp L &kp I &kp V &kp E &kp SPC, P_L P_V, CHORDLAYER)
CHORD_LAYER(m_lived,  &kp L &kp I &kp V &kp E &kp D &kp SPC, P_L P_V P_D, CHORDLAYER)
CHORD_LAYER(m_living,  &kp L &kp I &kp V &kp I &kp N &kp G &kp SPC, P_L P_V P_G, CHORDLAYER)
CHORD_LAYER(m_long,  &kp L &kp O &kp N &kp G &kp SPC, P_L P_O P_N, CHORDLAYER)
CHORD_LAYER(m_look,  &kp L &kp O &kp O &kp K &kp SPC, P_L P_U, CHORDLAYER)
CHORD_LAYER(m_looked,  &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC, P_L P_U P_D, CHORDLAYER)
CHORD_LAYER(m_looking,  &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC, P_L P_U P_G, CHORDLAYER)
CHORD_LAYER(m_make,  &kp M &kp A &kp K &kp E &kp SPC, P_M P_K, CHORDLAYER)
CHORD_LAYER(m_made,  &kp M &kp A &kp D &kp E &kp SPC, P_M  P_K P_D, CHORDLAYER)
CHORD_LAYER(m_making,  &kp M &kp A &kp K &kp I &kp N &kp G &kp SPC, P_M P_K P_G, CHORDLAYER)
CHORD_LAYER(m_many,  &kp M &kp A &kp N &kp Y &kp SPC, P_M P_Y, CHORDLAYER)
CHORD_LAYER(m_mean,  &kp M &kp E &kp A &kp N &kp SPC, P_M P_E, CHORDLAYER)
CHORD_LAYER(m_miss,  &kp M &kp I &kp S &kp S &kp SPC, P_M P_I, CHORDLAYER)
CHORD_LAYER(m_missed,  &kp M &kp I &kp S &kp S &kp E &kp D &kp SPC, P_M P_I P_D, CHORDLAYER)
CHORD_LAYER(m_missing,  &kp M &kp I &kp S &kp S &kp I &kp N &kp G &kp SPC, P_M P_I P_G, CHORDLAYER)
CHORD_LAYER(m_more,  &kp M &kp O &kp R &kp E &kp SPC, P_M P_R, CHORDLAYER)
CHORD_LAYER(m_most,  &kp M &kp O &kp S &kp T &kp SPC, P_M P_O, CHORDLAYER)
CHORD_LAYER(m_move,  &kp M &kp O &kp V &kp E &kp SPC, P_M P_V, CHORDLAYER)
CHORD_LAYER(m_moved,  &kp M &kp O &kp V &kp E &kp D &kp SPC, P_M P_V P_D, CHORDLAYER)
CHORD_LAYER(m_moving,  &kp M &kp O &kp V &kp I &kp N &kp G &kp SPC, P_M P_V P_G, CHORDLAYER)
CHORD_LAYER(m_much,  &kp M &kp U &kp C &kp H &kp SPC, P_M P_C, CHORDLAYER)
CHORD_LAYER(m_must,  &kp M &kp U &kp S &kp T &kp SPC, P_M P_T, CHORDLAYER)
CHORD_LAYER(m_name,  &kp N &kp A &kp M &kp E &kp SPC, P_N P_M, CHORDLAYER)
CHORD_LAYER(m_near,  &kp N &kp E &kp A &kp R &kp SPC, P_N P_R, CHORDLAYER)
CHORD_LAYER(m_neared,  &kp N &kp E &kp A &kp R &kp E &kp D &kp SPC, P_N P_R P_D, CHORDLAYER)
CHORD_LAYER(m_nearing,  &kp N &kp E &kp A &kp R &kp I &kp N &kp G &kp SPC, P_N P_R P_G, CHORDLAYER)
CHORD_LAYER(m_need,  &kp N &kp E &kp E &kp D &kp SPC, P_N P_E, CHORDLAYER)
CHORD_LAYER(m_needed,  &kp N &kp E &kp E &kp D &kp E &kp D &kp SPC, P_N P_E P_D, CHORDLAYER)
CHORD_LAYER(m_needing,  &kp N &kp E &kp E &kp D &kp I &kp N &kp G &kp SPC, P_N P_E P_G, CHORDLAYER)
CHORD_LAYER(m_next,  &kp N &kp E &kp X &kp T &kp SPC, P_N P_X, CHORDLAYER)
CHORD_LAYER(m_once,  &kp O &kp N &kp C &kp E &kp SPC, P_O P_C, CHORDLAYER)
CHORD_LAYER(m_only,  &kp O &kp N &kp L &kp Y &kp SPC, P_O P_Y, CHORDLAYER)
CHORD_LAYER(m_open,  &kp O &kp P &kp E &kp N &kp SPC, P_O P_P, CHORDLAYER)
CHORD_LAYER(m_opened,  &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC, P_O P_P P_D, CHORDLAYER)
CHORD_LAYER(m_opening,  &kp O &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC, P_O P_P P_G, CHORDLAYER)
CHORD_LAYER(m_over,  &kp O &kp V &kp E &kp R &kp SPC, P_O P_V, CHORDLAYER)
CHORD_LAYER(m_page,  &kp P &kp A &kp G &kp E &kp SPC, P_P P_E, CHORDLAYER)
CHORD_LAYER(m_part,  &kp P &kp A &kp R &kp T &kp SPC, P_P P_T, CHORDLAYER)
CHORD_LAYER(m_plan,  &kp P &kp L &kp A &kp N &kp SPC, P_P P_L, CHORDLAYER)
CHORD_LAYER(m_play,  &kp P &kp L &kp A &kp Y &kp SPC, P_P P_Y, CHORDLAYER)
CHORD_LAYER(m_played,  &kp P &kp L &kp A &kp Y &kp E &kp D &kp SPC, P_P P_Y P_D, CHORDLAYER)
CHORD_LAYER(m_playing,  &kp P &kp L &kp A &kp Y &kp I &kp N &kp G &kp SPC, P_P P_Y P_G, CHORDLAYER)
CHORD_LAYER(m_read,  &kp R &kp E &kp A &kp D &kp SPC, P_R P_D, CHORDLAYER)
CHORD_LAYER(m_real,  &kp R &kp E &kp A &kp L &kp SPC, P_R P_L, CHORDLAYER)
CHORD_LAYER(m_said,  &kp S &kp A &kp I &kp D &kp SPC, P_S P_D, CHORDLAYER)
CHORD_LAYER(m_same,  &kp S &kp A &kp M &kp E &kp SPC, P_S P_M, CHORDLAYER)
CHORD_LAYER(m_seem,  &kp S &kp E &kp E &kp M &kp SPC, P_S P_E P_M, CHORDLAYER)
CHORD_LAYER(m_seemed,  &kp S &kp E &kp E &kp M &kp E &kp D &kp SPC, P_S P_E P_M  P_D, CHORDLAYER)
CHORD_LAYER(m_seeming,  &kp S &kp E &kp E &kp M &kp I &kp N &kp G &kp SPC, P_S P_E P_M P_G, CHORDLAYER)
CHORD_LAYER(m_show,  &kp S &kp H &kp O &kp W &kp SPC, P_S P_W, CHORDLAYER)
CHORD_LAYER(m_showed,  &kp S &kp H &kp O &kp W &kp E &kp D &kp SPC, P_S P_W P_D, CHORDLAYER)
CHORD_LAYER(m_showing,  &kp S &kp H &kp O &kp W &kp I &kp N &kp G &kp SPC, P_S P_W P_G, CHORDLAYER)
CHORD_LAYER(m_side,  &kp S &kp I &kp D &kp E &kp SPC, P_S P_I P_D, CHORDLAYER)
CHORD_LAYER(m_some,  &kp S &kp O &kp M &kp E &kp SPC, P_S P_O P_M, CHORDLAYER)
CHORD_LAYER(m_song,  &kp S &kp O &kp N &kp G &kp SPC, P_S P_G, CHORDLAYER)
CHORD_LAYER(m_soon,  &kp S &kp O &kp O &kp N &kp SPC, P_S P_N, CHORDLAYER)
CHORD_LAYER(m_stop,  &kp S &kp T &kp O &kp P &kp SPC, P_S P_T, CHORDLAYER)
CHORD_LAYER(m_stopped,  &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC, P_S P_T P_D, CHORDLAYER)
CHORD_LAYER(m_stoping,  &kp S &kp T &kp O &kp P &kp I &kp N &kp G &kp SPC, P_S P_T P_G, CHORDLAYER)
CHORD_LAYER(m_such,  &kp S &kp U &kp C &kp H &kp SPC, P_S P_U, CHORDLAYER)
CHORD_LAYER(m_take,  &kp T &kp A &kp K &kp E &kp SPC, P_T P_K, CHORDLAYER)
CHORD_LAYER(m_took,  &kp T &kp O &kp O &kp K &kp SPC, P_T P_K P_D, CHORDLAYER)
CHORD_LAYER(m_taking,  &kp T &kp A &kp K &kp I &kp N &kp G &kp SPC, P_T P_K P_G, CHORDLAYER)
CHORD_LAYER(m_talk,  &kp T &kp A &kp L &kp K &kp SPC, P_T P_L P_K, CHORDLAYER)
CHORD_LAYER(m_tell,  &kp T &kp E &kp L &kp L &kp SPC, P_T P_L, CHORDLAYER)
CHORD_LAYER(m_told,  &kp T &kp O &kp L &kp D &kp SPC, P_T P_L P_D, CHORDLAYER)
CHORD_LAYER(m_telling,  &kp T &kp E &kp L &kp L &kp I &kp N &kp G &kp SPC, P_T P_L P_G, CHORDLAYER)
CHORD_LAYER(m_than,  &kp T &kp H &kp A &kp N &kp SPC, P_T P_A, CHORDLAYER)
CHORD_LAYER(m_that,  &kp T &kp H &kp A &kp T &kp SPC, P_T P_H P_A, CHORDLAYER)
CHORD_LAYER(m_them,  &kp T &kp H &kp E &kp M &kp SPC, P_T P_H P_M, CHORDLAYER)
CHORD_LAYER(m_then,  &kp T &kp H &kp E &kp N &kp SPC, P_T P_E, CHORDLAYER)
CHORD_LAYER(m_they,  &kp T &kp H &kp E &kp Y &kp SPC, P_T P_Y, CHORDLAYER)
CHORD_LAYER(m_theirs,  &kp T &kp H &kp E &kp I &kp R &kp S &kp SPC, P_T P_Y P_S, CHORDLAYER)
CHORD_LAYER(m_their,  &kp T &kp H &kp E &kp I &kp R &kp SPC, P_T P_R, CHORDLAYER)
CHORD_LAYER(m_this,  &kp T &kp H &kp I &kp S &kp SPC, P_T P_I, CHORDLAYER)
CHORD_LAYER(m_time,  &kp T &kp I &kp M &kp E &kp SPC, P_T P_M, CHORDLAYER)
CHORD_LAYER(m_timed,  &kp T &kp I &kp M &kp E &kp D &kp SPC, P_T P_M P_D, CHORDLAYER)
CHORD_LAYER(m_timing,  &kp T &kp I &kp M &kp I &kp N &kp G &kp SPC, P_T P_M P_G, CHORDLAYER)
CHORD_LAYER(m_tree,  &kp T &kp R &kp E &kp E &kp SPC, P_T P_R, CHORDLAYER)
CHORD_LAYER(m_turn,  &kp T &kp U &kp R &kp N &kp SPC, P_T P_U, CHORDLAYER)
CHORD_LAYER(m_very,  &kp V &kp E &kp R &kp Y &kp SPC, P_V, CHORDLAYER)
CHORD_LAYER(m_walk,  &kp W &kp A &kp L &kp K &kp SPC, P_W, CHORDLAYER)
CHORD_LAYER(m_walked,  &kp W &kp A &kp L &kp K &kp E &kp D &kp SPC, P_W P_D, CHORDLAYER)
CHORD_LAYER(m_walking,  &kp W &kp A &kp L &kp K &kp I &kp N &kp G &kp SPC, P_W P_G, CHORDLAYER)
CHORD_LAYER(m_want,  &kp W &kp A &kp N &kp T &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(m_wanted,  &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC, P_W P_T P_D, CHORDLAYER)
CHORD_LAYER(m_wanting,  &kp W &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC, P_W P_T P_G, CHORDLAYER)
CHORD_LAYER(m_week,  &kp W &kp E &kp E &kp K &kp SPC, P_W P_K, CHORDLAYER)
CHORD_LAYER(m_well,  &kp W &kp E &kp L &kp L &kp SPC, P_W P_L, CHORDLAYER)
CHORD_LAYER(m_were,  &kp W &kp E &kp R &kp E &kp SPC, P_W P_R, CHORDLAYER)
CHORD_LAYER(m_what,  &kp W &kp H &kp A &kp T &kp SPC, P_W P_H, CHORDLAYER)
CHORD_LAYER(m_when,  &kp W &kp H &kp E &kp N &kp SPC, P_W P_H P_E, CHORDLAYER)
CHORD_LAYER(m_with,  &kp W &kp I &kp T &kp H &kp SPC, P_W P_I, CHORDLAYER)
CHORD_LAYER(m_word,  &kp W &kp O &kp R &kp D &kp SPC, P_W P_R P_D, CHORDLAYER)
CHORD_LAYER(m_work,  &kp W &kp O &kp R &kp K &kp SPC, P_W P_R P_K, CHORDLAYER)
CHORD_LAYER(m_worked,  &kp W &kp O &kp R &kp K &kp E &kp D &kp SPC, P_W P_R P_K P_D, CHORDLAYER)
CHORD_LAYER(m_working,  &kp W &kp O &kp R &kp K &kp I &kp N &kp G &kp SPC, P_W P_R P_K P_G, CHORDLAYER)
CHORD_LAYER(m_year,  &kp Y &kp E &kp A &kp R &kp SPC, P_Y, CHORDLAYER)
CHORD_LAYER(m_about,  &kp A &kp B &kp O &kp U &kp T &kp SPC, P_A P_B, CHORDLAYER)
CHORD_LAYER(m_above,  &kp A &kp B &kp O &kp V &kp E &kp SPC, P_A P_V, CHORDLAYER)
CHORD_LAYER(m_after,  &kp A &kp F &kp T &kp E &kp R &kp SPC, P_A P_F, CHORDLAYER)
CHORD_LAYER(m_again,  &kp A &kp G &kp A &kp I &kp N &kp SPC, P_A P_G, CHORDLAYER)
CHORD_LAYER(m_along,  &kp A &kp L &kp O &kp N &kp G &kp SPC, P_A P_L, CHORDLAYER)
CHORD_LAYER(m_begin,  &kp B &kp E &kp G &kp I &kp N &kp SPC, P_B P_N, CHORDLAYER)
CHORD_LAYER(m_began,  &kp B &kp E &kp G &kp A &kp N &kp SPC, P_B P_N P_D, CHORDLAYER)
CHORD_LAYER(m_beginning,  &kp B &kp E &kp G &kp I &kp N &kp N &kp I &kp N &kp G &kp SPC, P_B P_N P_G, CHORDLAYER)
CHORD_LAYER(m_being,  &kp B &kp E &kp I &kp N &kp G &kp SPC, P_B P_G, CHORDLAYER)
CHORD_LAYER(m_below,  &kp B &kp E &kp L &kp O &kp W &kp SPC, P_B P_L, CHORDLAYER)
CHORD_LAYER(m_carry,  &kp C &kp A &kp R &kp R &kp Y &kp SPC, P_C P_R, CHORDLAYER)
CHORD_LAYER(m_carried,  &kp C &kp A &kp R &kp R &kp I &kp E &kp D &kp SPC, P_C P_R P_D, CHORDLAYER)
CHORD_LAYER(m_carrying,  &kp C &kp A &kp R &kp R &kp Y &kp I &kp N &kp G &kp SPC, P_C P_R P_G, CHORDLAYER)
CHORD_LAYER(m_child,  &kp C &kp H &kp I &kp L &kp D &kp SPC, P_C P_D, CHORDLAYER)
CHORD_LAYER(m_children,  &kp C &kp H &kp I &kp L &kp D &kp R &kp E &kp N &kp SPC, P_C P_D P_S, CHORDLAYER)
CHORD_LAYER(m_close,  &kp C &kp L &kp O &kp S &kp E &kp SPC, P_C P_S, CHORDLAYER)
CHORD_LAYER(m_closed,  &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC, P_C P_S P_D, CHORDLAYER)
CHORD_LAYER(m_closing,  &kp C &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC, P_C P_S P_G, CHORDLAYER)
CHORD_LAYER(m_early,  &kp E &kp A &kp R &kp L &kp Y &kp SPC, P_E P_Y, CHORDLAYER)
CHORD_LAYER(m_earth,  &kp E &kp A &kp R &kp T &kp H &kp SPC, P_E P_A, CHORDLAYER)
CHORD_LAYER(m_every,  &kp E &kp V &kp E &kp R &kp Y &kp SPC, P_E P_V, CHORDLAYER)
CHORD_LAYER(m_first,  &kp F &kp I &kp R &kp S &kp T &kp SPC, P_F P_S P_T, CHORDLAYER)
CHORD_LAYER(m_great,  &kp G &kp R &kp E &kp A &kp T &kp SPC, P_G P_R, CHORDLAYER)
CHORD_LAYER(m_group,  &kp G &kp R &kp O &kp U &kp P &kp SPC, P_G P_P, CHORDLAYER)
CHORD_LAYER(m_grouped,  &kp G &kp R &kp O &kp U &kp P &kp E &kp D &kp SPC, P_G P_P P_D, CHORDLAYER)
CHORD_LAYER(m_grouping,  &kp G &kp R &kp O &kp U &kp P &kp I &kp N &kp G &kp SPC, P_G P_P P_R, CHORDLAYER)
CHORD_LAYER(m_house,  &kp H &kp O &kp U &kp S &kp E &kp SPC, P_H P_S, CHORDLAYER)
CHORD_LAYER(m_large,  &kp L &kp A &kp R &kp G &kp E &kp SPC, P_L P_G, CHORDLAYER)
CHORD_LAYER(m_learn,  &kp L &kp E &kp A &kp R &kp N &kp SPC, P_L P_N, CHORDLAYER)
CHORD_LAYER(m_learnt,  &kp L &kp E &kp A &kp R &kp N &kp T &kp SPC, P_L P_N P_D, CHORDLAYER)
CHORD_LAYER(m_learning,  &kp L &kp E &kp A &kp R &kp N &kp I &kp N &kp G &kp SPC, P_L P_N P_G, CHORDLAYER)
CHORD_LAYER(m_leave,  &kp L &kp E &kp A &kp V &kp E &kp SPC, P_L P_V, CHORDLAYER)
CHORD_LAYER(m_light,  &kp L &kp I &kp G &kp H &kp T &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(m_lighted,  &kp L &kp I &kp G &kp H &kp T &kp E &kp D &kp SPC, P_L P_I P_D, CHORDLAYER)
CHORD_LAYER(m_lighting,  &kp L &kp I &kp G &kp H &kp T &kp I &kp N &kp G &kp SPC, P_L P_I P_G, CHORDLAYER)
CHORD_LAYER(m_might,  &kp M &kp I &kp G &kp H &kp T &kp SPC, P_M P_G, CHORDLAYER)
CHORD_LAYER(m_never,  &kp N &kp E &kp V &kp E &kp R &kp SPC, P_N P_V, CHORDLAYER)
CHORD_LAYER(m_night,  &kp N &kp I &kp G &kp H &kp T &kp SPC, P_N P_I, CHORDLAYER)
CHORD_LAYER(m_often,  &kp O &kp F &kp T &kp E &kp N &kp SPC, P_O P_F, CHORDLAYER)
CHORD_LAYER(m_order,  &kp O &kp R &kp D &kp E &kp R &kp SPC, P_O P_R, CHORDLAYER)
CHORD_LAYER(m_other,  &kp O &kp T &kp H &kp E &kp R &kp SPC, P_O P_T, CHORDLAYER)
CHORD_LAYER(m_paper,  &kp P &kp A &kp P &kp E &kp R &kp SPC, P_P P_A, CHORDLAYER)
CHORD_LAYER(m_place,  &kp P &kp L &kp A &kp C &kp E &kp SPC, P_P P_L, CHORDLAYER)
CHORD_LAYER(m_plant,  &kp P &kp L &kp A &kp N &kp T &kp SPC, P_P P_L P_T, CHORDLAYER)
CHORD_LAYER(m_planted,  &kp P &kp L &kp A &kp N &kp T &kp E &kp D &kp SPC, P_P P_L P_T P_D, CHORDLAYER)
CHORD_LAYER(m_planting,  &kp P &kp L &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC, P_P P_L P_T P_G, CHORDLAYER)
CHORD_LAYER(m_point,  &kp P &kp O &kp I &kp N &kp T &kp SPC, P_P P_T, CHORDLAYER)
CHORD_LAYER(m_pointed,  &kp P &kp O &kp I &kp N &kp T &kp E &kp D &kp SPC, P_P P_T P_D, CHORDLAYER)
CHORD_LAYER(m_pointing,  &kp P &kp O &kp I &kp N &kp T &kp I &kp N &kp G &kp SPC, P_P P_T P_G, CHORDLAYER)
CHORD_LAYER(m_right,  &kp R &kp I &kp G &kp H &kp T &kp SPC, P_R P_T, CHORDLAYER)
CHORD_LAYER(m_river,  &kp R &kp I &kp V &kp E &kp R &kp SPC, P_R P_V, CHORDLAYER)
CHORD_LAYER(m_since,  &kp S &kp I &kp N &kp C &kp E &kp SPC, P_S P_I, CHORDLAYER)
CHORD_LAYER(m_small,  &kp S &kp M &kp A &kp L &kp L &kp SPC, P_S P_M, CHORDLAYER)
CHORD_LAYER(m_sound,  &kp S &kp O &kp U &kp N &kp D &kp SPC, P_S P_N, CHORDLAYER)
CHORD_LAYER(m_sounded,  &kp S &kp O &kp U &kp N &kp D &kp E &kp D &kp SPC, P_S P_N P_D, CHORDLAYER)
CHORD_LAYER(m_sounding,  &kp S &kp O &kp U &kp N &kp D &kp I &kp N &kp G &kp SPC, P_S P_N P_D, CHORDLAYER)
CHORD_LAYER(m_spell,  &kp S &kp P &kp E &kp L &kp L &kp SPC, P_S P_P, CHORDLAYER)
CHORD_LAYER(m_spelled,  &kp S &kp P &kp E &kp L &kp L &kp E &kp D &kp SPC, P_S P_P P_D, CHORDLAYER)
CHORD_LAYER(m_spelling,  &kp S &kp P &kp E &kp L &kp L &kp I &kp N &kp G &kp SPC, P_S P_P P_G, CHORDLAYER)
CHORD_LAYER(m_standard,  &kp S &kp T &kp A &kp N &kp D &kp A &kp R &kp D &kp SPC, P_S P_T P_D, CHORDLAYER)
CHORD_LAYER(m_stand,  &kp S &kp T &kp A &kp N &kp D &kp SPC, P_S P_T P_A, CHORDLAYER)
CHORD_LAYER(m_stood,  &kp S &kp T &kp O &kp O &kp D &kp SPC, P_S P_T P_A P_D, CHORDLAYER)
CHORD_LAYER(m_standing,  &kp S &kp T &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC, P_S P_T P_A P_G, CHORDLAYER)
CHORD_LAYER(m_start,  &kp S &kp T &kp A &kp R &kp T &kp SPC, P_S P_R, CHORDLAYER)
CHORD_LAYER(m_started,  &kp S &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC, P_S P_R P_D, CHORDLAYER)
CHORD_LAYER(m_starting,  &kp S &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC, P_S P_R P_G, CHORDLAYER)
CHORD_LAYER(m_state,  &kp S &kp T &kp A &kp T &kp E &kp SPC, P_S P_T P_E, CHORDLAYER)
CHORD_LAYER(m_stated,  &kp S &kp T &kp A &kp T &kp E &kp D &kp SPC, P_S P_T P_E P_D, CHORDLAYER)
CHORD_LAYER(m_stating,  &kp S &kp T &kp A &kp T &kp I &kp N &kp G &kp SPC, P_S P_T P_E P_G, CHORDLAYER)
CHORD_LAYER(m_still,  &kp S &kp T &kp I &kp L &kp L &kp SPC, P_S P_L, CHORDLAYER)
CHORD_LAYER(m_story,  &kp S &kp T &kp O &kp R &kp Y &kp SPC, P_S P_O, CHORDLAYER)
CHORD_LAYER(m_study,  &kp S &kp T &kp U &kp D &kp Y &kp SPC, P_S P_U, CHORDLAYER)
CHORD_LAYER(m_studied,  &kp S &kp T &kp U &kp D &kp I &kp E &kp D &kp SPC, P_S P_U P_D, CHORDLAYER)
CHORD_LAYER(m_studying,  &kp S &kp T &kp U &kp D &kp Y &kp I &kp N &kp G &kp SPC, P_S P_U P_G, CHORDLAYER)
CHORD_LAYER(m_there,  &kp T &kp H &kp E &kp R &kp E &kp SPC, P_T P_H 11, CHORDLAYER)
CHORD_LAYER(m_these,  &kp T &kp H &kp E &kp S &kp E &kp SPC, P_T P_H 12, CHORDLAYER)
CHORD_LAYER(m_thing,  &kp T &kp H &kp I &kp N &kp G &kp SPC, P_T P_H 14, CHORDLAYER)
CHORD_LAYER(m_think,  &kp T &kp H &kp I &kp N &kp K &kp SPC, P_T P_H, CHORDLAYER)
CHORD_LAYER(m_thought,  &kp T &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC, P_T P_H, CHORDLAYER)
CHORD_LAYER(m_thinking,  &kp T &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC, P_T P_H, CHORDLAYER)
CHORD_LAYER(m_those,  &kp T &kp H &kp O &kp S &kp E &kp SPC, P_T P_H P_O, CHORDLAYER)
CHORD_LAYER(m_three,  &kp T &kp H &kp R &kp E &kp E &kp SPC, P_SHIFT P_T, CHORDLAYER)
CHORD_LAYER(m_under,  &kp U &kp N &kp D &kp E &kp R &kp SPC, P_U P_N, CHORDLAYER)
CHORD_LAYER(m_until,  &kp U &kp N &kp T &kp I &kp L &kp SPC, P_U P_T, CHORDLAYER)
CHORD_LAYER(m_watch,  &kp W &kp A &kp T &kp C &kp H &kp SPC, P_W P_T P_C, CHORDLAYER)
CHORD_LAYER(m_watched,  &kp W &kp A &kp T &kp C &kp H &kp E &kp D &kp SPC, P_W P_T P_C P_D, CHORDLAYER)
CHORD_LAYER(m_watching,  &kp W &kp A &kp T &kp C &kp H &kp I &kp N &kp G &kp SPC, P_W P_T P_C P_G, CHORDLAYER)
CHORD_LAYER(m_water,  &kp W &kp A &kp T &kp E &kp R &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(m_watered,  &kp W &kp A &kp T &kp E &kp R &kp E &kp D &kp SPC, P_W P_T P_D, CHORDLAYER)
CHORD_LAYER(m_watering,  &kp W &kp A &kp T &kp E &kp R &kp I &kp N &kp G &kp SPC, P_W P_T P_G, CHORDLAYER)
CHORD_LAYER(m_where,  &kp W &kp H &kp E &kp R &kp E &kp SPC, P_W P_H P_R , CHORDLAYER)
CHORD_LAYER(m_which,  &kp W &kp H &kp I &kp C &kp H &kp SPC, P_W P_I P_C, CHORDLAYER)
CHORD_LAYER(m_while,  &kp W &kp H &kp I &kp L &kp E &kp SPC, P_W P_H P_L, CHORDLAYER)
CHORD_LAYER(m_white,  &kp W &kp H &kp I &kp T &kp E &kp SPC, P_W P_T, CHORDLAYER)
CHORD_LAYER(m_world,  &kp W &kp O &kp R &kp L &kp D &kp SPC, P_W P_R P_L, CHORDLAYER)
CHORD_LAYER(m_would,  &kp W &kp O &kp U &kp L &kp D &kp SPC, P_W P_D, CHORDLAYER)
CHORD_LAYER(m_write,  &kp W &kp R &kp I &kp T &kp E &kp SPC, P_W P_R, CHORDLAYER)
CHORD_LAYER(m_wrote,  &kp W &kp R &kp O &kp T &kp E &kp SPC, P_W P_R P_D, CHORDLAYER)
CHORD_LAYER(m_writing,  &kp W &kp R &kp I &kp T &kp I &kp N &kp G &kp SPC, P_W P_R P_G, CHORDLAYER)
CHORD_LAYER(m_young,  &kp Y &kp O &kp U &kp N &kp G &kp SPC, P_Y P_G, CHORDLAYER)
CHORD_LAYER(m_almost,  &kp A &kp L &kp M &kp O &kp S &kp T &kp SPC, P_A P_M P_T, CHORDLAYER)
CHORD_LAYER(m_always,  &kp A &kp L &kp W &kp A &kp Y &kp S &kp SPC, P_A P_W P_Y, CHORDLAYER)
CHORD_LAYER(m_animal,  &kp A &kp N &kp I &kp M &kp A &kp L &kp SPC, P_A P_N P_M, CHORDLAYER)
CHORD_LAYER(m_answer,  &kp A &kp N &kp S &kp W &kp E &kp R &kp SPC, P_A P_W, CHORDLAYER)
CHORD_LAYER(m_answered,  &kp A &kp N &kp S &kp W &kp E &kp R &kp E &kp D &kp SPC, P_A P_W P_D, CHORDLAYER)
CHORD_LAYER(m_answering,  &kp A &kp N &kp S &kp W &kp E &kp R &kp I &kp N &kp G &kp SPC, P_A P_W P_G, CHORDLAYER)
CHORD_LAYER(m_around,  &kp A &kp R &kp O &kp U &kp N &kp D &kp SPC, P_A P_R P_D, CHORDLAYER)
CHORD_LAYER(m_become,  &kp B &kp E &kp C &kp O &kp M &kp E &kp SPC, P_B P_E P_M, CHORDLAYER)
CHORD_LAYER(m_before,  &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC, P_B P_F, CHORDLAYER)
CHORD_LAYER(m_change,  &kp C &kp H &kp A &kp N &kp G &kp E &kp SPC, P_C P_H, CHORDLAYER)
CHORD_LAYER(m_changed,  &kp C &kp H &kp A &kp N &kp G &kp E &kp D &kp SPC, P_C P_H P_D, CHORDLAYER)
CHORD_LAYER(m_changing,  &kp C &kp H &kp A &kp N &kp G &kp I &kp N &kp G &kp SPC, P_C P_H P_G, CHORDLAYER)
CHORD_LAYER(m_course,  &kp C &kp O &kp U &kp R &kp S &kp E &kp SPC, P_C P_R, CHORDLAYER)
CHORD_LAYER(m_during,  &kp D &kp U &kp R &kp I &kp N &kp G &kp SPC, P_D P_U, CHORDLAYER)
CHORD_LAYER(m_enough,  &kp E &kp N &kp O &kp U &kp G &kp H &kp SPC, P_E P_N P_G, CHORDLAYER)
CHORD_LAYER(m_family,  &kp F &kp A &kp M &kp I &kp L &kp Y &kp SPC, P_F P_M, CHORDLAYER)
CHORD_LAYER(m_father,  &kp F &kp A &kp T &kp H &kp E &kp R &kp SPC, P_F P_A, CHORDLAYER)
CHORD_LAYER(m_fathered,  &kp F &kp A &kp T &kp H &kp E &kp R &kp E &kp D &kp SPC, P_F P_A P_D, CHORDLAYER)
CHORD_LAYER(m_fathering,  &kp F &kp A &kp T &kp H &kp E &kp R &kp I &kp N &kp G &kp SPC, P_F P_A P_G, CHORDLAYER)
CHORD_LAYER(m_follow,  &kp F &kp O &kp L &kp L &kp O &kp W &kp SPC, P_F P_O L, CHORDLAYER)
CHORD_LAYER(m_followed,  &kp F &kp O &kp L &kp L &kp O &kp W &kp E &kp D &kp SPC, P_F P_O P_L P_D, CHORDLAYER)
CHORD_LAYER(m_following,  &kp F &kp O &kp L &kp L &kp O &kp W &kp I &kp N &kp G &kp SPC, P_F P_O P_L P_G, CHORDLAYER)
CHORD_LAYER(m_govern,  &kp G &kp O &kp V &kp E &kp R &kp N &kp SPC, P_G P_O P_V, CHORDLAYER)
CHORD_LAYER(m_governed,  &kp G &kp O &kp V &kp E &kp R &kp N &kp E &kp D &kp SPC, P_G P_O P_V P_D, CHORDLAYER)
CHORD_LAYER(m_governing,  &kp G &kp O &kp V &kp E &kp R &kp N &kp I &kp N &kp G &kp SPC, P_G P_O P_V P_I, CHORDLAYER)
CHORD_LAYER(m_letter,  &kp L &kp E &kp T &kp T &kp E &kp R &kp SPC, P_L P_T, CHORDLAYER)
CHORD_LAYER(m_little,  &kp L &kp I &kp T &kp T &kp L &kp E &kp SPC, P_L P_I, CHORDLAYER)
CHORD_LAYER(m_mother,  &kp M &kp O &kp T &kp H &kp E &kp R &kp SPC, P_M P_A, CHORDLAYER)
CHORD_LAYER(m_mothered,  &kp M &kp O &kp T &kp H &kp E &kp R &kp E &kp D &kp SPC, P_M P_A P_D, CHORDLAYER)
CHORD_LAYER(m_mothering,  &kp M &kp O &kp T &kp H &kp E &kp R &kp I &kp N &kp G &kp SPC, P_M P_A P_G, CHORDLAYER)
CHORD_LAYER(m_nation,  &kp N &kp A &kp T &kp I &kp O &kp N &kp SPC, P_N P_A, CHORDLAYER)
CHORD_LAYER(m_number,  &kp N &kp U &kp M &kp B &kp E &kp R &kp SPC, P_N P_R, CHORDLAYER)
CHORD_LAYER(m_person,  &kp P &kp E &kp R &kp S &kp O &kp N &kp SPC, P_P P_E, CHORDLAYER)
CHORD_LAYER(m_people,  &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC, P_P P_O, CHORDLAYER)
CHORD_LAYER(m_public,  &kp P &kp U &kp B &kp L &kp I &kp C &kp SPC, P_P P_U, CHORDLAYER)
CHORD_LAYER(m_really,  &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC, P_R P_L P_Y, CHORDLAYER)
CHORD_LAYER(m_school,  &kp S &kp C &kp H &kp O &kp O &kp L &kp SPC, P_S P_C, CHORDLAYER)
CHORD_LAYER(m_second,  &kp S &kp E &kp C &kp O &kp N &kp D &kp SPC, P_SHIFT P_N P_D, CHORDLAYER)
CHORD_LAYER(m_should,  &kp S &kp H &kp O &kp U &kp L &kp D &kp SPC, P_S P_D, CHORDLAYER)
CHORD_LAYER(m_system,  &kp S &kp Y &kp S &kp T &kp E &kp M &kp SPC, P_S P_Y, CHORDLAYER)
CHORD_LAYER(m_against,  &kp A &kp G &kp A &kp I &kp N &kp S &kp T &kp SPC, P_A P_G, CHORDLAYER)
CHORD_LAYER(m_another,  &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp SPC, P_A P_N P_O, CHORDLAYER)
CHORD_LAYER(m_because,  &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC, P_B P_C, CHORDLAYER)
CHORD_LAYER(m_between,  &kp B &kp E &kp T &kp W &kp E &kp E &kp N &kp SPC, P_B P_W, CHORDLAYER)
CHORD_LAYER(m_country,  &kp C &kp O &kp U &kp N &kp T &kp R &kp Y &kp SPC, P_C P_T, CHORDLAYER)
CHORD_LAYER(m_develop,  &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp SPC, P_D P_E P_V, CHORDLAYER)
CHORD_LAYER(m_developed,  &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp E &kp D &kp SPC, P_D P_V P_D, CHORDLAYER)
CHORD_LAYER(m_developing,  &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp I &kp N &kp G &kp SPC, P_D P_V P_G, CHORDLAYER)
CHORD_LAYER(m_example,  &kp E &kp X &kp A &kp M &kp P &kp L &kp E &kp SPC, P_E P_G, CHORDLAYER)
CHORD_LAYER(m_general,  &kp G &kp E &kp N &kp E &kp R &kp A &kp L &kp SPC, P_G P_E, CHORDLAYER)
CHORD_LAYER(m_however,  &kp H &kp O &kp W &kp E &kp V &kp E &kp R &kp SPC, P_H P_E, CHORDLAYER)
CHORD_LAYER(m_picture,  &kp P &kp I &kp C &kp T &kp U &kp R &kp E &kp SPC, P_P P_I P_C, CHORDLAYER)
CHORD_LAYER(m_pictured,  &kp P &kp I &kp C &kp T &kp U &kp R &kp E &kp D &kp SPC, P_P P_I P_C P_D, CHORDLAYER)
CHORD_LAYER(m_picturing,  &kp P &kp I &kp C &kp T &kp U &kp R &kp I &kp N &kp G &kp SPC, P_P P_I P_C P_G, CHORDLAYER)
CHORD_LAYER(m_present,  &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp SPC, P_P P_R, CHORDLAYER)
CHORD_LAYER(m_presented,  &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp E &kp D &kp SPC, P_P P_R P_D, CHORDLAYER)
CHORD_LAYER(m_presenting,  &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp I &kp N &kp G &kp SPC, P_P P_R P_G, CHORDLAYER)
CHORD_LAYER(m_problem,  &kp P &kp R &kp O &kp B &kp L &kp E &kp M &kp SPC, P_P P_B, CHORDLAYER)
CHORD_LAYER(m_program,  &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp SPC, P_P P_G, CHORDLAYER)
CHORD_LAYER(m_programmed,  &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp M &kp E &kp D &kp SPC, P_P P_G P_D, CHORDLAYER)
CHORD_LAYER(m_programming,  &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp M &kp I &kp N &kp G &kp SPC, P_P P_G P_N, CHORDLAYER)
CHORD_LAYER(m_through,  &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC, P_T P_H P_R, CHORDLAYER)
CHORD_LAYER(m_without,  &kp W &kp I &kp T &kp H &kp O &kp U &kp T &kp SPC, P_W P_O, CHORDLAYER)
CHORD_LAYER(m_consider,  &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp SPC, P_C P_S, CHORDLAYER)
CHORD_LAYER(m_considered,  &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp E &kp D &kp SPC, P_C P_S P_D, CHORDLAYER)
CHORD_LAYER(m_considering,  &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp I &kp N &kp G &kp SPC, P_C P_S P_G, CHORDLAYER)
CHORD_LAYER(m_increase,  &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp E &kp SPC, P_I P_C, CHORDLAYER)
CHORD_LAYER(m_increased,  &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp E &kp D &kp SPC, P_I P_C P_D, CHORDLAYER)
CHORD_LAYER(m_increasing,  &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp I &kp N &kp G &kp SPC, P_I P_C P_G, CHORDLAYER)
CHORD_LAYER(m_interest,  &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp SPC, P_I P_N P_T, CHORDLAYER)
CHORD_LAYER(m_interested,  &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp E &kp D &kp SPC, P_I P_N P_T P_D, CHORDLAYER)
CHORD_LAYER(m_interesting,  &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp I &kp N &kp G &kp SPC, P_I P_N P_T P_G, CHORDLAYER)
CHORD_LAYER(m_mountain,  &kp M &kp O &kp U &kp N &kp T &kp A &kp I &kp N &kp SPC, P_M P_T, CHORDLAYER)
CHORD_LAYER(m_possible,  &kp P &kp O &kp S &kp S &kp I &kp B &kp L &kp E &kp SPC, P_P P_O P_S, CHORDLAYER)
CHORD_LAYER(m_sentence,  &kp S &kp E &kp N &kp T &kp E &kp N &kp C &kp E &kp SPC, P_S P_E P_N, CHORDLAYER)
CHORD_LAYER(m_together,  &kp T &kp O &kp G &kp E &kp T &kp H &kp E &kp R &kp SPC, P_T P_G, CHORDLAYER)
CHORD_LAYER(m_different,  &kp D &kp I &kp F &kp F &kp E &kp R &kp E &kp N &kp T &kp SPC, P_D P_I P_F, CHORDLAYER)
CHORD_LAYER(m_important,  &kp I &kp M &kp P &kp O &kp R &kp T &kp A &kp N &kp T &kp SPC, P_I P_P, CHORDLAYER)
CHORD_LAYER(m_something,  &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC, P_S P_T, CHORDLAYER)
CHORD_LAYER(m_sometimes,  &kp S &kp O &kp M &kp E &kp T &kp I &kp M &kp E &kp S &kp SPC, P_S P_T P_I, CHORDLAYER)
CHORD_LAYER(m_kubernetes,  &kp K &kp U &kp B &kp E &kp R &kp N &kp E &kp T &kp E &kp S &kp SPC, P_K P_U P_B, CHORDLAYER)
CHORD_LAYER(m_function,  &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPC, P_F P_N, CHORDLAYER)
CHORD_LAYER(m_functioned,  &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp E &kp D &kp SPC, P_F P_N P_D, CHORDLAYER)
CHORD_LAYER(m_functioning,  &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp I &kp N &kp G &kp SPC, P_F P_N P_G, CHORDLAYER)
CHORD_LAYER(m_question,  &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp SPC, P_COMMA, CHORDLAYER)
CHORD_LAYER(m_questioned,  &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp E &kp D &kp SPC,  P_COMMA P_D, CHORDLAYER)
CHORD_LAYER(m_questioning,  &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp I &kp N &kp G &kp SPC,  P_COMMA P_G, CHORDLAYER)
CHORD_LAYER(m_thankSPCyou,  &kp T &kp H &kp A &kp N &kp K &kp SPC &kp Y &kp O &kp U &kp SPC, P_T P_U, CHORDLAYER)
CHORD_LAYER(m_somebody,  &kp S &kp O &kp M &kp E &kp B &kp O &kp D &kp Y &kp SPC, P_S P_B, CHORDLAYER)
CHORD_LAYER(m_somebodySQTs,  &kp S &kp O &kp M &kp E &kp B &kp O &kp D &kp Y &kp SQT &kp S &kp SPC, P_S P_B P_S, CHORDLAYER)
CHORD_LAYER(m_everybody,  &kp E &kp V &kp E &kp R &kp Y &kp B &kp O &kp D &kp Y &kp SPC, P_E P_B, CHORDLAYER)
CHORD_LAYER(m_everybodySQTs,  &kp E &kp V &kp E &kp R &kp Y &kp B &kp O &kp D &kp Y &kp SQT &kp S &kp SPC, P_E P_B P_S, CHORDLAYER)
CHORD_LAYER(m_low,  &kp L &kp O &kp W &kp SPC, P_L, CHORDLAYER)