#define CHORDCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <80>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
//    layers = <LCK>; \// chording only with a specific key pressed
    layers = <6>; \// chording only with a specific key pressed
  };

#include "./macros.dtsi"

/ { \
combos { \
    compatible = "zmk,combos";
    CHORDCOMBO(m_BSPCDOTSPCLSHIFT, &macro_m_BSPCDOTSPCLSHIFT, P_DOT)
    CHORDCOMBO(m_BSPCCOMMA, &macro_m_BSPCCOMMA, P_COMMA)
    CHORDCOMBO(m_BSPCQUESTION, &macro_m_BSPCQUESTION, P_SHIFT P_COMMA)
    CHORDCOMBO(m_BSPCnSQTt, &macro_m_BSPCnSQTt, P_MINUS)
    CHORDCOMBO(m_BSPCSQTd, &macro_m_BSPCSQTd, P_MINUS P_D)
    CHORDCOMBO(m_BSPCSQTs, &macro_m_BSPCSQTs, P_MINUS P_S)
    CHORDCOMBO(m_BSPCSQTll, &macro_m_BSPCSQTll, P_MINUS P_L)
    CHORDCOMBO(m_BSPCSQTre, &macro_m_BSPCSQTre, P_MINUS P_R)
    CHORDCOMBO(m_BSPCSQTve, &macro_m_BSPCSQTve, P_MINUS P_V)
    CHORDCOMBO(m_BSPCSQTm, &macro_m_BSPCSQTm, P_MINUS P_M)
    CHORDCOMBO(m_BSPCing, &macro_m_BSPCing, P_MINUS P_G)
    CHORDCOMBO(m_Patrick, &macro_m_Patrick, P_P P_A P_T)
    CHORDCOMBO(m_Mukherjee, &macro_m_Mukherjee, P_M P_U P_K)
    CHORDCOMBO(m_my_email, &macro_m_my_email, P_M P_A P_I P_L)
    CHORDCOMBO(m_a, &macro_m_a, P_A)
    CHORDCOMBO(m_I, &macro_m_I, P_I)
    CHORDCOMBO(m_an, &macro_m_an, P_A P_N)
    CHORDCOMBO(m_as, &macro_m_as, P_A P_S)
    CHORDCOMBO(m_at, &macro_m_at, P_A P_T)
    CHORDCOMBO(m_be, &macro_m_be, P_B P_E)
    CHORDCOMBO(m_by, &macro_m_by, P_B P_Y)
    CHORDCOMBO(m_do, &macro_m_do, P_D P_O)
    CHORDCOMBO(m_did, &macro_m_did, P_D P_I)
    CHORDCOMBO(m_doing, &macro_m_doing, P_D P_O P_G)
    CHORDCOMBO(m_go, &macro_m_go, P_G)
    CHORDCOMBO(m_went, &macro_m_went, P_W P_T)
    CHORDCOMBO(m_going, &macro_m_going, P_G P_O)
//  CHORDCOMBO(m_he, &macro_m_he, P_H P_E)
//  CHORDCOMBO(m_hi, &macro_m_hi, P_H 18)
//  CHORDCOMBO(m_if, &macro_m_if, P_I 2)
//  CHORDCOMBO(m_in, &macro_m_in, P_I 16)
//  CHORDCOMBO(m_is, &macro_m_is, P_I 12)
    CHORDCOMBO(m_was, &macro_m_was, P_W)
    CHORDCOMBO(m_will, &macro_m_will, P_W P_L)
//  CHORDCOMBO(m_it, &macro_m_it, P_I 13)
//  CHORDCOMBO(m_its, &macro_m_its, P_I 13)
//  CHORDCOMBO(m_me, &macro_m_me, P_M P_E)
//  CHORDCOMBO(m_mine, &macro_m_mine, P_M P_E)
//  CHORDCOMBO(m_my, &macro_m_my, P_M P_E)
    CHORDCOMBO(m_no, &macro_m_no, P_N)
    // CHORDCOMBO(m_of, &macro_m_of, P_O 2)
    // CHORDCOMBO(m_OK, &macro_m_OK, P_O 25)
    // CHORDCOMBO(m_on, &macro_m_on, P_O 16)
    // CHORDCOMBO(m_or, &macro_m_or, P_O 11)
    // CHORDCOMBO(m_so, &macro_m_so, P_S 19)
    // CHORDCOMBO(m_to, &macro_m_to, P_T 19)
    // CHORDCOMBO(m_up, &macro_m_up, P_U 3)
    // CHORDCOMBO(m_us, &macro_m_us, P_U 12)
    // CHORDCOMBO(m_we, &macro_m_we, P_W P_E)
    CHORDCOMBO(m_add, &macro_m_add, P_MINUS)
    CHORDCOMBO(m_added, &macro_m_added, P_MINUS P_E)
    CHORDCOMBO(m_adding, &macro_m_adding, P_MINUS P_G)
    CHORDCOMBO(m_air, &macro_m_air, P_A P_R)
    CHORDCOMBO(m_all, &macro_m_all, P_A P_L)
    CHORDCOMBO(m_and, &macro_m_and, P_I)
    CHORDCOMBO(m_any, &macro_m_any, P_A P_Y)
    CHORDCOMBO(m_are, &macro_m_are, P_A P_R)
    CHORDCOMBO(m_ask, &macro_m_ask, P_A P_K)
    CHORDCOMBO(m_big, &macro_m_big, P_B P_G)
    CHORDCOMBO(m_boy, &macro_m_boy, P_B P_Y)
    CHORDCOMBO(m_but, &macro_m_but, P_B P_T)
    CHORDCOMBO(m_can, &macro_m_can, P_C P_N)
    CHORDCOMBO(m_could, &macro_m_could, P_C P_D)
    CHORDCOMBO(m_car, &macro_m_car, P_C P_R)
    CHORDCOMBO(m_cut, &macro_m_cut, P_C P_T)
    CHORDCOMBO(m_day, &macro_m_day, P_D P_Y)
    CHORDCOMBO(m_eat, &macro_m_eat, P_E P_T )
    CHORDCOMBO(m_ate, &macro_m_ate, P_A P_T)
    CHORDCOMBO(m_eating, &macro_m_eating, P_E P_T P_G)
    CHORDCOMBO(m_end, &macro_m_end, P_E P_D)
    CHORDCOMBO(m_eye, &macro_m_eye, P_E P_Y)
    CHORDCOMBO(m_eyed, &macro_m_eyed, P_E P_Y P_D)
    CHORDCOMBO(m_eying, &macro_m_eying, P_E P_Y P_G)
    CHORDCOMBO(m_far, &macro_m_far, P_F P_A)
    CHORDCOMBO(m_few, &macro_m_few, P_F P_W)
    CHORDCOMBO(m_for, &macro_m_for, P_F P_O)
    CHORDCOMBO(m_get, &macro_m_get, P_G P_T)
    CHORDCOMBO(m_got, &macro_m_got, P_G P_O)
    CHORDCOMBO(m_getting, &macro_m_getting, P_G P_E)
    CHORDCOMBO(m_has, &macro_m_has, P_H P_S)
    CHORDCOMBO(m_had, &macro_m_had, P_H P_D)
    CHORDCOMBO(m_her, &macro_m_her, P_H P_R)
    CHORDCOMBO(m_hers, &macro_m_hers, P_H P_R P_S)
    CHORDCOMBO(m_hey, &macro_m_hey, P_H P_Y)
    CHORDCOMBO(m_him, &macro_m_him, P_H P_M)
    CHORDCOMBO(m_his, &macro_m_his, P_H P_I)
    CHORDCOMBO(m_how, &macro_m_how, P_H P_W)
    CHORDCOMBO(m_let, &macro_m_let, P_L P_T)
    CHORDCOMBO(m_man, &macro_m_man, P_M P_N)
    CHORDCOMBO(m_men, &macro_m_men, P_M P_E)
    CHORDCOMBO(m_may, &macro_m_may, P_M P_Y)
    CHORDCOMBO(m_new, &macro_m_new, P_N P_W)
    CHORDCOMBO(m_not, &macro_m_not, P_N P_T)
    CHORDCOMBO(m_now, &macro_m_now, P_N P_W)
    CHORDCOMBO(m_off, &macro_m_off, P_O P_F)
    CHORDCOMBO(m_oil, &macro_m_oil, P_O P_L)
    CHORDCOMBO(m_old, &macro_m_old, P_O P_D)
    CHORDCOMBO(m_one, &macro_m_one, P_SHIFT P_S)
    CHORDCOMBO(m_oneSQTs, &macro_m_oneSQTs, P_O P_E P_S)
    CHORDCOMBO(m_our, &macro_m_our, P_O P_R)
    CHORDCOMBO(m_ours, &macro_m_ours, P_O P_R P_S)
    CHORDCOMBO(m_out, &macro_m_out, P_O P_T)
    CHORDCOMBO(m_own, &macro_m_own, P_O P_N)
    CHORDCOMBO(m_owned, &macro_m_owned, P_O P_N P_D)
    CHORDCOMBO(m_owning, &macro_m_owning, P_O P_N P_G)
    CHORDCOMBO(m_put, &macro_m_put, P_P P_T)
    CHORDCOMBO(m_run, &macro_m_run, P_R P_N)
    CHORDCOMBO(m_ran, &macro_m_ran, P_R P_A)
    CHORDCOMBO(m_running, &macro_m_running, P_R P_N P_G)
    CHORDCOMBO(m_say, &macro_m_say, P_S P_Y)
    CHORDCOMBO(m_sea, &macro_m_sea, P_S P_A)
    CHORDCOMBO(m_see, &macro_m_see, P_S P_E)
    CHORDCOMBO(m_saw, &macro_m_saw, P_S P_W)
    CHORDCOMBO(m_seeing, &macro_m_seeing, P_S P_E P_G)
    CHORDCOMBO(m_set, &macro_m_set, P_S P_T)
    CHORDCOMBO(m_she, &macro_m_she, P_S P_H)
    CHORDCOMBO(m_the, &macro_m_the, P_T P_E)
    CHORDCOMBO(m_too, &macro_m_too, P_T P_O)
    CHORDCOMBO(m_try, &macro_m_try, P_T P_Y)
    CHORDCOMBO(m_tried, &macro_m_tried, P_T P_Y P_D)
    CHORDCOMBO(m_trying, &macro_m_trying, P_T P_Y P_G)
    CHORDCOMBO(m_two, &macro_m_two, P_SHIFT P_N)
    CHORDCOMBO(m_use, &macro_m_use, P_U P_E)
    CHORDCOMBO(m_used, &macro_m_used, P_U P_E)
    CHORDCOMBO(m_using, &macro_m_using, P_U P_E)
    CHORDCOMBO(m_way, &macro_m_way, P_W P_A)
    CHORDCOMBO(m_who, &macro_m_who, P_H P_O)
    CHORDCOMBO(m_why, &macro_m_why, P_W P_Y)
    CHORDCOMBO(m_you, &macro_m_you, P_U)
    CHORDCOMBO(m_yours, &macro_m_yours, P_U P_S)
    CHORDCOMBO(m_your, &macro_m_your, P_U P_R)
    CHORDCOMBO(m_also, &macro_m_also, P_A P_O)
    CHORDCOMBO(m_away, &macro_m_away, P_A P_W P_Y)
    CHORDCOMBO(m_back, &macro_m_back, P_B P_K)
    CHORDCOMBO(m_been, &macro_m_been, P_B P_N)
    CHORDCOMBO(m_book, &macro_m_book, P_B P_O P_K)
    CHORDCOMBO(m_booked, &macro_m_booked, P_B P_O P_D)
    CHORDCOMBO(m_booking, &macro_m_booking, P_B P_O P_G)
    CHORDCOMBO(m_both, &macro_m_both, P_B P_H)
    CHORDCOMBO(m_call, &macro_m_call, P_C P_L)
    CHORDCOMBO(m_city, &macro_m_city, P_C P_Y)
    CHORDCOMBO(m_come, &macro_m_come, P_C P_M)
    CHORDCOMBO(m_came, &macro_m_came, P_C P_A P_M)
    CHORDCOMBO(m_coming, &macro_m_coming, P_C P_M P_G)
    CHORDCOMBO(m_does, &macro_m_does, P_D P_O P_S)
    CHORDCOMBO(m_down, &macro_m_down, P_D P_W)
    CHORDCOMBO(m_each, &macro_m_each, P_E P_C)
    CHORDCOMBO(m_even, &macro_m_even, P_E P_V)
    CHORDCOMBO(m_face, &macro_m_face, P_F P_A)
    CHORDCOMBO(m_faced, &macro_m_faced, P_F P_A P_D)
    CHORDCOMBO(m_facing, &macro_m_facing, P_F P_A P_G)
    CHORDCOMBO(m_fact, &macro_m_fact, P_F P_C)
    CHORDCOMBO(m_feel, &macro_m_feel, P_F P_L)
    CHORDCOMBO(m_felt, &macro_m_felt, P_F P_L P_D)
    CHORDCOMBO(m_feeling, &macro_m_feeling, P_F P_L P_G)
    CHORDCOMBO(m_feet, &macro_m_feet, P_F P_T)
    CHORDCOMBO(m_find, &macro_m_find, P_F P_I P_N)
    CHORDCOMBO(m_found, &macro_m_found, P_F P_I P_N P_D)
    CHORDCOMBO(m_finding, &macro_m_finding, P_F P_I P_N P_D)
    CHORDCOMBO(m_food, &macro_m_food, P_F P_O)
    CHORDCOMBO(m_form, &macro_m_form, P_F P_M)
    CHORDCOMBO(m_four, &macro_m_four, P_SHIFT P_F)
    CHORDCOMBO(m_from, &macro_m_from, P_F P_R)
    CHORDCOMBO(m_girl, &macro_m_girl, P_G P_L)
    CHORDCOMBO(m_give, &macro_m_give, P_G P_I)
    CHORDCOMBO(m_gave, &macro_m_gave, P_G P_I P_D)
    CHORDCOMBO(m_giving, &macro_m_giving, P_G P_I P_G)
    CHORDCOMBO(m_good, &macro_m_good, P_G P_D)
    CHORDCOMBO(m_grow, &macro_m_grow, P_G P_R P_W)
    CHORDCOMBO(m_grew, &macro_m_grew, P_G P_R P_W P_D)
    CHORDCOMBO(m_growing, &macro_m_growing, P_G P_R P_W P_G)
    CHORDCOMBO(m_hand, &macro_m_hand, P_H P_D)
    CHORDCOMBO(m_handed, &macro_m_handed, P_H P_D)
    CHORDCOMBO(m_handing, &macro_m_handing, P_H P_D)
    CHORDCOMBO(m_hard, &macro_m_hard, P_H P_A)
    CHORDCOMBO(m_have, &macro_m_have, P_H P_V)
    CHORDCOMBO(m_head, &macro_m_head, P_H P_V P_D)
    CHORDCOMBO(m_headed, &macro_m_headed, P_H P_A P_D)
    CHORDCOMBO(m_heading, &macro_m_heading, P_H P_A P_G)
    CHORDCOMBO(m_hear, &macro_m_hear, P_H P_R)
    CHORDCOMBO(m_heard, &macro_m_heard, P_H P_R P_D)
    CHORDCOMBO(m_hearing, &macro_m_hearing, P_H P_R P_G)
    CHORDCOMBO(m_help, &macro_m_help, P_H P_P)
    CHORDCOMBO(m_helped, &macro_m_helped, P_H P_P P_D)
    CHORDCOMBO(m_helping, &macro_m_helping, P_H P_P P_G)
    CHORDCOMBO(m_here, &macro_m_here, P_H P_E P_R)
    CHORDCOMBO(m_high, &macro_m_high, P_H P_I)
    CHORDCOMBO(m_hold, &macro_m_hold, P_H P_O P_L)
    CHORDCOMBO(m_held, &macro_m_held, P_H P_O P_L P_D)
    CHORDCOMBO(m_holding, &macro_m_holding, P_H P_O P_L P_G)
    CHORDCOMBO(m_home, &macro_m_home, P_H P_M)
    CHORDCOMBO(m_idea, &macro_m_idea, P_I P_D)
    CHORDCOMBO(m_into, &macro_m_into, P_I P_N)
    CHORDCOMBO(m_just, &macro_m_just, P_J P_T)
    CHORDCOMBO(m_keep, &macro_m_keep, P_K P_P)
    CHORDCOMBO(m_kept, &macro_m_kept, P_K P_P P_D)
    CHORDCOMBO(m_keeping, &macro_m_keeping, P_K P_P P_G)
    CHORDCOMBO(m_kind, &macro_m_kind, P_K P_D)
    CHORDCOMBO(m_know, &macro_m_know, P_K P_N)
    CHORDCOMBO(m_knew, &macro_m_knew, P_K P_N P_D)
    CHORDCOMBO(m_knowing, &macro_m_knowing, P_K P_N P_G)
    CHORDCOMBO(m_land, &macro_m_land, P_L P_A)
    CHORDCOMBO(m_landed, &macro_m_landed, P_L P_A P_D)
    CHORDCOMBO(m_landing, &macro_m_landing, P_L P_A P_G)
    CHORDCOMBO(m_last, &macro_m_last, P_L P_T)
    CHORDCOMBO(m_late, &macro_m_late, P_L P_A P_T)
    CHORDCOMBO(m_later, &macro_m_later, P_L P_T P_R)
    CHORDCOMBO(m_lead, &macro_m_lead, P_L P_E P_D)
    CHORDCOMBO(m_led, &macro_m_led, P_L P_D)
    CHORDCOMBO(m_leading, &macro_m_leading, P_L P_E P_D P_G)
    CHORDCOMBO(m_left, &macro_m_left, P_L P_F P_T)
    CHORDCOMBO(m_life, &macro_m_life, P_L P_I)
    CHORDCOMBO(m_like, &macro_m_like, P_L P_K)
    CHORDCOMBO(m_liked, &macro_m_liked, P_L P_K P_D)
    CHORDCOMBO(m_liking, &macro_m_liking, P_L P_K P_G)
    CHORDCOMBO(m_line, &macro_m_line, P_L P_N)
    CHORDCOMBO(m_list, &macro_m_list, P_L P_I)
    CHORDCOMBO(m_listed, &macro_m_listed, P_L P_I P_D)
    CHORDCOMBO(m_listing, &macro_m_listing, P_L P_I P_G)
    CHORDCOMBO(m_live, &macro_m_live, P_L P_V)
    CHORDCOMBO(m_lived, &macro_m_lived, P_L P_V P_D)
    CHORDCOMBO(m_living, &macro_m_living, P_L P_V P_G)
    CHORDCOMBO(m_long, &macro_m_long, P_L P_O P_N)
    CHORDCOMBO(m_look, &macro_m_look, P_L P_U)
    CHORDCOMBO(m_looked, &macro_m_looked, P_L P_U P_D)
    CHORDCOMBO(m_looking, &macro_m_looking, P_L P_U P_G)
    CHORDCOMBO(m_make, &macro_m_make, P_M P_K)
    CHORDCOMBO(m_made, &macro_m_made, P_M  P_K P_D)
    CHORDCOMBO(m_making, &macro_m_making, P_M P_K P_G)
    CHORDCOMBO(m_many, &macro_m_many, P_M P_Y)
    CHORDCOMBO(m_mean, &macro_m_mean, P_M P_E)
    CHORDCOMBO(m_miss, &macro_m_miss, P_M P_I)
    CHORDCOMBO(m_missed, &macro_m_missed, P_M P_I P_D)
    CHORDCOMBO(m_missing, &macro_m_missing, P_M P_I P_G)
    CHORDCOMBO(m_more, &macro_m_more, P_M P_R)
    CHORDCOMBO(m_most, &macro_m_most, P_M P_O)
    CHORDCOMBO(m_move, &macro_m_move, P_M P_V)
    CHORDCOMBO(m_moved, &macro_m_moved, P_M P_V P_D)
    CHORDCOMBO(m_moving, &macro_m_moving, P_M P_V P_G)
    CHORDCOMBO(m_much, &macro_m_much, P_M P_C)
    CHORDCOMBO(m_must, &macro_m_must, P_M P_T)
    CHORDCOMBO(m_name, &macro_m_name, P_N P_M)
    CHORDCOMBO(m_near, &macro_m_near, P_N P_R)
    CHORDCOMBO(m_neared, &macro_m_neared, P_N P_R P_D)
    CHORDCOMBO(m_nearing, &macro_m_nearing, P_N P_R P_G)
    CHORDCOMBO(m_need, &macro_m_need, P_N P_E)
    CHORDCOMBO(m_needed, &macro_m_needed, P_N P_E P_D)
    CHORDCOMBO(m_needing, &macro_m_needing, P_N P_E P_G)
    CHORDCOMBO(m_next, &macro_m_next, P_N P_X)
    CHORDCOMBO(m_once, &macro_m_once, P_O P_C)
    CHORDCOMBO(m_only, &macro_m_only, P_O P_Y)
    CHORDCOMBO(m_open, &macro_m_open, P_O P_P)
    CHORDCOMBO(m_opened, &macro_m_opened, P_O P_P P_D)
    CHORDCOMBO(m_opening, &macro_m_opening, P_O P_P P_G)
    CHORDCOMBO(m_over, &macro_m_over, P_O P_V)
    CHORDCOMBO(m_page, &macro_m_page, P_P P_E)
    CHORDCOMBO(m_part, &macro_m_part, P_P P_T)
    CHORDCOMBO(m_plan, &macro_m_plan, P_P P_L)
    CHORDCOMBO(m_play, &macro_m_play, P_P P_Y)
    CHORDCOMBO(m_played, &macro_m_played, P_P P_Y P_D)
    CHORDCOMBO(m_playing, &macro_m_playing, P_P P_Y P_G)
    CHORDCOMBO(m_read, &macro_m_read, P_R P_D)
    CHORDCOMBO(m_real, &macro_m_real, P_R P_L)
    CHORDCOMBO(m_said, &macro_m_said, P_S P_D)
    CHORDCOMBO(m_same, &macro_m_same, P_S P_M)
    CHORDCOMBO(m_seem, &macro_m_seem, P_S P_E P_M)
    CHORDCOMBO(m_seemed, &macro_m_seemed, P_S P_E P_M  P_D)
    CHORDCOMBO(m_seeming, &macro_m_seeming, P_S P_E P_M P_G)
    CHORDCOMBO(m_show, &macro_m_show, P_S P_W)
    CHORDCOMBO(m_showed, &macro_m_showed, P_S P_W P_D)
    CHORDCOMBO(m_showing, &macro_m_showing, P_S P_W P_G)
    CHORDCOMBO(m_side, &macro_m_side, P_S P_I P_D)
    CHORDCOMBO(m_some, &macro_m_some, P_S P_O P_M)
    CHORDCOMBO(m_song, &macro_m_song, P_S P_G)
    CHORDCOMBO(m_soon, &macro_m_soon, P_S P_N)
    CHORDCOMBO(m_stop, &macro_m_stop, P_S P_T)
    CHORDCOMBO(m_stopped, &macro_m_stopped, P_S P_T P_D)
    CHORDCOMBO(m_stoping, &macro_m_stoping, P_S P_T P_G)
    CHORDCOMBO(m_such, &macro_m_such, P_S P_U)
    CHORDCOMBO(m_take, &macro_m_take, P_T P_K)
    CHORDCOMBO(m_took, &macro_m_took, P_T P_K P_D)
    CHORDCOMBO(m_taking, &macro_m_taking, P_T P_K P_G)
    CHORDCOMBO(m_talk, &macro_m_talk, P_T P_L P_K)
    CHORDCOMBO(m_tell, &macro_m_tell, P_T P_L)
    CHORDCOMBO(m_told, &macro_m_told, P_T P_L P_D)
    CHORDCOMBO(m_telling, &macro_m_telling, P_T P_L P_G)
    CHORDCOMBO(m_than, &macro_m_than, P_T P_A)
    CHORDCOMBO(m_that, &macro_m_that, P_T P_H P_A)
    CHORDCOMBO(m_them, &macro_m_them, P_T P_H P_M)
    CHORDCOMBO(m_then, &macro_m_then, P_T P_E)
    CHORDCOMBO(m_they, &macro_m_they, P_T P_Y)
    CHORDCOMBO(m_theirs, &macro_m_theirs, P_T P_Y P_S)
    CHORDCOMBO(m_their, &macro_m_their, P_T P_R)
    CHORDCOMBO(m_this, &macro_m_this, P_T P_I)
    CHORDCOMBO(m_time, &macro_m_time, P_T P_M)
    CHORDCOMBO(m_timed, &macro_m_timed, P_T P_M P_D)
    CHORDCOMBO(m_timing, &macro_m_timing, P_T P_M P_G)
    CHORDCOMBO(m_tree, &macro_m_tree, P_T P_R)
    CHORDCOMBO(m_turn, &macro_m_turn, P_T P_U)
    CHORDCOMBO(m_very, &macro_m_very, P_V)
    CHORDCOMBO(m_walk, &macro_m_walk, P_W)
    CHORDCOMBO(m_walked, &macro_m_walked, P_W P_D)
    CHORDCOMBO(m_walking, &macro_m_walking, P_W P_G)
    CHORDCOMBO(m_want, &macro_m_want, P_W P_T)
    CHORDCOMBO(m_wanted, &macro_m_wanted, P_W P_T P_D)
    CHORDCOMBO(m_wanting, &macro_m_wanting, P_W P_T P_G)
    CHORDCOMBO(m_week, &macro_m_week, P_W P_K)
    CHORDCOMBO(m_well, &macro_m_well, P_W P_L)
    CHORDCOMBO(m_were, &macro_m_were, P_W P_R)
    CHORDCOMBO(m_what, &macro_m_what, P_W P_H)
    CHORDCOMBO(m_when, &macro_m_when, P_W P_H P_E)
    CHORDCOMBO(m_with, &macro_m_with, P_W P_I)
    CHORDCOMBO(m_word, &macro_m_word, P_W P_R P_D)
    CHORDCOMBO(m_work, &macro_m_work, P_W P_R P_K)
    CHORDCOMBO(m_worked, &macro_m_worked, P_W P_R P_K P_D)
    CHORDCOMBO(m_working, &macro_m_working, P_W P_R P_K P_G)
    CHORDCOMBO(m_year, &macro_m_year, P_Y)
    CHORDCOMBO(m_about, &macro_m_about, P_A P_B)
    CHORDCOMBO(m_above, &macro_m_above, P_A P_V)
    CHORDCOMBO(m_after, &macro_m_after, P_A P_F)
    CHORDCOMBO(m_again, &macro_m_again, P_A P_G)
    CHORDCOMBO(m_along, &macro_m_along, P_A P_L)
    CHORDCOMBO(m_begin, &macro_m_begin, P_B P_N)
    CHORDCOMBO(m_began, &macro_m_began, P_B P_N P_D)
    CHORDCOMBO(m_beginning, &macro_m_beginning, P_B P_N P_G)
    CHORDCOMBO(m_being, &macro_m_being, P_B P_G)
    CHORDCOMBO(m_below, &macro_m_below, P_B P_L)
    CHORDCOMBO(m_carry, &macro_m_carry, P_C P_R)
    CHORDCOMBO(m_carried, &macro_m_carried, P_C P_R P_D)
    CHORDCOMBO(m_carrying, &macro_m_carrying, P_C P_R P_G)
    CHORDCOMBO(m_child, &macro_m_child, P_C P_D)
    CHORDCOMBO(m_children, &macro_m_children, P_C P_D P_S)
    CHORDCOMBO(m_close, &macro_m_close, P_C P_S)
    CHORDCOMBO(m_closed, &macro_m_closed, P_C P_S P_D)
    CHORDCOMBO(m_closing, &macro_m_closing, P_C P_S P_G)
    CHORDCOMBO(m_early, &macro_m_early, P_E P_Y)
    CHORDCOMBO(m_earth, &macro_m_earth, P_E P_A)
    CHORDCOMBO(m_every, &macro_m_every, P_E P_V)
    CHORDCOMBO(m_first, &macro_m_first, P_F P_S P_T)
    CHORDCOMBO(m_great, &macro_m_great, P_G P_R)
    CHORDCOMBO(m_group, &macro_m_group, P_G P_P)
    CHORDCOMBO(m_grouped, &macro_m_grouped, P_G P_P P_D)
    CHORDCOMBO(m_grouping, &macro_m_grouping, P_G P_P P_R)
    CHORDCOMBO(m_house, &macro_m_house, P_H P_S)
    CHORDCOMBO(m_large, &macro_m_large, P_L P_G)
    CHORDCOMBO(m_learn, &macro_m_learn, P_L P_N)
    CHORDCOMBO(m_learnt, &macro_m_learnt, P_L P_N P_D)
    CHORDCOMBO(m_learning, &macro_m_learning, P_L P_N P_G)
    CHORDCOMBO(m_leave, &macro_m_leave, P_L P_V)
    CHORDCOMBO(m_light, &macro_m_light, P_L P_I)
    CHORDCOMBO(m_lighted, &macro_m_lighted, P_L P_I P_D)
    CHORDCOMBO(m_lighting, &macro_m_lighting, P_L P_I P_G)
    CHORDCOMBO(m_might, &macro_m_might, P_M P_G)
    CHORDCOMBO(m_never, &macro_m_never, P_N P_V)
    CHORDCOMBO(m_night, &macro_m_night, P_N P_I)
    CHORDCOMBO(m_often, &macro_m_often, P_O P_F)
    CHORDCOMBO(m_order, &macro_m_order, P_O P_R)
    CHORDCOMBO(m_other, &macro_m_other, P_O P_T)
    CHORDCOMBO(m_paper, &macro_m_paper, P_P P_A)
    CHORDCOMBO(m_place, &macro_m_place, P_P P_L)
    CHORDCOMBO(m_plant, &macro_m_plant, P_P P_L P_T)
    CHORDCOMBO(m_planted, &macro_m_planted, P_P P_L P_T P_D)
    CHORDCOMBO(m_planting, &macro_m_planting, P_P P_L P_T P_G)
    CHORDCOMBO(m_point, &macro_m_point, P_P P_T)
    CHORDCOMBO(m_pointed, &macro_m_pointed, P_P P_T P_D)
    CHORDCOMBO(m_pointing, &macro_m_pointing, P_P P_T P_G)
    CHORDCOMBO(m_right, &macro_m_right, P_R P_T)
    CHORDCOMBO(m_river, &macro_m_river, P_R P_V)
    CHORDCOMBO(m_since, &macro_m_since, P_S P_I)
    CHORDCOMBO(m_small, &macro_m_small, P_S P_M)
    CHORDCOMBO(m_sound, &macro_m_sound, P_S P_N)
    CHORDCOMBO(m_sounded, &macro_m_sounded, P_S P_N P_D)
    CHORDCOMBO(m_sounding, &macro_m_sounding, P_S P_N P_D)
    CHORDCOMBO(m_spell, &macro_m_spell, P_S P_P)
    CHORDCOMBO(m_spelled, &macro_m_spelled, P_S P_P P_D)
    CHORDCOMBO(m_spelling, &macro_m_spelling, P_S P_P P_G)
    CHORDCOMBO(m_standard, &macro_m_standard, P_S P_T P_D)
    CHORDCOMBO(m_stand, &macro_m_stand, P_S P_T P_A)
    CHORDCOMBO(m_stood, &macro_m_stood, P_S P_T P_A P_D)
    CHORDCOMBO(m_standing, &macro_m_standing, P_S P_T P_A P_G)
    CHORDCOMBO(m_start, &macro_m_start, P_S P_R)
    CHORDCOMBO(m_started, &macro_m_started, P_S P_R P_D)
    CHORDCOMBO(m_starting, &macro_m_starting, P_S P_R P_G)
    CHORDCOMBO(m_state, &macro_m_state, P_S P_T P_E)
    CHORDCOMBO(m_stated, &macro_m_stated, P_S P_T P_E P_D)
    CHORDCOMBO(m_stating, &macro_m_stating, P_S P_T P_E P_G)
    CHORDCOMBO(m_still, &macro_m_still, P_S P_L)
    CHORDCOMBO(m_story, &macro_m_story, P_S P_O)
    CHORDCOMBO(m_study, &macro_m_study, P_S P_U)
    CHORDCOMBO(m_studied, &macro_m_studied, P_S P_U P_D)
    CHORDCOMBO(m_studying, &macro_m_studying, P_S P_U P_G)
    CHORDCOMBO(m_there, &macro_m_there, P_T P_H 11)
    CHORDCOMBO(m_these, &macro_m_these, P_T P_H 12)
    CHORDCOMBO(m_thing, &macro_m_thing, P_T P_H 14)
    CHORDCOMBO(m_think, &macro_m_think, P_T P_H)
    CHORDCOMBO(m_thought, &macro_m_thought, P_T P_H)
    CHORDCOMBO(m_thinking, &macro_m_thinking, P_T P_H)
    CHORDCOMBO(m_those, &macro_m_those, P_T P_H P_O)
    CHORDCOMBO(m_three, &macro_m_three, P_SHIFT P_T)
    CHORDCOMBO(m_under, &macro_m_under, P_U P_N)
    CHORDCOMBO(m_until, &macro_m_until, P_U P_T)
    CHORDCOMBO(m_watch, &macro_m_watch, P_W P_T P_C)
    CHORDCOMBO(m_watched, &macro_m_watched, P_W P_T P_C P_D)
    CHORDCOMBO(m_watching, &macro_m_watching, P_W P_T P_C P_G)
    CHORDCOMBO(m_water, &macro_m_water, P_W P_T)
    CHORDCOMBO(m_watered, &macro_m_watered, P_W P_T P_D)
    CHORDCOMBO(m_watering, &macro_m_watering, P_W P_T P_G)
    CHORDCOMBO(m_where, &macro_m_where, P_W P_H P_R )
    CHORDCOMBO(m_which, &macro_m_which, P_W P_I P_C)
    CHORDCOMBO(m_while, &macro_m_while, P_W P_H P_L)
    CHORDCOMBO(m_white, &macro_m_white, P_W P_T)
    CHORDCOMBO(m_world, &macro_m_world, P_W P_R P_L)
    CHORDCOMBO(m_would, &macro_m_would, P_W P_D)
    CHORDCOMBO(m_write, &macro_m_write, P_W P_R)
    CHORDCOMBO(m_wrote, &macro_m_wrote, P_W P_R P_D)
    CHORDCOMBO(m_writing, &macro_m_writing, P_W P_R P_G)
    CHORDCOMBO(m_young, &macro_m_young, P_Y P_G)
    CHORDCOMBO(m_almost, &macro_m_almost, P_A P_M P_T)
    CHORDCOMBO(m_always, &macro_m_always, P_A P_W P_Y)
    CHORDCOMBO(m_animal, &macro_m_animal, P_A P_N P_M)
    CHORDCOMBO(m_answer, &macro_m_answer, P_A P_W)
    CHORDCOMBO(m_answered, &macro_m_answered, P_A P_W P_D)
    CHORDCOMBO(m_answering, &macro_m_answering, P_A P_W P_G)
    CHORDCOMBO(m_around, &macro_m_around, P_A P_R P_D)
    CHORDCOMBO(m_become, &macro_m_become, P_B P_E P_M)
    CHORDCOMBO(m_before, &macro_m_before, P_B P_F)
    CHORDCOMBO(m_change, &macro_m_change, P_C P_H)
    CHORDCOMBO(m_changed, &macro_m_changed, P_C P_H P_D)
    CHORDCOMBO(m_changing, &macro_m_changing, P_C P_H P_G)
    CHORDCOMBO(m_course, &macro_m_course, P_C P_R)
    CHORDCOMBO(m_during, &macro_m_during, P_D P_U)
    CHORDCOMBO(m_enough, &macro_m_enough, P_E P_N P_G)
    CHORDCOMBO(m_family, &macro_m_family, P_F P_M)
    CHORDCOMBO(m_father, &macro_m_father, P_F P_A)
    CHORDCOMBO(m_fathered, &macro_m_fathered, P_F P_A P_D)
    CHORDCOMBO(m_fathering, &macro_m_fathering, P_F P_A P_G)
    CHORDCOMBO(m_follow, &macro_m_follow, P_F P_O L)
    CHORDCOMBO(m_followed, &macro_m_followed, P_F P_O P_L P_D)
    CHORDCOMBO(m_following, &macro_m_following, P_F P_O P_L P_G)
    CHORDCOMBO(m_govern, &macro_m_govern, P_G P_O P_V)
    CHORDCOMBO(m_governed, &macro_m_governed, P_G P_O P_V P_D)
    CHORDCOMBO(m_governing, &macro_m_governing, P_G P_O P_V P_I)
    CHORDCOMBO(m_letter, &macro_m_letter, P_L P_T)
    CHORDCOMBO(m_little, &macro_m_little, P_L P_I)
    CHORDCOMBO(m_mother, &macro_m_mother, P_M P_A)
    CHORDCOMBO(m_mothered, &macro_m_mothered, P_M P_A P_D)
    CHORDCOMBO(m_mothering, &macro_m_mothering, P_M P_A P_G)
    CHORDCOMBO(m_nation, &macro_m_nation, P_N P_A)
    CHORDCOMBO(m_number, &macro_m_number, P_N P_R)
    CHORDCOMBO(m_person, &macro_m_person, P_P P_E)
    CHORDCOMBO(m_people, &macro_m_people, P_P P_O)
    CHORDCOMBO(m_public, &macro_m_public, P_P P_U)
    CHORDCOMBO(m_really, &macro_m_really, P_R P_L P_Y)
    CHORDCOMBO(m_school, &macro_m_school, P_S P_C)
    CHORDCOMBO(m_second, &macro_m_second, P_SHIFT P_N P_D)
    CHORDCOMBO(m_should, &macro_m_should, P_S P_D)
    CHORDCOMBO(m_system, &macro_m_system, P_S P_Y)
    CHORDCOMBO(m_against, &macro_m_against, P_A P_G)
    CHORDCOMBO(m_another, &macro_m_another, P_A P_N P_O)
    CHORDCOMBO(m_because, &macro_m_because, P_B P_C)
    CHORDCOMBO(m_between, &macro_m_between, P_B P_W)
    CHORDCOMBO(m_country, &macro_m_country, P_C P_T)
    CHORDCOMBO(m_develop, &macro_m_develop, P_D P_E P_V)
    CHORDCOMBO(m_developed, &macro_m_developed, P_D P_V P_D)
    CHORDCOMBO(m_developing, &macro_m_developing, P_D P_V P_G)
    CHORDCOMBO(m_example, &macro_m_example, P_E P_G)
    CHORDCOMBO(m_general, &macro_m_general, P_G P_E)
    CHORDCOMBO(m_however, &macro_m_however, P_H P_E)
    CHORDCOMBO(m_picture, &macro_m_picture, P_P P_I P_C)
    CHORDCOMBO(m_pictured, &macro_m_pictured, P_P P_I P_C P_D)
    CHORDCOMBO(m_picturing, &macro_m_picturing, P_P P_I P_C P_G)
    CHORDCOMBO(m_present, &macro_m_present, P_P P_R)
    CHORDCOMBO(m_presented, &macro_m_presented, P_P P_R P_D)
    CHORDCOMBO(m_presenting, &macro_m_presenting, P_P P_R P_G)
    CHORDCOMBO(m_problem, &macro_m_problem, P_P P_B)
    CHORDCOMBO(m_program, &macro_m_program, P_P P_G)
    CHORDCOMBO(m_programmed, &macro_m_programmed, P_P P_G P_D)
    CHORDCOMBO(m_programming, &macro_m_programming, P_P P_G P_N)
    CHORDCOMBO(m_through, &macro_m_through, P_T P_H P_R)
    CHORDCOMBO(m_without, &macro_m_without, P_W P_O)
    CHORDCOMBO(m_consider, &macro_m_consider, P_C P_S)
    CHORDCOMBO(m_considered, &macro_m_considered, P_C P_S P_D)
    CHORDCOMBO(m_considering, &macro_m_considering, P_C P_S P_G)
    CHORDCOMBO(m_increase, &macro_m_increase, P_I P_C)
    CHORDCOMBO(m_increased, &macro_m_increased, P_I P_C P_D)
    CHORDCOMBO(m_increasing, &macro_m_increasing, P_I P_C P_G)
    CHORDCOMBO(m_interest, &macro_m_interest, P_I P_N P_T)
    CHORDCOMBO(m_interested, &macro_m_interested, P_I P_N P_T P_D)
    CHORDCOMBO(m_interesting, &macro_m_interesting, P_I P_N P_T P_G)
    CHORDCOMBO(m_mountain, &macro_m_mountain, P_M P_T)
    CHORDCOMBO(m_possible, &macro_m_possible, P_P P_O P_S)
    CHORDCOMBO(m_sentence, &macro_m_sentence, P_S P_E P_N)
    CHORDCOMBO(m_together, &macro_m_together, P_T P_G)
    CHORDCOMBO(m_different, &macro_m_different, P_D P_I P_F)
    CHORDCOMBO(m_important, &macro_m_important, P_I P_P)
    CHORDCOMBO(m_something, &macro_m_something, P_S P_T)
    CHORDCOMBO(m_sometimes, &macro_m_sometimes, P_S P_T P_I)
    CHORDCOMBO(m_kubernetes, &macro_m_kubernetes, P_K P_U P_B)
    CHORDCOMBO(m_function, &macro_m_function, P_F P_N)
    CHORDCOMBO(m_functioned, &macro_m_functioned, P_F P_N P_D)
    CHORDCOMBO(m_functioning, &macro_m_functioning, P_F P_N P_G)
    CHORDCOMBO(m_question, &macro_m_question, P_COMMA)
    CHORDCOMBO(m_questioned, &macro_m_questioned,  P_COMMA P_D)
    CHORDCOMBO(m_questioning, &macro_m_questioning,  P_COMMA P_G)
    CHORDCOMBO(m_thankSPCyou, &macro_m_thankSPCyou, P_T P_U)
    CHORDCOMBO(m_somebody, &macro_m_somebody, P_S P_B)
    CHORDCOMBO(m_somebodySQTs, &macro_m_somebodySQTs, P_S P_B P_S)
    CHORDCOMBO(m_everybody, &macro_m_everybody, P_E P_B)
    CHORDCOMBO(m_everybodySQTs, &macro_m_everybodySQTs, P_E P_B P_S)
    CHORDCOMBO(m_low, &macro_m_low, P_L)
  };
};