#define CHORDCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <80>; \
    bindings = <LTO BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

#include "./macros.dtsi"

/ { \
combos { \
    compatible = "zmk,combos";
    CHORDCOMBO(m_BSPCDOTSPCLSHIFT, &macro_m_BSPCDOTSPCLSHIFT, P_DOT)
    CHORDCOMBO(m_BSPCCOMMA, &macro_m_BSPCCOMMA, P_COMMA)
    CHORDCOMBO(m_BSPCQUESTION, &macro_m_BSPCQUESTION, P_SHIFT P_COMMA)
    CHORDCOMBO(m_BSPCnSQTt, &macro_m_BSPCnSQTt, P_MINUS)
    CHORDCOMBO(m_BSPCSQTd, &macro_m_BSPCSQTd, P_MINUS P_D)
    CHORDCOMBO(m_BSPCSQTs, &macro_m_BSPCSQTs, P_MINUS P_S)
    CHORDCOMBO(m_BSPCSQTll, &macro_m_BSPCSQTll, P_MINUS P_L)
    CHORDCOMBO(m_BSPCSQTre, &macro_m_BSPCSQTre, P_MINUS P_R)
    CHORDCOMBO(m_BSPCSQTve, &macro_m_BSPCSQTve, P_MINUS P_V)
    CHORDCOMBO(m_BSPCSQTm, &macro_m_BSPCSQTm, P_MINUS P_M)
    CHORDCOMBO(m_BSPCing, &macro_m_BSPCing, P_MINUS P_G)
    CHORDCOMBO(m_Patrick, &macro_m_Patrick, P_P P_A P_T)
    CHORDCOMBO(m_Mukherjee, &macro_m_Mukherjee, P_M P_U P_K)
    CHORDCOMBO(m_my_email, &macro_m_my_email, P_M P_A P_I P_L)
    CHORDCOMBO(m_a, &macro_m_a, P_A)
    CHORDCOMBO(m_I, &macro_m_I, P_I)
    CHORDCOMBO(m_an, &macro_m_an, P_A P_N)
    CHORDCOMBO(m_as, &macro_m_as, P_A P_S)
    CHORDCOMBO(m_at, &macro_m_at, P_A P_T)
    CHORDCOMBO(m_be, &macro_m_be, P_B P_E)
    CHORDCOMBO(m_by, &macro_m_by, P_B P_Y)
    CHORDCOMBO(m_do, &macro_m_do, P_D P_O)
    CHORDCOMBO(m_did, &macro_m_did, P_D P_I)
    CHORDCOMBO(m_doing, &macro_m_doing, P_D P_O P_G)
    CHORDCOMBO(m_go, &macro_m_go, P_G)
    CHORDCOMBO(m_went, &macro_m_went, P_W P_T)
    CHORDCOMBO(m_going, &macro_m_going, P_G P_O)
//  CHORDCOMBO(m_he, &macro_m_he, P_H P_E 31)
//  CHORDCOMBO(m_hi, &macro_m_hi, P_H 18 31)
//  CHORDCOMBO(m_if, &macro_m_if, 18 2 31)
//  CHORDCOMBO(m_in, &macro_m_in, 18 16 31)
//  CHORDCOMBO(m_is, &macro_m_is, 18 12 31)
    CHORDCOMBO(m_was, &macro_m_was, P_W)
    CHORDCOMBO(m_will, &macro_m_will, P_W P_L)
//  CHORDCOMBO(m_it, &macro_m_it, 18 13 31)
//  CHORDCOMBO(m_its, &macro_m_its, 18 13 33)
//  CHORDCOMBO(m_me, &macro_m_me, 15 P_E 31)
//  CHORDCOMBO(m_mine, &macro_m_mine, 15 P_E 30)
//  CHORDCOMBO(m_my, &macro_m_my, 15 P_E 33)
    CHORDCOMBO(m_no, &macro_m_no, P_N)
    CHORDCOMBO(m_of, &macro_m_of, 19 2 31)
    CHORDCOMBO(m_OK, &macro_m_OK, 19 25 31)
    CHORDCOMBO(m_on, &macro_m_on, 19 16 31)
    CHORDCOMBO(m_or, &macro_m_or, 19 11 31)
    CHORDCOMBO(m_so, &macro_m_so, 12 19 31)
    CHORDCOMBO(m_to, &macro_m_to, 13 19 31)
    CHORDCOMBO(m_up, &macro_m_up, 7 3 31)
    CHORDCOMBO(m_us, &macro_m_us, 7 12 31)
    CHORDCOMBO(m_we, &macro_m_we, 1 P_E 31)
    CHORDCOMBO(m_add, &macro_m_add, 10 23 31)
    CHORDCOMBO(m_added, &macro_m_added, 10 23 30)
    CHORDCOMBO(m_adding, &macro_m_adding, 10 23 33)
    CHORDCOMBO(m_air, &macro_m_air, 10 18 11)
    CHORDCOMBO(m_all, &macro_m_all, 10 6 31)
    CHORDCOMBO(m_and, &macro_m_and, 16 23 31)
    CHORDCOMBO(m_any, &macro_m_any, 10 8 31)
    CHORDCOMBO(m_are, &macro_m_are, 11 P_E 31)
    CHORDCOMBO(m_ask, &macro_m_ask, 10 25 31)
    CHORDCOMBO(m_big, &macro_m_big, 4 18 31)
    CHORDCOMBO(m_boy, &macro_m_boy, 4 19 31)
    CHORDCOMBO(m_but, &macro_m_but, 4 7 31)
    CHORDCOMBO(m_can, &macro_m_can, 22 16 31)
    CHORDCOMBO(m_could, &macro_m_could, 22 16 30)
    CHORDCOMBO(m_car, &macro_m_car, 22 11 31)
    CHORDCOMBO(m_cut, &macro_m_cut, 22 7 31)
    CHORDCOMBO(m_day, &macro_m_day, 23 8 31)
    CHORDCOMBO(m_eat, &macro_m_eat, P_E 10 31)
    CHORDCOMBO(m_ate, &macro_m_ate, P_E 10 30)
    CHORDCOMBO(m_eating, &macro_m_eating, P_E 10 33)
    CHORDCOMBO(m_end, &macro_m_end, P_E 23 31)
    CHORDCOMBO(m_eye, &macro_m_eye, P_E 8 31)
    CHORDCOMBO(m_eyed, &macro_m_eyed, P_E 8 30)
    CHORDCOMBO(m_eying, &macro_m_eying, P_E 8 33)
    CHORDCOMBO(m_far, &macro_m_far, 2 10 31)
    CHORDCOMBO(m_few, &macro_m_few, 2 P_E 31)
    CHORDCOMBO(m_for, &macro_m_for, 2 11 31)
    CHORDCOMBO(m_get, &macro_m_get, 14 P_E 31)
    CHORDCOMBO(m_got, &macro_m_got, 14 P_E 30)
    CHORDCOMBO(m_getting, &macro_m_getting, 14 P_E 33)
    CHORDCOMBO(m_has, &macro_m_has, P_H 10 31)
    CHORDCOMBO(m_had, &macro_m_had, P_H 10 30)
    CHORDCOMBO(m_her, &macro_m_her, P_H 11 31)
    CHORDCOMBO(m_hers, &macro_m_hers, P_H 11 33)
    CHORDCOMBO(m_hey, &macro_m_hey, P_H 8 31)
    CHORDCOMBO(m_him, &macro_m_him, P_H 15 31)
    CHORDCOMBO(m_his, &macro_m_his, P_H 15 33)
    CHORDCOMBO(m_how, &macro_m_how, P_H 1 31)
    CHORDCOMBO(m_let, &macro_m_let, 6 P_E 31)
    CHORDCOMBO(m_man, &macro_m_man, 15 16 31)
    CHORDCOMBO(m_men, &macro_m_men, 15 16 33)
    CHORDCOMBO(m_may, &macro_m_may, 15 10 31)
    CHORDCOMBO(m_new, &macro_m_new, 16 P_E 31)
    CHORDCOMBO(m_not, &macro_m_not, 16 13 31)
    CHORDCOMBO(m_now, &macro_m_now, 16 1 31)
    CHORDCOMBO(m_off, &macro_m_off, 19 24 31)
    CHORDCOMBO(m_oil, &macro_m_oil, 19 18 31)
    CHORDCOMBO(m_old, &macro_m_old, 19 6 31)
    CHORDCOMBO(m_one, &macro_m_one, 19 P_E 31)
    CHORDCOMBO(m_oneSQTs, &macro_m_oneSQTs, 19 P_E 33)
    CHORDCOMBO(m_our, &macro_m_our, 19 7 11)
    CHORDCOMBO(m_ours, &macro_m_ours, 19 7 11 33)
    CHORDCOMBO(m_out, &macro_m_out, 19 7 31)
    CHORDCOMBO(m_own, &macro_m_own, 19 1 31)
    CHORDCOMBO(m_owned, &macro_m_owned, 19 1 30)
    CHORDCOMBO(m_owning, &macro_m_owning, 19 1 33)
    CHORDCOMBO(m_put, &macro_m_put, 3 13 31)
    CHORDCOMBO(m_run, &macro_m_run, 11 7 31)
    CHORDCOMBO(m_ran, &macro_m_ran, 11 7 30)
    CHORDCOMBO(m_running, &macro_m_running, 11 7 33)
    CHORDCOMBO(m_say, &macro_m_say, 12 8 31)
    CHORDCOMBO(m_sea, &macro_m_sea, 12 P_E 10)
    CHORDCOMBO(m_see, &macro_m_see, 12 P_E 31)
    CHORDCOMBO(m_saw, &macro_m_saw, 12 P_E 30)
    CHORDCOMBO(m_seeing, &macro_m_seeing, 12 P_E 33)
    CHORDCOMBO(m_set, &macro_m_set, 12 13 31)
    CHORDCOMBO(m_she, &macro_m_she, 12 P_H 31)
    CHORDCOMBO(m_the, &macro_m_the, 13 P_E 31)
    CHORDCOMBO(m_too, &macro_m_too, 13 7 31)
    CHORDCOMBO(m_try, &macro_m_try, 13 11 31)
    CHORDCOMBO(m_tried, &macro_m_tried, 13 11 30)
    CHORDCOMBO(m_trying, &macro_m_trying, 13 11 33)
    CHORDCOMBO(m_two, &macro_m_two, 13 1 31)
    CHORDCOMBO(m_use, &macro_m_use, 7 P_E 31)
    CHORDCOMBO(m_used, &macro_m_used, 7 P_E 30)
    CHORDCOMBO(m_using, &macro_m_using, 7 P_E 33)
    CHORDCOMBO(m_way, &macro_m_way, 1 10 31)
    CHORDCOMBO(m_who, &macro_m_who, P_H 7 31)
    CHORDCOMBO(m_why, &macro_m_why, 1 8 31)
    CHORDCOMBO(m_you, &macro_m_you, 8 7 31)
    CHORDCOMBO(m_yours, &macro_m_yours, 8 7 30)
    CHORDCOMBO(m_your, &macro_m_your, 8 7 33)
    CHORDCOMBO(m_also, &macro_m_also, 10 19 31)
    CHORDCOMBO(m_away, &macro_m_away, 10 1 8)
    CHORDCOMBO(m_back, &macro_m_back, 4 25 31)
    CHORDCOMBO(m_been, &macro_m_been, 4 16 31)
    CHORDCOMBO(m_book, &macro_m_book, 4 19 25)
    CHORDCOMBO(m_booked, &macro_m_booked, 4 19 25 30)
    CHORDCOMBO(m_booking, &macro_m_booking, 4 19 25 33)
    CHORDCOMBO(m_both, &macro_m_both, 4 P_H 31)
    CHORDCOMBO(m_call, &macro_m_call, 22 6 31)
    CHORDCOMBO(m_city, &macro_m_city, 22 13 31)
    CHORDCOMBO(m_come, &macro_m_come, 22 15 31)
    CHORDCOMBO(m_came, &macro_m_came, 22 15 30)
    CHORDCOMBO(m_coming, &macro_m_coming, 22 15 33)
    CHORDCOMBO(m_does, &macro_m_does, 23 12 31)
    CHORDCOMBO(m_down, &macro_m_down, 23 1 31)
    CHORDCOMBO(m_each, &macro_m_each, P_E 22 31)
    CHORDCOMBO(m_even, &macro_m_even, P_E 24 31)
    CHORDCOMBO(m_face, &macro_m_face, 2 10 17)
    CHORDCOMBO(m_faced, &macro_m_faced, 2 10 P_E 30)
    CHORDCOMBO(m_facing, &macro_m_facing, 2 10 P_E 33)
    CHORDCOMBO(m_fact, &macro_m_fact, 2 25 31)
    CHORDCOMBO(m_feel, &macro_m_feel, 2 6 31)
    CHORDCOMBO(m_felt, &macro_m_felt, 2 6 30)
    CHORDCOMBO(m_feeling, &macro_m_feeling, 2 6 33)
    CHORDCOMBO(m_feet, &macro_m_feet, 2 13 31)
    CHORDCOMBO(m_find, &macro_m_find, 2 23 31)
    CHORDCOMBO(m_found, &macro_m_found, 2 23 30)
    CHORDCOMBO(m_finding, &macro_m_finding, 2 23 33)
    CHORDCOMBO(m_food, &macro_m_food, 2 19 23)
    CHORDCOMBO(m_form, &macro_m_form, 2 11 15)
    CHORDCOMBO(m_four, &macro_m_four, 2 7 11)
    CHORDCOMBO(m_from, &macro_m_from, 2 15 31)
    CHORDCOMBO(m_girl, &macro_m_girl, 14 6 31)
    CHORDCOMBO(m_give, &macro_m_give, 14 18 31)
    CHORDCOMBO(m_gave, &macro_m_gave, 14 18 30)
    CHORDCOMBO(m_giving, &macro_m_giving, 14 18 33)
    CHORDCOMBO(m_good, &macro_m_good, 14 7 31)
    CHORDCOMBO(m_grow, &macro_m_grow, 14 11 31)
    CHORDCOMBO(m_grew, &macro_m_grew, 14 11 30)
    CHORDCOMBO(m_growing, &macro_m_growing, 14 11 33)
    CHORDCOMBO(m_hand, &macro_m_hand, P_H 23 31)
    CHORDCOMBO(m_handed, &macro_m_handed, P_H 23 30)
    CHORDCOMBO(m_handing, &macro_m_handing, P_H 23 33)
    CHORDCOMBO(m_hard, &macro_m_hard, P_H 11 23)
    CHORDCOMBO(m_have, &macro_m_have, P_H 24 31)
    CHORDCOMBO(m_head, &macro_m_head, P_H P_E 23)
    CHORDCOMBO(m_headed, &macro_m_headed, P_H P_E 23 30)
    CHORDCOMBO(m_heading, &macro_m_heading, P_H P_E 23 33)
    CHORDCOMBO(m_hear, &macro_m_hear, P_H P_E 10)
    CHORDCOMBO(m_heard, &macro_m_heard, P_H P_E 10 30)
    CHORDCOMBO(m_hearing, &macro_m_hearing, P_H P_E 10 33)
    CHORDCOMBO(m_help, &macro_m_help, P_H 3 31)
    CHORDCOMBO(m_helped, &macro_m_helped, P_H 3 30)
    CHORDCOMBO(m_helping, &macro_m_helping, P_H 3 33)
    CHORDCOMBO(m_here, &macro_m_here, P_H P_E 11)
    CHORDCOMBO(m_high, &macro_m_high, P_H 14 31)
    CHORDCOMBO(m_hold, &macro_m_hold, P_H 19 23)
    CHORDCOMBO(m_held, &macro_m_held, P_H 19 23 30)
    CHORDCOMBO(m_holding, &macro_m_holding, P_H 19 23 33)
    CHORDCOMBO(m_home, &macro_m_home, P_H 19 31)
    CHORDCOMBO(m_idea, &macro_m_idea, 18 P_E 31)
    CHORDCOMBO(m_into, &macro_m_into, 18 16 13)
    CHORDCOMBO(m_just, &macro_m_just, 5 12 31)
    CHORDCOMBO(m_keep, &macro_m_keep, 25 3 31)
    CHORDCOMBO(m_kept, &macro_m_kept, 25 3 30)
    CHORDCOMBO(m_keeping, &macro_m_keeping, 25 3 33)
    CHORDCOMBO(m_kind, &macro_m_kind, 25 23 31)
    CHORDCOMBO(m_know, &macro_m_know, 25 1 31)
    CHORDCOMBO(m_knew, &macro_m_knew, 25 1 30)
    CHORDCOMBO(m_knowing, &macro_m_knowing, 25 1 33)
    CHORDCOMBO(m_land, &macro_m_land, 6 16 31)
    CHORDCOMBO(m_landed, &macro_m_landed, 6 16 30)
    CHORDCOMBO(m_landing, &macro_m_landing, 6 16 33)
    CHORDCOMBO(m_last, &macro_m_last, 6 13 31)
    CHORDCOMBO(m_late, &macro_m_late, 6 10 13)
    CHORDCOMBO(m_later, &macro_m_later, 6 10 13 30)
    CHORDCOMBO(m_lead, &macro_m_lead, 6 23 31)
    CHORDCOMBO(m_led, &macro_m_led, 6 23 30)
    CHORDCOMBO(m_leading, &macro_m_leading, 6 23 33)
    CHORDCOMBO(m_left, &macro_m_left, 6 2 13)
    CHORDCOMBO(m_life, &macro_m_life, 6 18 31)
    CHORDCOMBO(m_like, &macro_m_like, 18 25 17)
    CHORDCOMBO(m_liked, &macro_m_liked, 18 25 P_E 30)
    CHORDCOMBO(m_liking, &macro_m_liking, 18 25 P_E 33)
    CHORDCOMBO(m_line, &macro_m_line, 6 16 17)
    CHORDCOMBO(m_list, &macro_m_list, 6 12 31)
    CHORDCOMBO(m_listed, &macro_m_listed, 6 12 30)
    CHORDCOMBO(m_listing, &macro_m_listing, 6 12 33)
    CHORDCOMBO(m_live, &macro_m_live, 6 24 31)
    CHORDCOMBO(m_lived, &macro_m_lived, 6 24 30)
    CHORDCOMBO(m_living, &macro_m_living, 6 24 33)
    CHORDCOMBO(m_long, &macro_m_long, 6 19 14)
    CHORDCOMBO(m_look, &macro_m_look, 6 7 22)
    CHORDCOMBO(m_looked, &macro_m_looked, 6 7 22 30)
    CHORDCOMBO(m_looking, &macro_m_looking, 6 7 22 33)
    CHORDCOMBO(m_make, &macro_m_make, 15 25 31)
    CHORDCOMBO(m_made, &macro_m_made, 15 25 30)
    CHORDCOMBO(m_making, &macro_m_making, 15 25 33)
    CHORDCOMBO(m_many, &macro_m_many, 15 16 8)
    CHORDCOMBO(m_mean, &macro_m_mean, 15 P_E 16)
    CHORDCOMBO(m_miss, &macro_m_miss, 15 18 12)
    CHORDCOMBO(m_missed, &macro_m_missed, 15 18 12 30)
    CHORDCOMBO(m_missing, &macro_m_missing, 15 18 12 33)
    CHORDCOMBO(m_more, &macro_m_more, 15 19 31)
    CHORDCOMBO(m_most, &macro_m_most, 15 19 12)
    CHORDCOMBO(m_move, &macro_m_move, 15 24 31)
    CHORDCOMBO(m_moved, &macro_m_moved, 15 24 30)
    CHORDCOMBO(m_moving, &macro_m_moving, 15 24 33)
    CHORDCOMBO(m_much, &macro_m_much, 15 7 31)
    CHORDCOMBO(m_must, &macro_m_must, 15 12 13)
    CHORDCOMBO(m_name, &macro_m_name, 16 10 15)
    CHORDCOMBO(m_near, &macro_m_near, 16 11 31)
    CHORDCOMBO(m_neared, &macro_m_neared, 16 11 30)
    CHORDCOMBO(m_nearing, &macro_m_nearing, 16 11 33)
    CHORDCOMBO(m_need, &macro_m_need, 16 P_E 23)
    CHORDCOMBO(m_needed, &macro_m_needed, 16 P_E 23 30)
    CHORDCOMBO(m_needing, &macro_m_needing, 16 P_E 23 33)
    CHORDCOMBO(m_next, &macro_m_next, 16 21 13)
    CHORDCOMBO(m_once, &macro_m_once, 19 16 22)
    CHORDCOMBO(m_only, &macro_m_only, 19 16 6)
    CHORDCOMBO(m_open, &macro_m_open, 19 3 31)
    CHORDCOMBO(m_opened, &macro_m_opened, 19 3 30)
    CHORDCOMBO(m_opening, &macro_m_opening, 19 3 33)
    CHORDCOMBO(m_over, &macro_m_over, 19 24 11)
    CHORDCOMBO(m_page, &macro_m_page, 3 P_E 31)
    CHORDCOMBO(m_part, &macro_m_part, 3 10 11)
    CHORDCOMBO(m_plan, &macro_m_plan, 3 6 10)
    CHORDCOMBO(m_play, &macro_m_play, 3 6 8)
    CHORDCOMBO(m_played, &macro_m_played, 3 6 8 30)
    CHORDCOMBO(m_playing, &macro_m_playing, 3 6 8 33)
    CHORDCOMBO(m_read, &macro_m_read, 11 23 31)
    CHORDCOMBO(m_real, &macro_m_real, 11 6 31)
    CHORDCOMBO(m_said, &macro_m_said, 12 P_E 23)
    CHORDCOMBO(m_same, &macro_m_same, 12 10 15)
    CHORDCOMBO(m_seem, &macro_m_seem, 12 P_E 15)
    CHORDCOMBO(m_seemed, &macro_m_seemed, 12 P_E 15 30)
    CHORDCOMBO(m_seeming, &macro_m_seeming, 12 P_E 15 33)
    CHORDCOMBO(m_show, &macro_m_show, 12 P_H 19)
    CHORDCOMBO(m_showed, &macro_m_showed, 12 P_H 19 30)
    CHORDCOMBO(m_showing, &macro_m_showing, 12 P_H 19 33)
    CHORDCOMBO(m_side, &macro_m_side, 12 18 23)
    CHORDCOMBO(m_some, &macro_m_some, 12 15 31)
    CHORDCOMBO(m_song, &macro_m_song, 12 14 31)
    CHORDCOMBO(m_soon, &macro_m_soon, 12 16 31)
    CHORDCOMBO(m_stop, &macro_m_stop, 12 3 31)
    CHORDCOMBO(m_stopped, &macro_m_stopped, 12 3 30)
    CHORDCOMBO(m_stoping, &macro_m_stoping, 12 3 33)
    CHORDCOMBO(m_such, &macro_m_such, 12 22 31)
    CHORDCOMBO(m_take, &macro_m_take, 13 25 31)
    CHORDCOMBO(m_took, &macro_m_took, 13 25 30)
    CHORDCOMBO(m_taking, &macro_m_taking, 13 25 33)
    CHORDCOMBO(m_talk, &macro_m_talk, 13 10 25)
    CHORDCOMBO(m_tell, &macro_m_tell, 13 P_E 6)
    CHORDCOMBO(m_told, &macro_m_told, 13 P_E 6 30)
    CHORDCOMBO(m_telling, &macro_m_telling, 13 P_E 6 33)
    CHORDCOMBO(m_than, &macro_m_than, 13 P_H 16)
    CHORDCOMBO(m_that, &macro_m_that, 13 P_H 10)
    CHORDCOMBO(m_them, &macro_m_them, 13 15 31)
    CHORDCOMBO(m_then, &macro_m_then, 13 P_H 17)
    CHORDCOMBO(m_they, &macro_m_they, 13 P_H 8)
    CHORDCOMBO(m_theirs, &macro_m_theirs, 13 P_H 8 30)
    CHORDCOMBO(m_their, &macro_m_their, 13 P_H 8 33)
    CHORDCOMBO(m_this, &macro_m_this, 13 P_H 18)
    CHORDCOMBO(m_time, &macro_m_time, 13 15 17)
    CHORDCOMBO(m_timed, &macro_m_timed, 13 15 P_E 30)
    CHORDCOMBO(m_timing, &macro_m_timing, 13 15 P_E 33)
    CHORDCOMBO(m_tree, &macro_m_tree, 13 11 17)
    CHORDCOMBO(m_turn, &macro_m_turn, 13 11 16)
    CHORDCOMBO(m_very, &macro_m_very, 24 8 31)
    CHORDCOMBO(m_walk, &macro_m_walk, 1 10 25)
    CHORDCOMBO(m_walked, &macro_m_walked, 1 10 25 30)
    CHORDCOMBO(m_walking, &macro_m_walking, 1 10 25 33)
    CHORDCOMBO(m_want, &macro_m_want, 1 16 13)
    CHORDCOMBO(m_wanted, &macro_m_wanted, 1 16 13 30)
    CHORDCOMBO(m_wanting, &macro_m_wanting, 1 16 13 33)
    CHORDCOMBO(m_week, &macro_m_week, 1 P_E 25)
    CHORDCOMBO(m_well, &macro_m_well, 1 P_E 6)
    CHORDCOMBO(m_were, &macro_m_were, 1 11 31)
    CHORDCOMBO(m_what, &macro_m_what, 1 P_H 13)
    CHORDCOMBO(m_when, &macro_m_when, 1 P_H 16)
    CHORDCOMBO(m_with, &macro_m_with, 1 18 13)
    CHORDCOMBO(m_word, &macro_m_word, 1 19 11)
    CHORDCOMBO(m_work, &macro_m_work, 1 11 25)
    CHORDCOMBO(m_worked, &macro_m_worked, 1 11 25 30)
    CHORDCOMBO(m_working, &macro_m_working, 1 11 25 33)
    CHORDCOMBO(m_year, &macro_m_year, 8 11 31)
    CHORDCOMBO(m_about, &macro_m_about, 10 4 31)
    CHORDCOMBO(m_above, &macro_m_above, 10 24 31)
    CHORDCOMBO(m_after, &macro_m_after, 10 13 11)
    CHORDCOMBO(m_again, &macro_m_again, 10 14 31)
    CHORDCOMBO(m_along, &macro_m_along, 10 6 14)
    CHORDCOMBO(m_begin, &macro_m_begin, 4 14 31)
    CHORDCOMBO(m_began, &macro_m_began, 4 14 30)
    CHORDCOMBO(m_beginning, &macro_m_beginning, 4 14 33)
    CHORDCOMBO(m_being, &macro_m_being, 4 P_E 14)
    CHORDCOMBO(m_below, &macro_m_below, 4 1 31)
    CHORDCOMBO(m_carry, &macro_m_carry, 22 8 31)
    CHORDCOMBO(m_carried, &macro_m_carried, 22 8 30)
    CHORDCOMBO(m_carrying, &macro_m_carrying, 22 8 33)
    CHORDCOMBO(m_child, &macro_m_child, 22 P_H 31)
    CHORDCOMBO(m_children, &macro_m_children, 22 P_H 33)
    CHORDCOMBO(m_close, &macro_m_close, 22 6 12)
    CHORDCOMBO(m_closed, &macro_m_closed, 22 6 12 30)
    CHORDCOMBO(m_closing, &macro_m_closing, 22 6 12 33)
    CHORDCOMBO(m_early, &macro_m_early, P_E 10 11)
    CHORDCOMBO(m_earth, &macro_m_earth, P_E 10 11 13)
    CHORDCOMBO(m_every, &macro_m_every, P_E 11 8)
    CHORDCOMBO(m_first, &macro_m_first, 2 12 31)
    CHORDCOMBO(m_great, &macro_m_great, 14 11 17)
    CHORDCOMBO(m_group, &macro_m_group, 14 11 19)
    CHORDCOMBO(m_grouped, &macro_m_grouped, 14 11 19 30)
    CHORDCOMBO(m_grouping, &macro_m_grouping, 14 11 19 33)
    CHORDCOMBO(m_house, &macro_m_house, P_H 19 17)
    CHORDCOMBO(m_large, &macro_m_large, 6 14 17)
    CHORDCOMBO(m_learn, &macro_m_learn, 6 11 16)
    CHORDCOMBO(m_learnt, &macro_m_learnt, 6 11 16 30)
    CHORDCOMBO(m_learning, &macro_m_learning, 6 11 16 33)
    CHORDCOMBO(m_leave, &macro_m_leave, 6 P_E 10)
    CHORDCOMBO(m_light, &macro_m_light, 6 18 14)
    CHORDCOMBO(m_lighted, &macro_m_lighted, 6 18 14 30)
    CHORDCOMBO(m_lighting, &macro_m_lighting, 6 18 14 33)
    CHORDCOMBO(m_might, &macro_m_might, 15 18 31)
    CHORDCOMBO(m_never, &macro_m_never, 16 24 31)
    CHORDCOMBO(m_night, &macro_m_night, 16 18 14)
    CHORDCOMBO(m_often, &macro_m_often, 19 2 13)
    CHORDCOMBO(m_order, &macro_m_order, 19 11 23)
    CHORDCOMBO(m_other, &macro_m_other, 19 13 11)
    CHORDCOMBO(m_paper, &macro_m_paper, 3 10 31)
    CHORDCOMBO(m_place, &macro_m_place, 3 6 31)
    CHORDCOMBO(m_plant, &macro_m_plant, 3 6 13)
    CHORDCOMBO(m_planted, &macro_m_planted, 3 6 13 30)
    CHORDCOMBO(m_planting, &macro_m_planting, 3 6 13 33)
    CHORDCOMBO(m_point, &macro_m_point, 3 19 18)
    CHORDCOMBO(m_pointed, &macro_m_pointed, 3 19 18 30)
    CHORDCOMBO(m_pointing, &macro_m_pointing, 3 19 18 33)
    CHORDCOMBO(m_right, &macro_m_right, 11 18 31)
    CHORDCOMBO(m_river, &macro_m_river, 11 24 31)
    CHORDCOMBO(m_since, &macro_m_since, 12 18 16)
    CHORDCOMBO(m_small, &macro_m_small, 12 10 6)
    CHORDCOMBO(m_sound, &macro_m_sound, 12 16 23)
    CHORDCOMBO(m_sounded, &macro_m_sounded, 12 16 23 30)
    CHORDCOMBO(m_sounding, &macro_m_sounding, 12 16 23 33)
    CHORDCOMBO(m_spell, &macro_m_spell, 12 3 6)
    CHORDCOMBO(m_spelled, &macro_m_spelled, 12 3 6 30)
    CHORDCOMBO(m_spelling, &macro_m_spelling, 12 3 6 33)
    CHORDCOMBO(m_stand, &macro_m_stand, 12 13 16)
    CHORDCOMBO(m_stood, &macro_m_stood, 12 13 16 30)
    CHORDCOMBO(m_standing, &macro_m_standing, 12 13 16 33)
    CHORDCOMBO(m_start, &macro_m_start, 12 13 11)
    CHORDCOMBO(m_started, &macro_m_started, 12 13 11 30)
    CHORDCOMBO(m_starting, &macro_m_starting, 12 13 11 33)
    CHORDCOMBO(m_state, &macro_m_state, 12 13 17)
    CHORDCOMBO(m_stated, &macro_m_stated, 12 13 P_E 30)
    CHORDCOMBO(m_stating, &macro_m_stating, 12 13 P_E 33)
    CHORDCOMBO(m_still, &macro_m_still, 12 13 6)
    CHORDCOMBO(m_story, &macro_m_story, 12 13 8)
    CHORDCOMBO(m_study, &macro_m_study, 12 13 7)
    CHORDCOMBO(m_studied, &macro_m_studied, 12 13 7 30)
    CHORDCOMBO(m_studying, &macro_m_studying, 12 13 7 33)
    CHORDCOMBO(m_there, &macro_m_there, 13 P_H 11)
    CHORDCOMBO(m_these, &macro_m_these, 13 P_H 12)
    CHORDCOMBO(m_thing, &macro_m_thing, 13 P_H 14)
    CHORDCOMBO(m_think, &macro_m_think, 13 P_H 31)
    CHORDCOMBO(m_thought, &macro_m_thought, 13 P_H 30)
    CHORDCOMBO(m_thinking, &macro_m_thinking, 13 P_H 33)
    CHORDCOMBO(m_those, &macro_m_those, 13 P_H 19)
    CHORDCOMBO(m_three, &macro_m_three, 13 P_H 11 17)
    CHORDCOMBO(m_under, &macro_m_under, 7 16 31)
    CHORDCOMBO(m_until, &macro_m_until, 7 6 31)
    CHORDCOMBO(m_watch, &macro_m_watch, 10 22 26)
    CHORDCOMBO(m_watched, &macro_m_watched, 10 22 P_H 30)
    CHORDCOMBO(m_watching, &macro_m_watching, 10 22 P_H 33)
    CHORDCOMBO(m_water, &macro_m_water, 1 13 11)
    CHORDCOMBO(m_watered, &macro_m_watered, 1 13 11 30)
    CHORDCOMBO(m_watering, &macro_m_watering, 1 13 11 33)
    CHORDCOMBO(m_where, &macro_m_where, 1 P_H 11)
    CHORDCOMBO(m_which, &macro_m_which, 1 P_H 18)
    CHORDCOMBO(m_while, &macro_m_while, 1 18 6)
    CHORDCOMBO(m_white, &macro_m_white, 1 13 17)
    CHORDCOMBO(m_world, &macro_m_world, 1 11 23)
    CHORDCOMBO(m_would, &macro_m_would, 1 19 7)
    CHORDCOMBO(m_write, &macro_m_write, 1 11 18)
    CHORDCOMBO(m_wrote, &macro_m_wrote, 1 11 18 30)
    CHORDCOMBO(m_writing, &macro_m_writing, 1 11 18 33)
    CHORDCOMBO(m_young, &macro_m_young, 8 16 14)
    CHORDCOMBO(m_almost, &macro_m_almost, 10 15 19)
    CHORDCOMBO(m_always, &macro_m_always, 10 6 8)
    CHORDCOMBO(m_animal, &macro_m_animal, 10 16 18)
    CHORDCOMBO(m_answer, &macro_m_answer, 10 16 12)
    CHORDCOMBO(m_answered, &macro_m_answered, 10 16 12 30)
    CHORDCOMBO(m_answering, &macro_m_answering, 10 16 12 33)
    CHORDCOMBO(m_around, &macro_m_around, 10 11 19)
    CHORDCOMBO(m_become, &macro_m_become, 4 P_E 15)
    CHORDCOMBO(m_before, &macro_m_before, 4 P_E 2)
    CHORDCOMBO(m_change, &macro_m_change, 22 P_H 17)
    CHORDCOMBO(m_changed, &macro_m_changed, 22 P_H P_E 30)
    CHORDCOMBO(m_changing, &macro_m_changing, 22 P_H P_E 33)
    CHORDCOMBO(m_course, &macro_m_course, 22 19 7)
    CHORDCOMBO(m_during, &macro_m_during, 23 7 11)
    CHORDCOMBO(m_enough, &macro_m_enough, P_E 16 19)
    CHORDCOMBO(m_family, &macro_m_family, 2 10 15)
    CHORDCOMBO(m_father, &macro_m_father, 2 10 13)
    CHORDCOMBO(m_fathered, &macro_m_fathered, 2 10 13 30)
    CHORDCOMBO(m_fathering, &macro_m_fathering, 2 10 13 33)
    CHORDCOMBO(m_follow, &macro_m_follow, 2 19 6)
    CHORDCOMBO(m_followed, &macro_m_followed, 2 19 6 30)
    CHORDCOMBO(m_following, &macro_m_following, 2 19 6 33)
    CHORDCOMBO(m_govern, &macro_m_govern, 14 19 24)
    CHORDCOMBO(m_governed, &macro_m_governed, 14 19 24 30)
    CHORDCOMBO(m_governing, &macro_m_governing, 14 19 24 33)
    CHORDCOMBO(m_letter, &macro_m_letter, 6 13 11)
    CHORDCOMBO(m_little, &macro_m_little, 6 18 13)
    CHORDCOMBO(m_mother, &macro_m_mother, 15 13 11)
    CHORDCOMBO(m_mothered, &macro_m_mothered, 15 13 11 30)
    CHORDCOMBO(m_mothering, &macro_m_mothering, 15 13 11 33)
    CHORDCOMBO(m_nation, &macro_m_nation, 16 10 13)
    CHORDCOMBO(m_number, &macro_m_number, 16 4 11)
    CHORDCOMBO(m_person, &macro_m_person, 3 16 31)
    CHORDCOMBO(m_people, &macro_m_people, 3 16 33)
    CHORDCOMBO(m_public, &macro_m_public, 3 4 31)
    CHORDCOMBO(m_really, &macro_m_really, 11 6 8)
    CHORDCOMBO(m_school, &macro_m_school, 12 22 26)
    CHORDCOMBO(m_second, &macro_m_second, 12 P_E 22)
    CHORDCOMBO(m_should, &macro_m_should, 12 P_H 23)
    CHORDCOMBO(m_system, &macro_m_system, 12 8 15)
    CHORDCOMBO(m_against, &macro_m_against, 10 14 13)
    CHORDCOMBO(m_another, &macro_m_another, 10 16 19)
    CHORDCOMBO(m_because, &macro_m_because, 4 P_E 12)
    CHORDCOMBO(m_between, &macro_m_between, 4 P_E 16)
    CHORDCOMBO(m_country, &macro_m_country, 22 13 8)
    CHORDCOMBO(m_develop, &macro_m_develop, 23 P_E 24)
    CHORDCOMBO(m_developed, &macro_m_developed, 23 P_E 24 30)
    CHORDCOMBO(m_developing, &macro_m_developing, 23 P_E 24 33)
    CHORDCOMBO(m_example, &macro_m_example, P_E 21 31)
    CHORDCOMBO(m_general, &macro_m_general, 14 P_E 16)
    CHORDCOMBO(m_however, &macro_m_however, P_H 24 11)
    CHORDCOMBO(m_picture, &macro_m_picture, 3 18 13)
    CHORDCOMBO(m_pictured, &macro_m_pictured, 3 18 13 30)
    CHORDCOMBO(m_picturing, &macro_m_picturing, 3 18 13 33)
    CHORDCOMBO(m_present, &macro_m_present, 3 11 17)
    CHORDCOMBO(m_presented, &macro_m_presented, 3 11 P_E 30)
    CHORDCOMBO(m_presenting, &macro_m_presenting, 3 11 P_E 33)
    CHORDCOMBO(m_problem, &macro_m_problem, 3 11 19)
    CHORDCOMBO(m_program, &macro_m_program, 3 11 15)
    CHORDCOMBO(m_programmed, &macro_m_programmed, 3 11 15 30)
    CHORDCOMBO(m_programming, &macro_m_programming, 3 11 15 33)
    CHORDCOMBO(m_through, &macro_m_through, 13 P_H 7)
    CHORDCOMBO(m_without, &macro_m_without, 1 13 19)
    CHORDCOMBO(m_consider, &macro_m_consider, 22 16 12)
    CHORDCOMBO(m_considered, &macro_m_considered, 22 16 12 30)
    CHORDCOMBO(m_considering, &macro_m_considering, 22 16 12 33)
    CHORDCOMBO(m_increase, &macro_m_increase, 18 16 22)
    CHORDCOMBO(m_increased, &macro_m_increased, 18 16 22 30)
    CHORDCOMBO(m_increasing, &macro_m_increasing, 18 16 22 33)
    CHORDCOMBO(m_interest, &macro_m_interest, 18 16 11)
    CHORDCOMBO(m_interested, &macro_m_interested, 18 16 11 30)
    CHORDCOMBO(m_interesting, &macro_m_interesting, 18 16 11 33)
    CHORDCOMBO(m_mountain, &macro_m_mountain, 15 13 16)
    CHORDCOMBO(m_possible, &macro_m_possible, 3 19 12)
    CHORDCOMBO(m_sentence, &macro_m_sentence, 12 P_E 16)
    CHORDCOMBO(m_together, &macro_m_together, 13 19 14)
    CHORDCOMBO(m_different, &macro_m_different, 23 18 2)
    CHORDCOMBO(m_important, &macro_m_important, 18 3 31)
    CHORDCOMBO(m_something, &macro_m_something, 12 15 14)
    CHORDCOMBO(m_sometimes, &macro_m_sometimes, 12 19 13)
    CHORDCOMBO(m_kubernetes, &macro_m_kubernetes, 25 7 31)
    CHORDCOMBO(m_function, &macro_m_function, 2 16 31)
    CHORDCOMBO(m_functioned, &macro_m_functioned, 2 16 30)
    CHORDCOMBO(m_functioning, &macro_m_functioning, 2 16 33)
    CHORDCOMBO(m_question, &macro_m_question, 0 16 31)
    CHORDCOMBO(m_questioned, &macro_m_questioned, 0 16 30)
    CHORDCOMBO(m_questioning, &macro_m_questioning, 0 16 33)
    CHORDCOMBO(m_thankSPCyou, &macro_m_thankSPCyou, 13 8 31)
    CHORDCOMBO(m_somebody, &macro_m_somebody, 12 4 8)
    CHORDCOMBO(m_somebodySQTs, &macro_m_somebodySQTs, 12 4 8 33)
    CHORDCOMBO(m_everybody, &macro_m_everybody, P_E 4 8)
    CHORDCOMBO(m_everybodySQTs, &macro_m_everybodySQTs, P_E 4 8 33)
    CHORDCOMBO(m_low, &macro_m_low, 6 1 31)
  };
};