/ {
    keymap {
        compatible = "zmk,keymap";
                danger_layer {
// -----------------------------------------------------------------
// |     |     |     |     |     | |BTCLR| BLE | USB |RESET|     |
// |     |     |     |     |     | |     |     |     |     |BOOTL|
// |_!!!_|     |     |     |     | |     |     |     |     |_FUN_|
//                   |     |     | |     |     |
                    // impactful buttons
                    // Bluetooth clear, reset, chaning BLE/USB preference, bootloader
                    bindings = <
//┌───────┬───────┬───────┬───────┬───────┐ ┌────────────┬──────────────┬──────────────┬────────────┬─────────────┐
    &none   &none   &none   &none   &none     &bt BT_CLR   &out OUT_BLE   &out OUT_USB   &sys_reset   &none
//├───────┼───────┼───────┼───────┼───────┤ ├────────────┼──────────────┼──────────────┼────────────┼─────────────┤
    &none   &none   &none   &none   &none     &none        &none          &none          &none        &bootloader
//├───────┼───────┼───────┼───────┼───────┤ ├────────────┼──────────────┼──────────────┼────────────┼─────────────┤
    &trans  &none   &none   &none   &none     &none        &none          &none          &none        &trans
//└───────┴───────┴───────┴───────┴───────┘ └────────────┴──────────────┴──────────────┴────────────┴─────────────┘
                            &none   &none     &none        &none
//                        └───────┴───────┘ └────────────┴──────────────┘                        
                    >;
                };
        };
};