/ {
    keymap {
        compatible = "zmk,keymap";
                danger_layer {
// -----------------------------------------------------------------
// |     |     |     |     |     | |BTCLR| BLE | USB |RESET|     |
// |     |     |     |     |     | |     |     |     |     |BOOTL|
// |_!!!_|     |     |     |     | |     |     |     |     |_FUN_|
//                   |     |     | |     |     |
                    // impactful buttons
                    // Bluetooth clear, reset, chaning BLE/USB preference, bootloader
                    bindings = <
//┌───────┬───────┬───────┬───────┬───────┐ ┌────────────┬──────────────┬──────────────┬────────────┬─────────────┐
    &none   &none   &none   &none   &none     &none        &none          &none          &none        &none      &none
//├───────┼───────┼───────┼───────┼───────┤ ├────────────┼──────────────┼──────────────┼────────────┼─────────────┤
    &none   &none   &none   &none   &none     &none        &none          &none          &none        
//├───────┼───────┼───────┼───────┼───────┤ ├────────────┼──────────────┼──────────────┼────────────┼─────────────┤
    &trans  &none   &none   &none   &none     &none        &none          &none          &none        &trans
//└───────┴───────┴───────┴───────┴───────┘ └────────────┴──────────────┴──────────────┴────────────┴─────────────┘
                            &none   &none     &none        &none
//                        └───────┴───────┘ └────────────┴──────────────┘                        
                    >;
                };
        };
};

COMBO_LAYER(reset, &sys_reset, LBP RBP, DAN)
COMBO_LAYER(flash, &bootloader, LBR RBR, DAN)
