#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
                fun_layer {
// -----------------------------------------------------------------
// |     | F 4 | F 5 | F 6 | F10 | | <!> | <!> | <!> | <!> |     |
// |CAPSL| F 1 | F 2 | F 3 | F11 | | BT2 |VMUTE|VOLDN|VOLUP| <!> |
// |-!!!-| F 7 | F 8 | F 9 | F12 | | BT0 | BT1 |BRIDN|BRIUP|_FUN_|
//                   |     | SPC | | RET |     |
/*  
    ╭─────────────────────────╮ ╭─────────────────────────────────────╮
    │ F5   F4   F3   F2   F1  │ │ BT_1    BT_2    BT_3     BT_4  BT_5 │
    │ F10  F9   F8   F7   F6  │ │  _      F16     F17      F18   F19  │
    │ F15  F14  F13  F12  F11 │ │ BT_CLR  OUT_BT  OUT_USB   _TO DAN_  │
    ╰───────────╮trans  trans │ │ trans  trans╭───────────────────────╯
                ╰─────────────╯ ╰─────────────╯   */
                        bindings = <
//┌────────┬────────┬────────┬────────┬────────┐ ┌────────────┬─────────────┬─────────────┬─────────────┬─────────────┐
    &kp F5   &kp F4   &kp F3   &kp F2   &kp F1    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
//├────────┼────────┼────────┼────────┼────────┤ ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp F10  &kp F9   &kp F8   &kp F7   &kp F6    &none         &kp F16       &kp F17       &kp F18       &kp F19            
//├────────┼────────┼────────┼────────┼────────┤ ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp F15  &kp F14  &kp F13  &kp F12  &kp F11   &bt BT_CLR    &out OUT_BLE  &out OUT_USB  &none         &none
//└────────┴────────┴────────┴────────┴────────┘ └────────────┴─────────────┴─────────────┴─────────────┴─────────────┘
                               &none    &trans    &trans        &none 
//                           └────────┴────────┘ └────────────┴─────────────┘                        
                        >;
                };
        };
};
COMBO_LAYER(to_DANGER, &to DAN, RRB RPB, FUN)