/ {
    keymap {
        compatible = "zmk,keymap";
                fun_layer {
// -----------------------------------------------------------------
// |     | F 4 | F 5 | F 6 | F10 | | <!> | <!> | <!> | <!> |     |
// |CAPSL| F 1 | F 2 | F 3 | F11 | | BT2 |VMUTE|VOLDN|VOLUP| <!> |
// |-!!!-| F 7 | F 8 | F 9 | F12 | | BT0 | BT1 |BRIDN|BRIUP|_FUN_|
//                   |     | SPC | | RET |     |
                        bindings = <
//┌──────────┬────────┬────────┬────────┬─────────┐ ┌──────────────┬──────────────┬──────────────┬──────────────┬───────┐
    &none      &kp F4   &kp F5   &kp F6   &kp F10     &none          &none          &none          &none          &none
//├──────────┼────────┼────────┼────────┼─────────┤ ├──────────────┼──────────────┼──────────────┼──────────────┼───────┤
    &kp CAPS   &kp F1   &kp F2   &kp F3   &kp F11     &bt BT_SEL 2   &kp K_MUTE     &kp C_VOL_DN   &kp C_VOL_UP   &none
//├──────────┼────────┼────────┼────────┼─────────┤ ├──────────────┼──────────────┼──────────────┼──────────────┼───────┤
    &mo DAN    &kp F7   &kp F8   &kp F9   &kp F12     &bt BT_SEL 0   &bt BT_SEL 1   &kp C_BRI_DN   &kp C_BRI_UP   &trans
//└──────────┴────────┴────────┴────────┴─────────┘ └──────────────┴──────────────┴──────────────┴──────────────┴───────┘
                                 &none    &trans      &trans         &none 
//                             └────────┴─────────┘ └──────────────┴──────────────┘                        
                        >;
                };
        };
};