/ {
    keymap {
        compatible = "zmk,keymap";
                nav_layer {
// -----------------------------------------------------------------
// |     |     |     |     |     | |     |     |     |     |     |
// | LFT | DWN | U P |RIGHT|_NAV_| |     |     |     |     |     |
// | HOM |PG_DN|PG_UP| END |     | |     |     |     |     |     |
//                   |     | SPC | | RET |_NUM_|
                        bindings = <
//┌─────────┬──────────┬──────────┬──────────┬───────┐ ┌───────┬──────────┬──────────┬─────────┬───────┐
    &none     &none      &none      &none      &none     &none   &none      &none      &none     &none 
//├─────────┼──────────┼──────────┼──────────┼───────┤ ├───────┼──────────┼──────────┼─────────┼───────┤
    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans    &none   &kp LCTRL  &kp LALT   &kp LCOM  &none
//├─────────┼──────────┼──────────┼──────────┼───────┤ ├───────┼──────────┼──────────┼─────────┼───────┤
    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &none     &none   &none      &none      &none     &none       
//└─────────┴──────────┴──────────┴──────────┴───────┘ └───────┴──────────┴──────────┴─────────┴───────┘
                                    &trans     &trans    &trans  &trans
//                                └─────────┴────────┘ └───────┴──────────┘                        
                        >;
                };
        };
};
