/ {
    keymap {
        compatible = "zmk,keymap";
                numbers_layer {
/*  
    ╭────────────────╮ ╭───────────────╮
    │ *  9  8  7  ,  │ │ '  !  _  °  ∑ │
    │ +  3  2  1  0  │ │ §  %  ≤  ≥  # │
    │ =  6  5  4  .  │ │ _  µ  ±  ≈  ≠ │
    ╰──╮trans  trans │ │ trans  trans╭─╯
       ╰─────────────╯ ╰─────────────╯   */
                    /*  2x tap
    ╭──────────────────╮ ╭───────────────╮
    │ /  _  _  _  _    │ │ _  _  _  _  _ │
    │ -  _  _  _  _    │ │ _  _  _  _  _ │
    │ ^  _  _  _  _    │ │ _  _  _  _  _ │
    ╰────╮trans  trans │ │ trans  trans╭─╯
         ╰─────────────╯ ╰─────────────╯    */

                        bindings = <
//┌────────────┬────────┬────────┬────────┬──────────┐ ┌───────────────┬────────────────┬─────────────────────┬───────────────┬─────────────────┐
   &kp STAR      &kp N9   &kp N8   &kp N7   &kp COMMA   &kp SINGLE_QUOTE  &kp EXCLAMATION  &none                &kp LA(LS(N8))  &kp LA(W)
//├────────────┼────────┼────────┼────────┼──────────┤ ├───────────────┼────────────────┼─────────────────────┼───────────────┼─────────────────┤
   &kp PLUS      &kp N3   &kp N2   &kp N1   &kp N0      &kp LA(6)        &kp PERCENT      &kp LA(COMMA)         &kp LA(DOT)     &kp HASH  
//├────────────┼────────┼────────┼────────┼──────────┤ ├───────────────┼────────────────┼─────────────────────┼───────────────┼─────────────────┤
   &kp KP_EQUAL  &kp N6   &kp N5   &kp N4   &kp DOT     &kp UNDERSCORE   &kp LA(M)        &kp LA(LS(KP_EQUAL))  &kp LA(X)       &kp LA(KP_EQUAL)
//└────────────┴────────┴────────┴────────┴──────────┘ └───────────────┴────────────────┴─────────────────────┴───────────────┴─────────────────┘
                                 &trans   &trans      &trans  &trans
//                             └────────┴──────────┘ └──────┴────────┘                        
                        >;
                };
        };
};