/*           34 Keys
 ╭──────────────╮ ╭──────────────╮
 │ 0  1  2  3  4│ │ 5  6  7  8  9│
 │10 11 12 13 14│ │15 16 17 18 19│
 │20 21 22 23 24│ │25 26 27 28 29│
 ╰────────╮30 31│ │32 33╭────────╯
          ╰─────╯ ╰─────╯         */
/ {
/*  Enter with base layer SYN
     ╭──────────────────╮ ╭───────────────╮
    │ W  F  M  P  V    │ │ │  :  J  "  Z │
    │ R  S  N  T  B    │ │ ;  A  E  I  H │
    │ X  C  L  D  G    │ │ _  U  O  Y  K │
    ╰────────╮SYM ⌫/NUM│ │␣/⏎  REP╭──────╯
             ╰─────────╯ ╰────────╯         */
/*  
    ╭─────────────────────────────╮ ╭───────────────╮
    │ ^  LEFT  DONW  UP  RIGHT    │ │ \  !  _  `  _ │
    │ [  {     (     <   INS      │ │ ?  @  =  &  # │
    │ _  _     ~     $   ⌦        │ │ -  €  _  _  _ │
    ╰───────────────╮trans  trans │ │ trans  trans╭─╯
                    ╰─────────────╯ ╰─────────────╯   */
/*  2x tap
    ╭──────────────────╮ ╭───────────────╮
    │ _  _  _  _  _    │ │ _  _  _  _  _ │
    │ ]  }  )  >  _    │ │ _  _  _  _  _ │
    │ _  _  _  _  _    │ │ _  _  _  _  _ │
    ╰────╮trans  trans │ │ trans  trans╭─╯
         ╰─────────────╯ ╰─────────────╯    */
   keymap {
      compatible = "zmk,keymap";
      symbols {
         bindings = <
//╭─────────────┬──────────────┬──────────┬─────────┬──────────╮╭─────────┬───────────┬──────────┬──────────┬─────────╮
   &kp CARET      &kp LEFT       &kp DOWN   &kp UP    &kp RIGHT  &kp BSLH   &kp EXCL    &none      &kp GRAVE  &none
//├─────────────┼──────────────┼──────────┼─────────┼──────────┤├─────────┼───────────┼──────────┼──────────┼─────────┤
   &td_sq_braces  &td_c_braces   &td_pars   &td_LG_T  &kp INS    &kp QMARK  &kp AT      &kp EQUAL  &kp AMPS   &kp HASH
//├─────────────┼──────────────┼──────────┼─────────┼──────────┤├─────────┼───────────┼──────────┼──────────┼─────────┤
   &none          &none          &kp TILDE  &kp DLLR  &kp DEL    &trans     &kp LA(N2)  &none      &none      &none
//╰─────────────┴──────────────┴──────────╮                    ││                     ╭──────────┴──────────┴─────────╯
                                            &trans    &trans     &trans     &trans
//                                        ╰─────────┴──────────╯╰─────────┴───────────╯
         >;
      };
   };
};

   TAP_DANCE(sq_braces, <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>)
   TAP_DANCE(c_braces, <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>)
   TAP_DANCE(pars, <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>)
   TAP_DANCE(LG_T, <&kp GT>, <&kp LT>)
