/*           34 Keys
 ╭──────────────╮ ╭──────────────╮
 │ 0  1  2  3  4│ │ 5  6  7  8  9│
 │10 11 12 13 14│ │15 16 17 18 19│
 │20 21 22 23 24│ │25 26 27 28 29│
 ╰────────╮30 31│ │32 33╭────────╯
          ╰─────╯ ╰─────╯         */
/ {
/*  Enter with base layer SYN
    ╭──────────────────╮ ╭───────────────╮
    │ W  F  M  P  V    │ │ │  :  J  "  Z │
    │ R  S  N  T  B    │ │ ;  A  E  I  H │
    │ X  C  L  D  G    │ │ _  U  O  Y  K │
    ╰────────╮SYM ⌫/NUM│ │␣/⏎  REP╭──────╯
             ╰─────────╯ ╰────────╯         */
/*  
    ╭─────────────────────────────╮ ╭───────────────╮
    │ ^  LEFT  DONW  UP  RIGHT    │ │ \  !  _  `  _ │
    │ [  {     (     <   INS      │ │ ?  @  =  &  # │
    │ _  _     ~     $   ⌦        │ │ -  €  _  _  _ │
    ╰───────────────╮trans  trans │ │ trans  trans╭─╯
                    ╰─────────────╯ ╰─────────────╯   */
/*  with Shift or hold
    ╭──────────────────╮ ╭───────────────╮
    │ _  _  _  _  _    │ │ _  _  _  _  _ │
    │ ]  }  )  >  _    │ │ _  _  _  _  _ │
    │ _  _  _  _  _    │ │ _  _  _  _  _ │
    ╰────╮trans  trans │ │ trans  trans╭─╯
         ╰─────────────╯ ╰─────────────╯    */
   keymap {
      compatible = "zmk,keymap";
      symbols_layer {
         bindings = <
//╭───────────────┬───────────────┬───────────┬───────────┬──────────╮╭───────────────────┬───────────────┬─────────────────────┬──────────────────┬──────────────────╮
   &kp LEFT         &kp DOWN        &kp UP      &kp RIGHT   &kp CARET   &kp BSLH            &kp EXCL        &none                 &kp GRAVE          &none
//├───────────────┼───────────────┼───────────┼───────────┼──────────┤├───────────────────┼───────────────┼─────────────────────┼──────────────────┼──────────────────┤
   &mm_s_sq_braces  &mm_s_c_braces  &mm_s_pars  &mm_s_GL_T  &kp INS     &hrm_r RSHFT QMARK  &hrm_r RCMD AT  &hrm_r RALT KP_EQUAL  &hrm_r RCTRL AMPS  &hrm_r GLOBE HASH
//├───────────────┼───────────────┼───────────┼───────────┼──────────┤├───────────────────┼───────────────┼─────────────────────┼──────────────────┼──────────────────┤
   &none            &none           &kp TILDE   &kp DLLR    &kp DEL     &trans              &kp LA(N2)      &none                 &none              &none
//╰───────────────┴───────────────┴───────────╮                      ││                   ╭───────────────┴─────────────────────┴──────────────────┴──────────────────╯
                                                &trans      &trans      &trans     &trans
//                                            ╰───────────┴──────────╯╰──────────┴────────╯
         >;
      };
   };
};
   HOLD_TAP_BEHAVIORS(kp, &kp, &kp)
   MOD_MORPH_SHIFT(sq_braces, &ht_kp RIGHT_BRACKET LEFT_BRACKET, &kp RIGHT_BRACKET)
   MOD_MORPH_SHIFT(c_braces, &ht_kp RIGHT_BRACE LEFT_BRACE, &kp RIGHT_BRACE)
   MOD_MORPH_SHIFT(pars, &ht_kp RIGHT_BRACE LEFT_BRACE, &kp RIGHT_BRACE)
   MOD_MORPH_SHIFT(GL_T, &ht_kp GT LT, &kp GT)
