/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

&caps_word {
   continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/*           34 Keys
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         */
// LEFT SIDE
// TOP 
#define P_Q LTP
#define P_W LTR
#define P_F LTM
#define P_P LTII
#define P_B LTIO
// MIDDLE
#define P_A LMP
#define P_R LMR
#define P_S LMM
#define P_T LMII
#define P_G LMIO
// BOTTOM
#define P_Z LBP
#define P_X LBR
#define P_C LBM
#define P_D LBII
#define P_V LBIO
// THUMB
#define P_BACKSPACE LTI
#define P_SPACE LTO

// RIGHT SIDE
// TOP 
#define P_GRAVE RTIO
#define P_J RTIO
#define P_L RTII
#define P_U RTM
#define P_Y RTR
#define P_NONE RTP
// MIDDLE
#define P_M RMIO
#define P_N RMII
#define P_E RMM
#define P_I RMR
#define P_O RMP
// BOTTOM
#define P_K RBIO
#define P_H RBII
#define P_COMMA RBM
#define P_DOT RBR
#define P_NUM RBP
// THUMB
#define P_RETURN RTO
#define P_REP RTI
/ {
   keymap {
      compatible = "zmk,keymap";
              colemak_layer {
/*           34 Keys
╭───────────────╮ ╭─────────────────╮
│ Q  W  F  P  B │ │ J  L  U  Y      │
│ A  R  S  T  G │ │ M  N  E  I  O   │
│ Z  X  C  D  V │ │ K  H  ,  . -NUM-│
╰─────╮BSPC- SPC│ │RET -REP-╭───────╯
      ╰─────────╯ ╰─────────╯         */
                        bindings = <
//╭──────┬──────┬──────┬──────┬───────╮╭─────┬──────┬───────────┬───────┬───────╮
   &kp Q  &kp W  &kp F  &kp P  &kp B    &kp J  &kp L  &kp U      &kp Y      
//├──────┼──────┼──────┼──────┼───────┤├─────┼──────┼───────────┼───────┼───────┤
   &kp A  &kp R  &kp S  &kp T  &kp G    &kp M  &kp N  &kp E      &kp I   &kp O
//├──────┼──────┼──────┼──────┼───────┤├─────┼──────┼───────────┼───────┼───────┤
   &kp Z  &kp X  &kp C  &kp D  &kp V    &kp K  &kp H  &kp COMMA  &kp DOT &mo NUM
//╰──────┴──────┴──╮                  ││                     ╭──┴───────┴───────╯
                    &kp BSPC &kp SPACE   &kp RET  &key_repeat 
//                 ╰────────┴─────────╯ ╰────────┴───────────╯
         >;
      };
   };
};

