/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "definitions/definitions.dtsi"

/*           34 Keys
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         */

#define ALP 0 // Alphabeth characters
#define CMD 1 // layer for chording
#define SYM 2 // Symboles
#define NUM 3 // Numbers
#define NAV 4 // Navigation
#define FUN 5 // Function Keys
#define DAN 6 // DANGER!
#define LCK 7 // Lock KB

#include "layers/alpha/handsdown_neu_var_pat.dtsi"
#include "layers/command.dtsi"
#include "layers/symbols.dtsi"
#include "layers/numbers.dtsi"
#include "layers/navigation.dtsi"
#include "layers/function.dtsi"
#include "layers/danger.dtsi"
#include "layers/lock.dtsi"

COMBO(to_Alpha, &to ALP, LTI RTI)
COMBO(mo_fun, &mo FUN, LTI LTO)


// #include "chording/chords.dtsi"

&led_strip {
    chain-length = <23>;
};

&caps_word {
   continue-list = <UNDERSCORE MINUS BACKSPACE>;
};



